<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">

  <div class="container">

    <div class="row">



      <div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">

        <div class="region">



          <div id="page-title-block" class="page-title block">

            <h1>Curricullum</h1>

          </div>
          <!-- /page-title-block -->



        </div>
        <!-- /region -->

      </div>
      <!-- /top-content-left-region -->



      <div id="top-content-right-region" class="top-content-right col-xs-12 col-md-6 text-right text-center-sm">

        <div class="region">



          <div id="page-breadcrumbs-block" class="page-breadcrumbs block">

            <div class="breadcrumbs">

              <a href="index.php">Home</a>

              <span class="delimiter">›</span>

              <a href="programs.php">About Us</a>

              <span class="delimiter">›</span> Curricullum

            </div>
            <!-- /breadcrumbs -->

          </div>
          <!-- /page-breadcrumbs-block -->



        </div>
        <!-- /region -->

      </div>
      <!-- /top-content-right-region -->



    </div>
    <!-- /row -->

  </div>
  <!-- /container -->

</div>
<!-- /top-content-region -->



<div id="content-region" class="content region">



  <div id="portfolio-single-block" class="portfolio-single">

    <div class="container">

      <div class="row">





        <div class="col-xs-12 margin-top-40 text-center">

          <h5>JavaScript is the most ubiquitous programming language in history. It's in every browser and now it's even being used on servers. This is one of the fastest growing areas of software development. Almost weekly, innovation is being made.</h5>

          <p>You’ll begin CodeGurukul with a feeling of excitement and anticipation. Twelve weeks later, you’ll follow the footsteps of our trailblazing alumni, taking the methodologies and best practices you perfected at our coding bootcamp to your next job. We’ve built world class software engineering curriculum and programming courses. However, CodeGurukul is, above all else, a world-class learning environment.</p>



          <a class="btn btn-primary margin-top-30" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">

                        Course details

                      </a>

        </div>
        <!-- /panel-heading -->

        <div class="panel-heading">

          <div id="collapseOne2" class="panel-collapse collapse out">

            <div class="panel-body">

              <div class="column-1-8" style="margin-top:67px;margin-left:370px">



                <h3>Prerequisites </h3>
                <br>

                <ul class="ulPadding">
                  <li class="disc">
                    <h4> Code School </h4>
                  </li>
                </ul>

                <ul class="ulPadding">
                  <li class="circle"> JavaScript Roadtrip Part 1 and Part 2</li>
                  <li class="circle"> Try jQuery</li>
                  <li class="circle"> CSS Cross Country</li>
                </ul>

                <ul class="ulPadding">
                  <li class="disc">
                    <h4>Chrome DevTools</h4>
                  </li>
                </ul>
                <br>

                <h3>Ideal Student Background</h3>
                <br>
                <p>The Fresher to Hacker is intense and the material is complex. Because of the stringent prerequisites (which are completed online), you’ll be working on advanced JavaScript concepts from day one, and building a client side application by week three and four. If you have a solid understanding of jQuery already and are ready to level up to application-grade JS, this is the course for you. </p>
                <br>
                <p>Before entering this development accelerator, students must demonstrate competency with:



                </p>
                <ul class="ulPadding">

                  <li class="disc">
                    <h4>HTML</h4>
                  </li>

                  <li class="circle"> Tags</li>

                  <li class="circle"> Attributes</li>
                  <br>



                  <li class="disc">
                    <h4>CSS</h4>
                  </li>

                  <li class="circle">Selectors</li>

                  <li class="circle">Properties &amp; values</li>

                  <li class="circle">Box model</li>

                  <li class="circle">Basics of twitter bootstrap or other grid system</li>
                  <br>



                  <li class="disc">
                    <h4>Control structures in JS</h4>
                  </li>

                  <li class="circle">Variables o Conditionals</li>

                  <li class="circle">Loops</li>

                  <li class="circle">Functions</li>
                  <br>



                  <li class="disc">
                    <h4>jQuery</h4>
                  </li>

                  <li class="circle">Selectors</li>

                  <li class="circle">DOM manipulation</li>
                  <br>

                </ul>

                With preferably years of software experience on a different stack as well.
                <p></p>
                <br>



                <h3> Course Content</h3>
                <br>

                <p>



                </p>
                <ul class="ulPadding">



                  <li class="disc"> Bash</li>
                  <br>

                  <li class="disc"> Version control with Git</li>
                  <br>

                  <li class="disc"> Developer tools with Chrome</li>
                  <br>

                  <li class="disc"> Data structures </li>

                  <li class="circle">Stack </li>

                  <li class="circle">Queue </li>

                  <li class="circle">Linked List</li>

                  <li class="circle">Binary Search Tree</li>

                  <li class="circle">Hash Table </li>

                  <li class="circle">Arrays</li>
                  <br>



                  <li class="disc"> Algorithms </li>

                  <li class="circle">Merge Sort </li>

                  <li class="circle">QuickSort </li>

                  <li class="circle">Map/Reduce </li>
                  <br>



                  <li class="disc"> Git- Source Version Control</li>

                  <li class="circle">Exploring the history of version control </li>

                  <li class="circle">Installing Git on Mac, Windows, and Linux </li>

                  <li class="circle">Initializing a repository </li>

                  <li class="circle">Writing useful commit messages </li>

                  <li class="circle">Understanding the Git three-tree architecture </li>

                  <li class="circle">Tracking when files are added, edited, deleted, or moved </li>

                  <li class="circle">Viewing change sets and comparing versions </li>

                  <li class="circle">Undoing changes and rolling back to previous versions </li>

                  <li class="circle">Ignoring changes to select files </li>

                  <li class="circle">Creating and working with code branches </li>

                  <li class="circle">Merging branches and resolving merge conflicts </li>

                  <li class="circle">Stashing changes for later </li>

                  <li class="circle">Working with hosted repositories and remote branches </li>

                  <li class="circle">Developing an effective collaboration workflow</li>
                  <br>



                  <li class="disc"> Functional JS with UnderscoreJS / Lo-Dash</li>
                  <br>

                  <li class="disc"> Object Oriented JavaScript (prototypal inheritance)</li>
                  <br>

                  <li class="disc"> Objects </li>
                  <br>

                  <li class="disc"> Build </li>

                  <li class="circle">Bower</li>

                  <li class="circle">Grunt &amp; grunt-contrib </li>

                  <li class="circle">Require/Browserify </li>

                  <li class="circle">npm </li>

                  <li class="circle">jslint </li>
                  <br>



                  <li class="disc"> Client-side MVC (BackboneJS)</li>
                  <br>

                  <li class="disc"> Client-side templating (Underscore &amp; Handlebars)</li>
                  <br>

                  <li class="disc"> Working with third party JavaScript APIs </li>
                  <br>

                  <li class="disc"> Async vs promises </li>
                  <br>

                  <li class="disc"> HTTP &amp; REST</li>
                  <br>

                  <li class="disc"> NodeJS </li>

                  <li class="circle">Streams </li>

                  <li class="circle">Bufers</li>

                  <li class="circle">fs</li>

                  <li class="circle">Package management </li>
                  <br>

                  <li class="disc"> Express &amp; Connect </li>
                  <br>

                  <li class="disc"> MongoDB </li>
                  <br>

                  <li class="disc"> AngularJs </li>

                  <li class="circle">What is AngularJS? </li>

                  <li class="circle">Working with complex models </li>

                  <li class="circle">Using a the $http service to read a JSON file</li>

                  <li class="circle">Binding data </li>

                  <li class="circle">Dividing your app into partials </li>

                  <li class="circle">Creating a details template </li>

                  <li class="circle">Using AngularJS animation event </li>
                  <br>



                  <li class="disc"> Amazon Web Services</li>

                  <li class="circle">The benefits of cloud architecture </li>

                  <li class="circle">Core cloud-based architectural principles </li>

                  <li class="circle">Monitoring resources and applications with CloudWatch </li>

                  <li class="circle">Using Amazon Machine Image (AMI) </li>

                  <li class="circle">Autoscaling </li>

                  <li class="circle">Using Elastic Beanstalk </li>

                  <li class="circle">Implementing message queues, Simple Workflow Service, and Simple Notification Services </li>

                  <li class="circle">Setting up security groups </li>

                  <li class="circle">Launching and connecting to an EC2 instance</li>

                  <li class="circle">Elastic Load Balancing </li>

                  <li class="circle">Virtual Private Cloud (VPC) </li>

                  <li class="circle">Using the AWS SDK</li>
                  <br>

                  <li class="disc"> Cloud Storage</li>

                  <li class="circle">Why use cloud storage? </li>

                  <li class="circle">Granting access to Amazon S3 buckets </li>

                  <li class="circle">Displaying bucket contents </li>

                  <li class="circle">Downloading files immediately </li>

                  <li class="circle">Creating a Dropbox application</li>

                  <li class="circle">Finding, downloading, and uploading files</li>





                </ul>

                <p></p>

                <br>

                <h3>Required Material </h3>
                <br>



                <ul class="ulPadding">

                  <li class="disc"> Laptop preferred (BSD or Linux is also accepted)

                  </li>
                  <li class="disc"> JavaScript Web Applications by Alex MacCaw. Published by O'Reilly. ISBN: 978-1-449- 30351-8

                  </li>
                  <li class="disc"> Testable JavaScript by Mark Ethan Trostler. Published by O'Reilly. ISBN: 978-1-449- 32339-4



                  </li>
                </ul>
                <br>
                <br>



                <h3>Resources </h3>
                <br>

                <ul class="ulPadding">

                  <li class="disc">
                    <h4> Books</h4>
                  </li>

                  <li class="circle"> JS: The Good Parts by Douglas Crockford </li>

                  <li class="circle"> Secrets of the JavaScript Ninja by Job Resig and Bear Bibeault </li>

                  <li class="circle"> JavaScript Enlightenment by Code Lindley </li>

                  <li class="circle"> JavaScript Pocket Reference by David Flanagan o HTML5 and JavaScript Web Apps by Wesley Hales </li>

                  <li class="circle"> JavaScript: The Definitive Guide, 6th Edition by David Flanagan </li>
                  <br>



                  <li class="disc">
                    <h4> Articles </h4>
                  </li>

                  <li class="circle"> JavaScript Style Guide </li>

                  <li class="circle"> JavaScript Playground </li>

                  <li class="circle"> Express JS Getting Started Guide </li>

                  <li class="circle"> VowsJS </li>
                  <br>



                  <li class="disc">
                    <h4>  Videos </h4>
                  </li>

                  <li class="circle"> O’Reilly Webcast: How to Build a Chatroom in JavaScript in Under an Hour </li>

                  <li class="circle"> Node.js: A Jumpstart for Devs</li>

                  <li class="circle"> NodeSchool </li>



                </ul>

                <br>
                <br>

                <h3>Course Guarantee </h3>
                <br>

                <p>The course guarantees full time jobs to all alumni within two months after course competition or 100% cash back with a job at a partner company in the fourth month after the course. </p>

                <br>
                <br>

                <h3>Rules and Duration </h3>
                <br>



                <ul class="ulPadding">



                  <li class="disc"> All candidates must attend all program days without fail. </li>

                  <li class="disc"> All project assignments have to be completed and submitted on time. </li>

                  <li class="disc"> The course runs from 9am to 9pm , 7 days a week and for two months with 4 days holiday per month </li>
                  <br>



                </ul>



              </div>

            </div>
            <!-- /panel-body -->

          </div>
          <!-- /collapseOne2 -->

        </div>



      </div>
      <!-- /col-xs-12 -->



      <div class="col-xs-12 col-sm-12 margin-top-50">

        <h5>Our Teaching Style</h5>

        <p>We believe that teaching consists of much more than just the materials we provide and the curriculum we created. We currently use a mixture of workshops, exercises, projects, classroom break-out sessions and end of the week tests to help our students understand programming. The immersive environment, having expert teachers on hand all day, and pairing with other students are all key to our teaching process.</p>
        <p>Programming is a practical skill, so you can't learn it just by reading books or listening to lectures. Therefore, we encourage our students to spend up to 80% of their time writing code to get the experience they need to become junior web developers. While we start every day with a lecture or a workshop, most of the time the students pair with each other on practical exercises in the presence of experts.</p>
        <p>We encourage our students to learn as efficiently as they can, which can mean doing a different exercise to the rest of the class. We also understand that each learner is different, and real life interaction enables us to tailor the explanation to individual student. So don't be put off if you've already covered the basics, or if the technologies mentioned on this page mean nothing to you.</p>
      </div>
      <!-- /col-xs-12 -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /portfolio-single-block -->
</div>
<!-- /content-region -->



<div id="pricing-tables-1-block" class="pricing-tables-1 block ">
  <div class="container">

    <h5>What you'll learn</h5>

    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="pricing-table">
          <div class="pricing-table-title ruby-logo topic-image">

          </div>
          <!-- /pricing-table-title -->
          <div class="pricing-table-title">
            <h3>NodeJS</h3>
          </div>
          <!-- /pricing-table-price -->
          <hr style="margin-left: 100px; margin-right: 100px;">
          <div class="pricing-table-description">
            <p>You will build advanced web applications using Nodejs, a powerful framework.</p>
          </div>
          <!-- /pricing-table-description -->
        </div>
        <!-- /pricing-table -->
      </div>
      <!-- /col-xs-12 -->

      <div class="col-xs-12 col-md-4">
        <div class="pricing-table">
          <div class="pricing-table-title html-logo topic-image">

          </div>
          <!-- /pricing-table-title -->
          <div class="pricing-table-title">
            <h3>HTML5 and CSS3</h3>
          </div>
          <!-- /pricing-table-price -->
          <hr style="margin-left: 100px; margin-right: 100px;">
          <div class="pricing-table-description">
            <p>The fundamentals are always important — let's show you how to make things look slick.</p>
          </div>
          <!-- /pricing-table-description -->
        </div>
        <!-- /pricing-table -->
      </div>
      <!-- /col-xs-12 -->

      <div class="col-xs-12 col-md-4">
        <div class="pricing-table">
          <div class="pricing-table-title javascript-logo topic-image">

          </div>
          <!-- /pricing-table-title -->
          <div class="pricing-table-title">
            <h3>Javascript and jQuery</h3>
          </div>
          <!-- /pricing-table-price -->
          <hr style="margin-left: 100px; margin-right: 100px;">
          <div class="pricing-table-description">
            <p>Javascript and jQuery will enable you to build dynamic web applications.</p>
          </div>
          <!-- /pricing-table-description -->
        </div>
        <!-- /pricing-table -->
      </div>
      <!-- /col-xs-12 -->
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-xs-12 col-md-4">
        <div class="pricing-table">
          <div class="pricing-table-title git-logo topic-image">

          </div>
          <!-- /pricing-table-title -->
          <div class="pricing-table-title">
            <h3>Git and Heroku</h3>
          </div>
          <!-- /pricing-table-price -->
          <hr style="margin-left: 100px; margin-right: 100px;">
          <div class="pricing-table-description">
            <p>But what if I ruin my code and can't figure out how to fix it? Revert back with Git, and push to Heroku to get your website live</p>
          </div>
          <!-- /pricing-table-description -->
        </div>
        <!-- /pricing-table -->
      </div>
      <!-- /col-xs-12 -->

      <div class="col-xs-12 col-md-4">
        <div class="pricing-table">
          <div class="pricing-table-title architecture-logo topic-image">

          </div>
          <!-- /pricing-table-title -->
          <div class="pricing-table-title">
            <h3>Software Design</h3>
          </div>
          <!-- /pricing-table-price -->
          <hr style="margin-left: 100px; margin-right: 100px;">
          <div class="pricing-table-description">
            <p>From Model-View-Controller to Test Driven Development, we'll show you how to properly write software that works.</p>
          </div>
          <!-- /pricing-table-description -->
        </div>
        <!-- /pricing-table -->
      </div>
      <!-- /col-xs-12 -->

      <div class="col-xs-12 col-md-4">
        <div class="pricing-table">
          <div class="pricing-table-title agile-logo topic-image">

          </div>
          <!-- /pricing-table-title -->
          <div class="pricing-table-title">
            <h3>Agile and Lean</h3>
          </div>
          <!-- /pricing-table-price -->
          <hr style="margin-left: 100px; margin-right: 100px;">
          <div class="pricing-table-description">
            <p>You will learn modern lean startup principles and agile methodologies used in software development.</p>
          </div>
          <!-- /pricing-table-description -->
        </div>
        <!-- /pricing-table -->
      </div>
      <!-- /col-xs-12 -->

    </div>
    <!-- /row -->


  </div>
  <!-- /container -->
</div>