<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                About Us
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- /top-content-region -->
<section id="content" class="content region">

    <div id="about-content-block" class="about-content block">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-6">
                    <h1>Our company background</h1>
                    <p>Codegurukul trains passionate and creative people in web and mobile development. We bring together people with diverse perspectives and backgrounds who are passionate about technology,from investment bankers and spinal surgeons to cartoonists and sky-diving instructors. Codegurukul graduates now work as software developers in top notch tech companies.</p>
                    <p>The duration of our program is 12 weeks, full-time, and we train people for careers in software development. We partner with Codeniti to launch the Codeniti Fellowship Program and provide free training to under-represented groups in the tech community. We also offer part-time courses, corporate training, and a Pre-College Program for high school students.
                    </p>
                </div>
                <!-- /col-xs-12 -->

                <div class="col-xs-12 col-md-6 margin-top-sm-30">
                    <img src="../img/about-us/codeshot.jpg" alt="cookies" title="cookies" class="img-responsive img-full-width" />
                </div>
                <!-- /col-xs-12 -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /about-content-block -->



</section>
<!-- /content-region -->



<div id="content-2-region" class="content-2 region">

    <div id="team-block" class="team block">
        <div class="container">

            <h1 class="text-center">Our Team</h1>

            <div class="row">

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/sobin-new.jpg" alt="member 1" title="member 1" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="https://www.facebook.com/sobingt"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                                <a href="https://www.linkedin.com/in/sobingt"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Sobin George Thomas</h6>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->


                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/stanly.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="https://www.facebook.com/stanlysir"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                                <a href="https://twitter.com/StanlyJSamuel"><i class="fa fa-twitter fa-lg mentor-social-links twitter"></i> </a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Stanly Samuel</h6>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/amit_erandole.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="https://www.facebook.com/amit.erandole"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                                <a href="https://www.linkedin.com/in/amiterandole"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Amit Erandole</h6>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->  

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50" >
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/chaitanya.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="http://facebook.com"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                                <a href="in.linkedin.com/pub/chaitanya-reddy-tatiparti/11/686/822/en"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Chaitanya Reddy Tatiparti</h6>
                    </div>
                    <!-- /team-item-name -->
                </div>
                <!-- /team-item -->

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/warren.jpg" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="https://www.facebook.com/warren.gonsalves.9"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
<!--                                <a href="#"><i class="fa fa-linkedin-square fa-lg mentor-social-links"></i></a>-->
                                <br/>

                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Warren Gonsalves</h6>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/abhishek.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="http://facebook.com/abhshah?fref=ts"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
<!--                                <a href="#"><i class="fa fa-linkedin-square fa-lg mentor-social-links"></i></a>-->
                                <br/>

                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Abhishek Shah</h6>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/loyd.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="http://facebook.com"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                                <a href="in.linkedin.com/in/saldanhalloyd/en"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Lloyd Saldanha</h6>
                    </div>
                    <!-- /team-item-name -->
                </div>
                <!-- /team-item -->
            </div>

        </div>
        <!-- /row -->>
    </div>
    <!-- /container -->
</div>
<!-- /team-block -->

</div>
<!-- /content-2-region -->