<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                ADMIN PAGE - {{course.name}} DETAILS
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<section>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-md toggle-leads-attendees" ng-click="previousPage()" ng-if="previousState"> Previous page</button>
            </div>
            <div class="col-sm-2 col-sm-offset-8">
                <button class="btn btn-primary btn-md toggle-leads-attendees" ng-click="toggleLeadsAttendees()"><span ng-show="showAttendees"> View Leads </span> <span ng-show="!showAttendees"> View Attendees </span></button>
            </div>
        </div>
    </div>

    <h1 class="text-center" ng-show="showAttendees"> List of Attendees </h1>
    <h1 class="text-center" ng-show="!showAttendees"> List of Leads </h1>
    <div class="container">
        <hr>
    </div>

    <div class="container" ng-show="showAttendees">
        <div class="row">
            <div class="col-sm-8">
                <button class="btn btn-primary btn-md" ng-click="adminAddAttendeeModal()"> Add an attendee </button>
            </div>
            <div class="col-sm-4">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="search" class="form-control" placeholder="Search..." ng-model="searchAttendee">
                        </div>      
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    Change status of selected attendees to:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control" ng-model="progressStatus">
                    <option value="" selected disabled>Select an option</option>
                    <option value="completed">Completed</option>
                    <option value="incomplete">Incomplete</option>
                    <option value="cancelled">Cancelled</option>
                </select>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary btn-md " ng-click="statusChange()"> Change Status </button>
            </div>
        </div>
        <table class="table table-condensed" ng-hide="attendees.length == '0'">
            <thead>
                <tr>
                    <th>
                        <!--                        <input type="checkbox" ng-model="selectAll" ng-click="selectAllRows()">-->
                    </th>
                    <th>
                        <a href="" ng-click="sortType = '_id.profile.fullname'; sortReverse = !sortReverse">
                            NAME 
                            <span ng-show="sortType == '_id.profile.fullname' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_id.profile.fullname' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = '_id.username'; sortReverse = !sortReverse">
                            USERNAME 
                            <span ng-show="sortType == '_id.username' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_id.username' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = '_id.email'; sortReverse = !sortReverse">
                            EMAIL 
                            <span ng-show="sortType == '_id.email' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_id.email' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>CONTACT</th>
                    <th>
                        <a href="" ng-click="sortType = 'amount'; sortReverse = !sortReverse">
                            AMOUNT 
                            <span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = 'mop'; sortReverse = !sortReverse">
                            PAYMENT MODE 
                            <span ng-show="sortType == 'mop' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'mop' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>

                        CHEQUE NO. / <br> TRANSACTION ID
                    </th>
                    <th>
                        <a href="" ng-click="sortType = 'paymentStatus'; sortReverse = !sortReverse">
                            PAYMENT STATUS 
                            <span ng-show="sortType == 'paymentStatus' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'paymentStatus' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = 'progressStatus'; sortReverse = !sortReverse">
                            COURSE STATUS 
                            <span ng-show="sortType == 'progressStatus' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'progressStatus' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attendee in attendees | orderBy:sortType:sortReverse | filter:searchAttendee" class="course-row" ng-class="{'success' : tableSelection[$index]}">
                    <td> <input type="checkbox" ng-model="tableSelection[$index]" ng-true-value="true" ng-false-value="false" ng-click="listArray(attendee._id._id, $index)"> </td>
                    <td> {{attendee._id.profile.fullname}} </td>
                    <td> {{attendee._id.username}} </td>
                    <td> {{attendee._id.email}} </td>
                    <td> {{attendee._id.mobile}} </td>
                    <td>
                        <p ng-show="!edit">{{attendee.amount}}</p>
                        <input type="text" class="form-control input-sm" placeholder="Enter amount" ng-model="attendee.amount" ng-show="edit" ng-change="change()">
                    </td>
                    <td class="capitalize-text">
                        <p ng-show="!edit">{{attendee.mop}}</p>
                        <select class="form-control input-sm" ng-model="attendee.mop" required ng-show="edit" ng-change="change()">
                            <option value="" disabled selected>Select mode of payment</option>
                            <option value="Cash">Cash</option>
                            <option value="Cheque">Cheque</option>
                            <option value="Demand Draft">DD</option>
                            <option value="NEFT">NEFT</option>
                            <option value="Online">Online</option>
                        </select>
                    </td>
                    <td>
                        <p ng-show="!edit"><span ng-if="attendee.mop !== 'Cash'">{{attendee.payment_id}}</span><span ng-if="attendee.mop == 'Cash'"> N/A </span></p>
                        <input type="text" class="form-control input-sm" placeholder="Enter transaction id" ng-model="attendee.payment_id" ng-show="edit" ng-change="change()" ng-disabled="attendee.mop == 'Cash'">
                    </td>
                    <td class="capitalize-text"> 
                        <p ng-show="!edit">{{attendee.paymentStatus}}</p>
                        <select class="form-control input-sm" ng-model="attendee.paymentStatus" required ng-show="edit" ng-change="change()">
                            <option value="registered">Registered</option>
                            <option value="processing">Payment in process</option>
                            <option value="paid">Paid</option>
                        </select>
                    </td>
                    <td class="capitalize-text"> 
                        <p>{{attendee.progressStatus}}</p>
                    </td>
                    <td> <a href="" ng-show="!edit" ng-click="edit = !edit"> <i class="fa fa-pencil"></i> </a> <span  ng-disabled="!edited"><a href="" ng-show="edit" ng-click="updatePayment(attendee.mop, attendee.paymentStatus, attendee.amount, attendee._id._id, attendee.payment_id); edit = !edit"> <i class="fa fa-floppy-o"></i> </a></span> <a href="" ng-show="!edit"> <i class="fa fa-trash-o"></i> </a> <a href="" ng-show="edit" ng-click="edit = !edit"> <i class="fa fa-times"></i> </a> </td>
                </tr>
            </tbody>
            <hr>
        </table>

        <h1 class="text-center" ng-show="attendees.length == '0'">No attendees to show</h1>


    </div>

    <div class="container" ng-show="!showAttendees">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="search" class="form-control" placeholder="Search..." ng-model="searchLead">
                        </div>      
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <table class="table table-condensed" ng-hide="leads.length == '0'">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="sortType = '_id.profile.fullname'; sortReverse = !sortReverse">
                            NAME 
                            <span ng-show="sortType == '_id.profile.fullname' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_id.profile.fullname' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = '_id.username'; sortReverse = !sortReverse">
                            USERNAME 
                            <span ng-show="sortType == '_id.username' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_id.username' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="" ng-click="sortType = '_id.email'; sortReverse = !sortReverse">
                            EMAIL 
                            <span ng-show="sortType == '_id.email' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_id.email' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>CONTACT</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lead in leads | orderBy:sortType:sortReverse | filter:searchLead">
                    <td> {{lead._id.profile.fullname}} </td>
                    <td> {{lead._id.username}} </td>
                    <td> {{lead._id.email}} </td>
                    <td> {{lead._id.mobile}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<!--ADD ATTENDEE MODAL-->
<modal-dialog class="signupWithEmailModal" show='adminAddAttendeeModalShown' dialog-title="Add an Attendee" height="auto" width="350px">
    <form method="post" name="adminAddAttendeeForm">    
        <div class="register-modal">
            <div class="radio-buttons">
                <ul type="none">
                    <li>
                        <input type="radio" ng-value="true" ng-model="newUser" ng-checked="true"> New user
                    </li>
                    <li>
                        <input type="radio" ng-value="false" ng-model="newUser"> Existing user
                    </li>
                </ul>
            </div>

            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.fullname.$invalid &amp;&amp; adminAddAttendeeForm.fullname.$dirty }" class="form-group has-feedback">
                <input type="text" name="fullname" ng-model="fullname" placeholder="Full Name" ng-required="newUser==true" autofocus="" class="form-control input-md" ng-show="newUser == true">
                <div ng-if="adminAddAttendeeForm.fullname.$dirty" ng-messages="adminAddAttendeeForm.fullname.$error" class="help-block text-danger">
                    <div ng-message="required">Please enter the attendee's full name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.username.$invalid &amp;&amp; adminAddAttendeeForm.username.$dirty }" class="form-group has-feedback">
                <input type="text" name="username" ng-model="username" placeholder="Username" ng-required="newUser==true" autofocus="" class="form-control input-md" ng-show="newUser == true">
                <div ng-if="adminAddAttendeeForm.username.$dirty" ng-messages="adminAddAttendeeForm.username.$error" class="help-block text-danger">
                    <div ng-message="required">Please enter a username.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.newUserEmail.$invalid &amp;&amp; adminAddAttendeeForm.newUserEmail.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="newUserEmail" ng-model="email" placeholder="Email" unique-email="" ng-required="newUser==true" ng-show="newUser==true" class="form-control input-md"/>
                <div ng-if="adminAddAttendeeForm.newUserEmail.$dirty" ng-messages="adminAddAttendeeForm.newUserEmail.$error" class="help-block text-danger">
                    <div ng-message="required" ng-if="newUser==true">An email address is required.</div>
                    <div ng-message="email" ng-if="newUser==true">The entered email address is invalid.</div>
                    <div ng-message="unique" ng-if="newUser==true">This email already exists.</div>
                    <!--                    <div ng-message="match" ng-if="newUser==false">This email does not exist in the database. </div>-->
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.existingUserEmail.$invalid &amp;&amp; adminAddAttendeeForm.existingUserEmail.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="existingUserEmail" ng-model="email" placeholder="Email" ng-required="newUser==false" ng-show="newUser==false" class="form-control input-md" match-email=""/>
                <div ng-if="adminAddAttendeeForm.existingUserEmail.$dirty" ng-messages="adminAddAttendeeForm.existingUserEmail.$error" class="help-block text-danger">
                    <div ng-message="required" ng-if="newUser==false">An email address is required.</div>
                    <div ng-message="email" ng-if="newUser==false">The entered email address is invalid.</div>
                    <div ng-message="match" ng-if="newUser==false"><span ng-show="newUser == false">This email does not exist in the database.</span> </div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.mobile.$invalid &amp;&amp; signupForm.mobile.$dirty }" class="form-group has-feedback">
                <input type="text" name="mobile" ng-model="mobile" placeholder="Mobile" class="form-control input-md "/ ng-required="newUser==true" ng-show="newUser == true">
                <div ng-if="adminAddAttendeeForm.mobile.$dirty" ng-messages="adminAddAttendeeForm.mobile.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter your mobile number.</div>
                </div>
            </div>

            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.amount.$invalid &amp;&amp; adminAddAttendeeForm.amount.$dirty }" class="form-group has-feedback">
                <input type="text" name="amount" ng-model="amount" placeholder="Amount"  class="form-control input-md" required/>
                <div ng-if="adminAddAttendeeForm.amount.$dirty" ng-messages="adminAddAttendeeForm.amount.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter the amount.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.mop.$invalid &amp;&amp; signupForm.mop.$dirty }" class="form-group has-feedback">
                <select class="form-control input-md" ng-model="mop" required >
                    <option value="" disabled selected>Select mode of payment</option>
                    <option value="Cash">Cash</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Demand Draft">DD</option>
                    <option value="NEFT">NEFT</option>
                </select>
                <div ng-if="adminAddAttendeeForm.mop.$dirty" ng-messages="adminAddAttendeeForm.mop.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Select an option.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.payment_id.$invalid &amp;&amp; signupForm.payment_id.$dirty }" class="form-group has-feedback">
                <input type="text" name="mobile" ng-model="payment_id" placeholder="Payment ID" class="form-control input-md" ng-required="mop !== 'Cash'" ng-show="mop == 'Cheque' || mop == 'Demand Draft' || mop == 'NEFT'">
                <div ng-if="adminAddAttendeeForm.payment_id.$dirty" ng-messages="adminAddAttendeeForm.payment_id.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter the payment ID.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : adminAddAttendeeForm.paymentStatus.$invalid &amp;&amp; signupForm.paymentStatus.$dirty }" class="form-group has-feedback">
                <select class="form-control input-md" ng-model="paymentStatus" required >
                    <option value="" disabled selected>Select status of payment</option>
                    <option value="processing">Processing</option>
                    <option value="paid">Paid (for cash payments only)</option>
                </select>
                <div ng-if="adminAddAttendeeForm.paymentStatus.$dirty" ng-messages="adminAddAttendeeForm.paymentStatus.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Select an option.</div>
                </div>
            </div>
            <div class="text-center mobile-number">
                <!--                        <small>We will send you updates to your number</small>-->
            </div>

        </div>
        <div class="modalButtons text-center">
            <button class="btn btn-md angularCancelButton cancelButton" type="button" ng-click="adminAddAttendeeModal()"> Cancel </button>
            <button class="btn btn-md successButton " ng-disabled="adminAddAttendeeForm.$invalid" ng-click="addAttendee(newUser, fullname, username, email, mobile, mop, amount, paymentStatus, payment_id)"> Add </button>
        </div>
    </form>  
</modal-dialog>