<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                ADMIN PAGE - EDIT COURSE
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<section>
    <h2 class="text-center">{{course.name}}</h2>

    <div class="container jumbotron">
        <form>
            <h5 class="text-center">Course Details</h5>
            <div class="form-group">
                <label>Course Name:</label>
                <input type="text" class="form-control input-md" ng-model="course.name" readonly>
            </div>
            <div class="form-group">
                <label>Course Desription:</label>
                <textarea type="text" class="form-control input-md" ng-model="course.description"></textarea>
            </div>
            <div class="form-group">
                <label>Course Image Path:</label>
                <input type="text" class="form-control input-md">
            </div>
            <div class="form-group">
                <label>Course Price:</label>
                <input type="text" class="form-control input-md" ng-model="course.price">
            </div>
            <div class="form-group">
                <label>Course Technology:</label>
                <input type="text" class="form-control input-md" ng-model="course.tech">
            </div>
            <div class="form-group">
                <label>Course Duration:</label>
                <input type="text" class="form-control input-md" ng-model="course.duration">
            </div>
            <div class="form-group">
                <label>Course Date:</label>
                <input type="date" class="form-control input-md" ng-model="course.date">
            </div>
            <div class="form-group">
                <label>Course Batch Size:</label>
                <input type="number" class="form-control input-md" ng-model="course.batchSize">
            </div>
            <div class="form-group">
                <label>Course Place:</label>
                <input type="text" class="form-control input-md" ng-model="course.place">
            </div>
            <div class="form-group">
                <label>Invite Only:</label>
                <select class="form-control input-md" ng-model="course.inviteOnly">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="form-group">
                <label>Invite Message:</label>
                <textarea type="text" class="form-control input-md" ng-model="course.inviteMessage"></textarea>
            </div>
            <hr>
            <hr>
            <h5 class="text-center">Mentors</h5>
            <div class="form-group" ng-repeat="mentor in course.mentors">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <label>Mentor Name:</label>
                    <input type="text" class="form-control input-md" ng-model="mentor.name"><br>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <label>Profile Link:</label>
                    <input type="text" class="form-control input-md" ng-model="mentor.profile"><br>
                </div>
                <div class="col-md-12 col-xs-12 custom-padding-bottom-20">
                    <label>Description:</label>
                    <input type="text" class="form-control input-md" ng-model="mentor.description">
                </div>
                <hr>
            </div>

            <hr>
            <hr>
            <h5>Course Contents</h5>
            <div class="form-group" ng-repeat="content in course.content">
                <div class="col-md-12">
                    <label> Module Number{{$index + 1}}</label>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <label>Title</label>
                    <input type="text" class="form-control input-md" ng-model="content.title">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <label>Difficulty</label>
                    <select class="form-control input-md" ng-model="content.difficulty">
                        <option value="Easy" selected>Easy</option>
                        <option value="Intermediate" selected>Intermediate</option>
                        <option value="Hard" selected>Hard</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <label>Time</label>
                    <input type="text" class="form-control input-md" ng-model="content.time">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label>Description</label>
                    <textarea type="text" class="form-control input-md" ng-model="content.description"></textarea>
                </div>
            </div>
        </form>
    </div>

</section>