<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                AngularJS Workshop
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">

            <!-- ==== COURSES START == -->

            <div class="col-sm-8">
                <h1>What this workshop is all about</h1>
                <p>This training aims at equipping the participants with the necessary knowledge and skills required to build rich internet applications using cutting edge RIA framework from google 'Angular.js'.</p>
                <hr>
                <h3>What you will be taught</h3>
                <h5 class="lesson-title"><a href="#">Introduction to Angular.JS</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <ul>
                    <li>How Angular.js is opinionated</li>
                    <li>Difference between Backbone.js and Angular.js</li>
                </ul>
                <hr>
                <h5 class="lesson-title"><a href="#">Angular.JS Building Blocks</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <ul>
                    <li>Controller Component</li>
                    <li>Model Component</li>
                    <li>View Component</li>
                    <li>Directives
                    <li>Filters</li>
                    <li>Services</li>
                    <li>DI in Angular.js</li>
                </ul>
                <hr>
                <h5 class="lesson-title"><a href="#">Anatomy of an Angular.js Applications</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <ul>
                    <li>Creating Boundaries using ng-app</li>
                    <li>Model View Controller</li>
                    <li>Templates and Data Binding</li>
                    <li>Repeating elements in templates</li>
                    <li>Using Expressions, CSS Classes and Styles</li>
                    <li>Using Controllers for UI responsibility</li> separation</li>
                <li>Responding to model changes</li>
                </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Data Binding in Angular.js</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Easy</span>
            </div>
            <ul>
                <li>Understanding Built-in Directives</li>
                <li>Scope resolution</li>
                <li>One way and Two way data binding</li>
            </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Using Filters</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Easy</span>
            </div>
            <ul>
                <li>Filters Overview</li>
                <li>Understanding Filter Expressions</li>
                <li>Building custom Filters</li>
            </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Services</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Easy</span>
            </div>
            <ul>
                <li>Services Overview</li>
                <li>Modularity using Services</li>
                <li>Injecting Services</li>
            </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Directives</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Intermediate</span>
            </div>
            <ul>
                <li>Directives Overview</li>
                <li>Creating Directives</li>
                <li>The Directive Definition Object</li>
                <li>Compilation and Linking</li>
                <li>Creating Components</li>
            </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Communicating with Servers</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Intermediate</span>
            </div>
            <ul>
                <li>Communicating over $http</li>
                <li>Configuring the requests</li>
                <li>Sending Http Headers</li>
                <li>Caching Responses</li>
                <li>Request and Response Transformation</li>
                <li>Using RESTful Resources</li>
                <li>Communication over WebSockets</li>
            </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Unit Testing</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Intermediate</span>
            </div>
            <ul>
                <li>Testing Models using Jasmine</li>
                <li>Test considerations for Directives and Filters</li>
                <li>Using Angular Mocks</li>
            </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Modular JavaScript</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Intermediate</span>
            </div>
            <ul>
                <li>Techniques for modularizing JavaScirpt code</li>
            </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Miscellaneous</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Intermediate</span>
            </div>
            <ul>
                <li>Overview of OSS Angular Modules</li>
                <li>Customizing Angular Modules</li>
            </ul>
            <hr>
        </div>

        <!-- ==== COURSES END == -->

        <!-- ==== SIDEBAR START == -->

        <div class="col-sm-4">

            <!-- ==== COURSE DATA START == -->
            <div class="widget" data-scroll-reveal>
                <ul>
                    <li class="price">
                        Price <span class="pull-right">₹ 3,500</span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-068"></span>
                        <span class="pull-right">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-032"></span>
                        <span class="pull-right">Web Development</span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-038"></span>
                        <span class="pull-right">2 Days</span>
                    </li>
                    <li class="course-data">
                        <span class="icon fa fa-calendar"></span>
                        <span class="pull-right">1st & 2nd May</span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-006"></span>
                        <span class="pull-right">20 Students</span>
                    </li>
                </ul>
                <p class="text-center"> <i class="fa fa-clock-o"></i> Hurry! Only 2 spots remaining!</p>
                <p><a class="btn btn-primary take-course" ng-click="payment()">Take This Course</a></p>
                <p class="text-center share">		
                    <a href="http://www.facebook.com/codegurukul"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="http://www.twitter.com/codegurukul"><i class="fa fa-twitter fa-lg"></i></a>
                </p>
            </div>
            <!-- ==== COURSE DATA END == -->

            <!-- ==== TEACHER START == -->
            <div class="widget" data-scroll-reveal>
                <h3>Mentors</h3>
                <div class="teacher row">
                    <div class="col-sm-12">
                        <img src="img/sobin_thumb.png" alt="" class="pull-left" />
                        <h5>Sobin G. Thomas</h5>
                        <p>Javascript Geek with 7+ years of industry experience</p>
                    </div>
                </div>
                <hr>
                <div class="teacher row">
                    <div class="col-sm-12">
                        <img src="img/stanly_thumb.jpg" alt="" class="pull-left" />
                        <h5>Stanly Samuel</h5>
                        <p>Knowledge imparter with 6+ years of experience in teaching</p>
                    </div>
                </div>

            </div>

            <!-- ==== TEACHER END == -->

        </div>

        <!-- ==== SIDEBAR END == -->

    </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->





<!-- ========== SIGNUP MODAL ========== -->

<modal-dialog class="signupModal" show='signupModalShown' dialog-title="Register for the Workshop" height="auto" width="350px" >
    <div class="register-modal text-center">
        <button class="btn btn-lg signup-button social-signup btn-github"> <span><i class="fa fa-github-square"></i></span> <span>Github</span> </button>
        <div class="col-sm-12">
            <p>or</p>
        </div>
        <button class="btn btn-lg signup-button social-signup btn-linkedin"> <span><i class="fa fa-linkedin-square"></i></span> <span>Linkedin</span> </button>
        <div class="col-sm-12">
            <p>or</p>
        </div>

        <button class="btn btn-lg signup-button" ng-click="signupModal();signupWithEmailModal()" > <span><i class="fa fa-envelope-o"></i></span> <span>Signup with your email</span> </button>

    </div>
    <div class="col-sm-12">
        <p class="text-center">or</p>
    </div>
    <button class="btn btn-lg signup-button" ng-click="loginModal();signupModal()" > Login </button>
    <br>
    <div class="col-sm-12 text-center">
        <small ng-click="signupModal();registerModal()">or Register as a Guest User</small>
    </div>
    <br>
    <br>
    <div class="modalButtons text-center">
        <button class="btn btn-md angularCancelButton cancelButton custom-remove-margin" ng-click="signupModal()"> Cancel </button>
    </div>
</modal-dialog>
<!-- ========== SIGNUP MODAL ENDS ========== -->
<register-modal ng-data-name="Angularjs">
</register-modal>
<!-- ========== SIGNUP WITH EMAIL MODAL ========== -->

<modal-dialog class="signupWithEmailModal" show='signupWithEmailModalShown' dialog-title="Signup with your email" height="auto" width="350px">
    <form method="post" name="signupWithEmailForm" ng-controller="SignupCtrl">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.username.$invalid &amp;&amp; signupWithEmailForm.username.$dirty }" class="form-group has-feedback">
                <input type="text" name="username" ng-model="username" placeholder="Username" required="" autofocus="" class="form-control input-lg"/>
                <div ng-if="signupWithEmailForm.username.$dirty" ng-messages="signupWithEmailForm.username.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter a username.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.email.$invalid &amp;&amp; signupWithEmailForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" class="form-control input-lg"/>
                <div ng-if="signupWithEmailForm.email.$dirty" ng-messages="signupWithEmailForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
                <input type="password" name="password" ng-model="password" placeholder="Password" required="" class="form-control input-lg"/>
                <div ng-if="signupWithEmailForm.password.$dirty" ng-messages="signupWithEmailForm.password.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">A Password is required.</div>
                </div>
            </div>
        </div>
        <br>
        <div class="modalButtons">
            <button class="btn btn-md angularCancelButton cancelButton" ng-click="signupWithEmailModal()"> Cancel </button>
            <button class="btn btn-md successButton " ng-disabled="signupWithEmailForm.$invalid" ng-click="signup();signupWithEmailModal();loginModal()"> Signup </button>
        </div>
    </form>  
</modal-dialog>
<!-- ========== SIGNUP WITH EMAIL MODAL ENDS ========== -->

<!-- ========== LOGIN MODAL ========== -->

<modal-dialog class="loginModal" show='loginModalShown' dialog-title="Login with your details" height="auto" width="350px">
    <form method="post" name="loginForm" ng-controller="LoginCtrl">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : loginForm.email.$invalid &amp;&amp; loginForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" autofocus= "" class="form-control input-lg"/>
                <div ng-if="loginForm.email.$dirty" ng-messages="loginForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : loginForm.tel.$invalid &amp;&amp; loginForm.tel.$dirty }" class="form-group has-feedback">
                <input type="password" name="password" ng-model="password" placeholder="Password" required="" class="form-control input-lg"/>
                <div ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter your password.</div>
                </div>
            </div>
        </div>
        <br>
        <div class="modalButtons">
            <button class="btn btn-md angularCancelButton cancelButton" ng-click="loginModal()"> Cancel </button>
            <button class="btn btn-md successButton " ng-disabled="signupWithEmailForm.$invalid" ng-click="login();loginModal()"> Login </button>
        </div>
    </form>  
</modal-dialog>
<!-- ========== LOGIN MODAL ENDS ========== -->


<!-- ========== REGISTER MODAL ========== -->
<modal-dialog class="registerModal" show='registerModalShown' dialog-title="AngularJS Workshop Registration" height="auto" width="350px" >
    <form method="post" name="queryForm">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : queryForm.fullName.$invalid &amp;&amp; queryForm.fullName.$dirty }" class="form-group has-feedback">
                <input type="text" name="displayName" ng-model="name" placeholder="Name" required="" autofocus="" class="form-control input-lg"/>
                <div ng-if="queryForm.fullName.$dirty" ng-messages="queryForm.fullName.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter your name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.email.$invalid &amp;&amp; queryForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.email.$dirty" ng-messages="queryForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
                <input type="number" name="contact" ng-model="contact" placeholder="Your Contact No" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.contact.$dirty" ng-messages="queryForm.contact.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Your Contact No is required.</div>
                    <div ng-message="number">Your Contact No is Invalid</div>
                </div>
            </div>
        </div>
        <br>
        <div class="modalButtons">
            <button class="btn btn-md angularCancelButton cancelButton" ng-click="registerModal()"> Cancel </button>
            <button ng-controller="PaymentCtrl" class="btn btn-md successButton angularSuccessButton" ng-disabled="queryForm.$invalid" ng-click="sendEmail(name,email,contact); registerModal(); pay();"> Proceed to Payment </button>
        </div>
    </form>  
</modal-dialog>
<!-- ========== REGISTER MODAL ENDS ========== -->