<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Contact
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== MAP START ========== -->

<!-- Google Map Script -->

<!-- 


<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>

<div id="map-canvas"></div>
-->

<!-- ========== MAP END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Contact Details</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-3">
                        <i class="fa fa-map-marker fa-5x primary-color"></i>
                    </div>
                    <div class="col-lg-10 col-xs-9">
                        <h3 class="no-margin">Address</h3>
                        Karthik Complex,<br>
                        Opp. Laxmi Industrial Estate,<br>
                        Andheri West,<br>
                        Mumbai,<br>
                        Maharashtra 400053
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-3">
                        <i class="fa fa-phone fa-5x primary-color"></i>
                    </div>
                    <div class="col-lg-10 col-xs-9">
                        <h3 class="no-margin">Phone &amp; Fax</h3>
                        Phone: <a href="tel:+91 8097415085">+91 8097415085</a><br>
                        Phone: <a href="tel:+91 9819167755">+91 9819167755</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-3">
                        <i class="fa fa-envelope fa-4x primary-color"></i>
                    </div>
                    <div class="col-lg-10 col-xs-9">
                        <h3 class="no-margin">Email</h3>
                        Email: <a href="mailto:info@smartway.com">info@codegurukul.com</a><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <p>&nbsp;</p>
                <img src="img/Mumbai_skyline.jpg" alt="" class="img-responsive" />
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== CONTACT FORM START ========== -->

<section id="contact" class="alt-background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Contact Form</h2>
            </div>
        </div>
        <form role="form" name="contact-form" id="contact-form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" id="contact-name-group">
                        <label for="contact-input-name">Name</label>
                        <input type="text" ng-model="name" class="form-control" id="contact-input-name" placeholder="Enter your name">
                    </div>
                    <div class="form-group" id="contact-email-group">
                        <label for="contact-input-email">Email</label>
                        <input type="email" ng-model="email" class="form-control" id="contact-input-email" placeholder="Enter your email">
                    </div>
                    <div class="form-group" id="contact-subject-group">
                        <label for="contact-input-subject">Contact</label>
                        <input type="number" ng-model="contact" class="form-control" id="contact-input-subject" placeholder="Enter your contact">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" id="contact-message-group">
                        <label for="contact-input-subject">Subject</label>
                        <input type="text" class="form-control" ng-model="subject" id="contact-input-subject">
                    </div>
                    <div class="form-group" id="contact-message-group">
                        <label for="contact-input-message">Message</label>
                        <textarea class="form-control" ng-model="message" id="contact-input-message" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="submit" ng-click="sendEmail()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- ========== CONTACT FORM END ========== -->