<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Email Verification
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<section>
    <h1 class="text-center">Verification Pending</h1>
    <div class="container verification-section">
        <p class="text-center">
            Thank you for registering. We have sent you a verification mail on <strong> <a>{{emailForVerification}}</a></strong>. Please follow the link in the mail to complete your verification.
        </p>
        <p class="text-center">If you have not received the mail please click <a class="cursor-pointer" ng-click="resendEmail()">here</a> to resend the mail</p>
    </div>
</section>