<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Fresher to Hacker : F2H Workshop
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">

            <!-- ==== COURSES START == -->

            <div class="col-sm-8">
                <h1>What this workshop is all about</h1>
                <p>The Fresher to Hacker will train students to build web applications. Users don’t want to download a native iOS or Android app to take care of day to day activities on the web; they want highly interactive websites. This has caused a boom in interest amongst companies looking to build client-side (read: mobile-friendly) web-apps that consume a JSON API rather than rely on kilobyte-heavy server-side rendering. The JavaScript landscape is changing almost weekly, with new libraries and techniques released by both major companies and independent, open-source developers. The result? Developers who understand emerging best practices are able to put up fully-featured and scalable apps in less time.</p>
                <hr>
                <h3>Prerequisites</h3>
                <p>Before entering this development accelerator, students must demonstrate competency with:</p>
                <h5 class="lesson-title"><a href="#">HTML</a></h5>
                <ul>
                    <li>Tags</li>
                    <li>Attributes</li>
                </ul>
                <h5 class="lesson-title"><a href="#">CSS</a></h5>
                <ul>
                    <li>Selectors</li>
                    <li>Properties & values</li>
                    <li>Box model</li>
                    <li>Basics of twitter bootstrap or other grid system</li>
                </ul>
                <h5 class="lesson-title"><a href="#">Control structures in JS</a></h5>
                <ul>
                    <li>Variables</li>
                    <li>Conditionals</li>
                    <li>Loops</li>
                    <li>Functions</li>
                </ul>
                <h5 class="lesson-title"><a href="#">jQuery</a></h5>
                <ul>
                    <li>Selectors</li>
                    <li>DOM manipulation</li>
                </ul>
                <hr>
                <h3>Prerequisites</h3>
                <h5 class="lesson-title"><a href="#">Angular.JS Building Blocks</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <ul>
                    <li>Controller Component</li>
                    <li>Model Component</li>
                    <li>View Component</li>
                    <li>Directives
                    <li>Filters</li>
                    <li>Services</li>
                    <li>DI in Angular.js</li>
                </ul>
                <hr>
                <h5 class="lesson-title"><a href="#">Anatomy of an Angular.js Applications</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <ul>
                    <li>Creating Boundaries using ng-app</li>
                    <li>Model View Controller</li>
                    <li>Templates and Data Binding</li>
                    <li>Repeating elements in templates</li>
                    <li>Using Expressions, CSS Classes and Styles</li>
                    <li>Using Controllers for UI responsibility</li> separation</li>
                <li>Responding to model changes</li>
                </ul>
            <hr>
            <h5 class="lesson-title"><a href="#">Data Binding in Angular.js</a></h5>
            <div class="meta">
                <span><i class="fa fa-clock-o"></i>100 Minutes</span>
                <span><i class="fa fa-dashboard"></i>Easy</span>
            </div>
            <ul>
                <li>Understanding Built-in Directives</li>
                <li>Scope resolution</li>
                <li>One way and Two way data binding</li>
            </ul>
            <hr>
        </div>

        <!-- ==== COURSES END == -->

        <!-- ==== SIDEBAR START == -->

        <div class="col-sm-4">

            <!-- ==== COURSE DATA START == -->
            <div class="widget" data-scroll-reveal>
                <ul>
                    <li class="price">
                        Price <span class="pull-right">₹ 3,500</span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-068"></span>
                        <span class="pull-right">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-032"></span>
                        <span class="pull-right">Web Development</span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-038"></span>
                        <span class="pull-right">2 Months</span>
                    </li>
                    <li class="course-data">
                        <span class="icon fa fa-calendar"></span>
                        <span class="pull-right">1st & 2nd May</span>
                    </li>
                    <li class="course-data">
                        <span class="icon icon-006"></span>
                        <span class="pull-right">10 Students</span>
                    </li>
                </ul>
                <p><a class="btn btn-primary take-course" ng-click="registerModal()">Take This Course</a></p>
                <p class="text-center share">		
                    <a href="http://www.facebook.com/codegurukul"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="http://www.twitter.com/codegurukul"><i class="fa fa-twitter fa-lg"></i></a>
                </p>
            </div>
            <!-- ==== COURSE DATA END == -->

            <!-- ==== TEACHER START == -->
            <div class="widget" data-scroll-reveal>
                <h3>Mentors</h3>
                <div class="teacher row">
                    <div class="col-sm-12">
                        <img src="img/sobin_thumb.png" alt="" class="pull-left" />
                        <h5>Sobin G. Thomas</h5>
                        <p>Javascript Geek with 7+ years of industry experience</p>
                    </div>
                </div>
                <hr>
                <div class="teacher row">
                    <div class="col-sm-12">
                        <img src="img/stanly_thumb.jpg" alt="" class="pull-left" />
                        <h5>Stanly Samuel</h5>
                        <p>Knowledge imparter with 6+ years of experience in teaching</p>
                    </div>
                </div>

            </div>

            <!-- ==== TEACHER END == -->

        </div>

        <!-- ==== SIDEBAR END == -->

    </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->




<modal-dialog class="registerModal" show='registerModalShown' dialog-title="Fresher To Hacker Program Registration" height="auto" width="350px" >
    <form method="post" name="queryForm">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : queryForm.fullName.$invalid &amp;&amp; queryForm.fullName.$dirty }" class="form-group has-feedback">
                <input type="text" name="displayName" ng-model="name" placeholder="Name" required="" autofocus="" class="form-control input-lg"/>
                <div ng-if="queryForm.fullName.$dirty" ng-messages="queryForm.fullName.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter your name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.email.$invalid &amp;&amp; queryForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.email.$dirty" ng-messages="queryForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
                <input type="number" name="contact" ng-model="contact" placeholder="Your Contact No" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.contact.$dirty" ng-messages="queryForm.contact.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Your Contact No is required.</div>
                    <div ng-message="number">Your Contact No is Invalid</div>
                </div>
            </div>
        </div>
        <br>
        <div class="modalButtons">
            <button class="btn btn-md angularCancelButton cancelButton" ng-click="registerModal()"> Cancel </button>
            <button ng-controller="PaymentCtrl" class="btn btn-md successButton angularSuccessButton" ng-disabled="queryForm.$invalid" ng-click="sendEmail(name,email,contact); registerModal(); pay();"> Proceed to Payment </button>
        </div>
    </form>  
</modal-dialog>
