<header class="internship-header text-center-md">
    <h1> INTERNSHIP @ CODEGURUKUL <br> <small> June 2015</small></h1>
</header>

<div class="container">

    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>DESCRIPTION</h3>
                <h5>The Codegurukul Internship Advantage</h5>
                <p> This Internship is organized by Codegurukul, to train and mentor the best students in Mumbai. The program is a one month internship conducted by experienced faculty. Students will be trained on the latest web technologies that power the most popular websites like LinkedIn, Facebook and eBay. Each student will be able to set up their own web application at the end of the course and will also be offered an option to opt in for more advanced topics over the course of this internship. </p>
                <br><br>
                <h3>OVERVIEW</h3>
                <div class="col-md-12 week-one-card">
                    <h5>The schedule for the internship will be as follows:</h5>

                    <h4> WEEK ONE:</h4>
                    <div class="row margin-bottom-50">
                        <div class="col-md-11 ">
                            <p>The first week will be a Foundation Course in which the basics of website development like front end development and version control will be covered. Students will also work on a project which will be based on what they learn in the week. The course is designed with the assumption that the student has no prior knowledge of the subject. The refresher course on HTML5, CSS3 and Javascript will get your creative juices flowing! Ignite the designer in you!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5> HTML5</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/HTML5_Logo_512.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>HTML5 is a trending topic in the web community. We begin the course with basic HTML tags which will enable the student to create web pages using tables, forms, inputs and traditional
                                HTML tags. We will then add more features using the new HTML5 tags which will highlight the features of HTML5 over HTML.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>CSS3</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/css3-logo.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>CSS will be used in conjunction with HTML/HTML5 for styling web pages. We will teach the techniques to add styling to web pages and the importance of separation in styling. The students can then apply these styling techniques to make their websites appealing.
                            </p>
                        </div>
                    </div> 
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>JavaScript</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/js3.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>JavaScript is a dynamic programming language which will be used to create interactive web pages. In this course, we will cover the basics of JavaScript and create a simple application.
                            </p>
                        </div>
                    </div>                    
                    <hr>
                    <div class="row">    
                        <div class="col-md-10 col-md-offset-1"><h5>Bootstrap</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/bootstrap_logo.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>Bootstrap is the most popular front end framework in the world and is inherently a combination of HTML, CSS and JavaScript. We will learn how to use Bootstrap to create our own templates. We will also build your own personal website by harnessing its powers!
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">    
                        <div class="col-md-10 col-md-offset-1"><h5> Social Coding using Git and GitHub</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/git_icon.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>Git is a free and open source distributed version control system designed to handle various projects with speed and efficiency. In this course, we will learn how to use Git to commit our projects and manage various versions of our software. We will also learn various Git commands which will aid our projects.<br>
                                GitHub is a Git based code host which is used to build and collaborate on projects as a team. Under this topic, we will learn how to use GitHub for the above features and how to make your
                                resume/profile stand out in GitHub.
                            </p>
                        </div>
                    </div>   
                    <hr>
                    <div class="row">    
                        <div class="col-md-10 col-md-offset-1"><h5>Jade</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/JADE_(programming_language)_logo.jpg" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>Jade is a template engine used to create HTML pages. It gets rid of the “annoying HTML tags” so
                                that the code looks clean and readable. In this course, we explore the rules, techniques and skills for using jade.
                            </p>
                        </div>
                    </div>  
                    <hr>
                    <div class="row">    
                        <div class="col-md-10 col-md-offset-1"><h5>LESS</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/less-logo1.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>LESS is a dynamic stylesheet language and is built over the concept of CSS. In this course, we will explore the intricacies of Less.
                                <br>
                                Step by step guidelines will be provided to complete the projects using all of the above technologies. This will ensure that the students get a hands on training and gain expertise in the above technologies.
                                .
                            </p>
                        </div>
                    </div>   
                </div>

                <div class="col-md-12 week-two-card">

                    <h4> WEEK TWO:</h4>
                    <div class="row margin-bottom-50">
                        <div class="col-md-11 ">
                            <p>The second week will feature topics like deployment and optimization. Students will be working on another set of projects which will be based on these new topics. Also optional add-on paid courses will be offered in the second week. These courses will be focused towards leveraging the basic technologies learnt during the first week and will cover some advanced topics. They will in no way affect the certification of the internship.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5> Node.js</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/nodejs_logo.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>The face of web development today is quite different thanks to JavaScript running on both the server and browser. Node.js, which is primarily written in JavaScript, is a runtime environment for server side and networking applications. In this course, we study more about Node.js, its asynchronous paradigm and implementation to equip the students to create fast, efficient and scalable web applications.
                            </p>
                        </div>
                    </div>                    
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>MongoDB</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/mongo_bumper.sh-600x600.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>MongoDB (from “humongous”) is an open source document database written in C++ and the leading NoSQL database. In this course, you learn about NoSQL databases, JSON formats and creating databases in NoSQL language so that you take a break from those annoying “relationships”!
                            </p>
                        </div>
                    </div>                    
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>Express</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/express.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications. In this course, we will develop applications using express and Node.js.</p>
                        </div>
                    </div>                    
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>APISocial Login</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/social-networking-logos-big.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>In this age of social integration, one cannot imagine developing a standalone product or application without including social media. To facilitate this need, we will be enlightening the students on how to integrate social media like facebook, twitter, google+ etc in your website. The course will equip them to create handles and logins for the respective medium.</p>
                        </div>
                    </div>                    
                    <hr>
                    <div class="row">    
                        <div class="col-md-10 col-md-offset-1"><h5>Hosting and Cloud Architecture</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/webhosting.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>Cloud computing architecture refers to the components and subcomponents required for cloud computing. These components typically consist of a front end platform (fat client, thin client, mobile device), back end platforms (servers, storage), a cloud based delivery, and a network (Internet, Intranet, Intercloud). We will delve into the depths of this architecture using our designed curriculum.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 week-two-card margin-bottom-30">

                    <h4> WEEK THREE AND FOUR:</h4>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5> So you think you can code?</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/coding.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>So you think you can code?<br>
                                This is when we let the reigns loose, set you free and let you work on some good projects that will leave you wanting for more. This project is compulsory in order to for you to receive the the internship letter. <br>
                                At the end of this workshop, you will be ready to take on any web interview that comes your way!
                            </p>
                        </div>
                    </div>                    
                </div>

                <div class="col-md-12 week-two-card margin-bottom-30">

                    <h4> ADDON / OPTIONAL COURSES</h4>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5> Angular.js</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/angularjs.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web applications. AngularJS lets you extend HTML vocabulary for your application. In this course, we will learn more about this Google maintained web development framework and its implementation.
                            </p>
                        </div>
                    </div>       
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>D3.js</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/d3js.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG and CSS. In this course, we cover D3.js in depth.
                            </p>
                        </div>
                    </div>       
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>Amazon Web Services</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/aws.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>Amazon Web Services (AWS) is a collection of remote computing services (also called web services) that together make up a cloud computing platform, offered over the Internet by Amazon.com. In this course, we will be studying one of the two services in depth viz. Amazon EC2 or Amazon S3. 
                            </p>
                        </div>
                    </div>       
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>Blue Mix</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/bluemix.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>IBM Bluemix is an openstandards, cloudbased platform for building, managing and running apps and services of all types (web, mobile, big data, new smart devices). Capabilities include Java, mobile backend development, application monitoring, as well as capabilities from ecosystem partners and open source — all through an as a service model in the cloud. We will learn how to build applications using these technologies in our course. </p>
                        </div>
                    </div>       
                    <hr>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1"><h5>Cloud Storage with API</h5></div>
                        <div class="col-md-2 col-md-offset-1">
                            <img src="../img/internships/cloudstorage.png" width="100px">
                        </div>
                        <div class="col-md-8">
                            <p>Cloud storage is a model of data storage where the digital data is stored in logical pools, the physical storage spans multiple servers (and often locations), and the physical environment is typically owned and managed by a hosting company. Hosting companies include Amazon Web Services, Dropbox, Google Drive, Microsoft SkyDrive and so on. In this course, we will learn how to work with Dropbox API in particular. 
                            </p>
                        </div>
                    </div>       
                    <hr>
                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 mentors">

                <div class="row share-and-register-buttons">
                    <div class="col-md-6">
                        <button class="btn btn-default" ng-click="shareModal()"> SHARE</button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-default" ng-click="registerModal()"> REGISTER WITH US </button>
                    </div>
                </div>

                <div class="row">  
                    <h3> MENTORS </h3>
                    <hr>
                    <div class="col-md-12 mentor">
                        <div class="col-md-4">
                            <img src="../img/about-us/mentor/stanly_square.png" width="75px">
                        </div>
                        <div class="col-md-8">
                            <h6>Stanly Samuel</h6>
                            <p>- Knowledge imparter with 6+ years of experience in teaching 500+ students in various fields</p>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-12 mentor">
                        <div class="col-md-4">
                            <img src="../img/about-us/mentor/sobin.png" width="75px">
                        </div>
                        <div class="col-md-8">
                            <h6>Sobin G. Thomas</h6>
                            <p>- Tech Guru with 7+ years of industry experience </p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <h3 class="duration">DURATION</h3>
                    <h6>2 weeks, Monday to Saturday, 9am to 5pm</h6>
                    <h6>2 weeks, Off Campus on an industry simulated project</h6>

                    <hr>

                    <h3 class="pricing">PRICING</h3>
                    <h6>Basic Internship fee: ₹8000* </h6>
                    <h6>Fees per optional add-on course: ₹1500** </h6>

                    <div class="row">
                        <div class="col-md-12">
                            <small>*Basic Course consists of the above curriculum excluding add-on courses. Students will work on mini projects pertaining to the above syllabus.<br>
                                <br>
                                **Exceptional students will be allowed to take add-on courses depending on their performance in week 1. They will be given an opportunity to work on projects related to these particular add-on courses. Eligible candidates can add INR 1500 per add-on course to the basic course fee if they wish to enroll. Add-on courses are optional and are not included in the basic course fee.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<section style="display:none">

    <div id="content-4-region" class="content-4 region bg-color-grayDark2 text-color-light">

        <div id="testimonials-1-block" class="testimonials-1 block">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div class="flex-bullet-slider vertical-center text-center">
                            <i class="icon ion-ios7-chatbubble-outline testimonials-1-icon text-color-theme"></i>
                            <ul class="slides">
                                <li>
                                    <h4 class="testimonials-1-text lato-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus massa in mauris rhoncus aliquam. Suspendisse nec velit vestibulum, euismod quam id, pellentesque elit. Ut a interdum metus, vel dictum nibh.</h4>
                                    <p class="testimonials-1-author text-color-theme">Chris Niccolls, <i>The Camera Store</i></p>
                                </li>
                                <li>
                                    <h4 class="testimonials-1-text lato-font">Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at.</h4>
                                    <p class="testimonials-1-author text-color-theme">Joe McNally, <i>Adorama</i></p>
                                </li>
                                <li>
                                    <h4 class="testimonials-1-text lato-font">Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt.</h4>
                                    <p class="testimonials-1-author text-color-theme">Mark Wallace, <i>Snapfactory</i></p>
                                </li>
                            </ul>
                        </div> <!-- /flex-bullet-slider -->
                    </div> <!-- /col-xs-12 -->

                </div> <!-- /row -->
            </div> <!-- container -->
        </div> <!-- /testimonials-1-block -->

    </div> <!-- /content-4-region -->

</section>
<header id="myCarousel" class="carousel slide bg-color-grayDark2 text-color-light testimonial-slider text-center">

    <a href="/testimonials">
        <!-- Indicators -->
        <h2 class="testimonial-name"> TESTIMONIALS</h2>
        <i class="icon ion-ios7-chatbubble-outline testimonials-1-icon text-color-theme slider-bubble"></i>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner text-center">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill slide1">
                    <header class="testimonial-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p>"Stanly sir and Sobin sir from CodeGurukul covered HTML5, CSS3, Javascript, Bootstrap, Git, Node.js for us in 2 weeks! They were more like friends to us and were very open and helpful. This internship helped me and at least 34 other students really grow in the professional perspective and very surely has improved my confidence."</p>
                                <h5 class="testimonial-name">Anuj Kelkar <br>
                                    <small class="testimonial-name">G4 InfoTech, Goa.</small></h5>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p>"This was actually a turning point in my engineering life. Three of us (who attended the workshop) participated in a Bluemix Hackathon conducted by IBM at BITS,goa quark and won the third place. Now its possible for me to handle projects in web dev and I have already started developing web pages for college events." </p>
                                <h5 class="testimonial-name">Amod Shinde <br>
                                    <small class="testimonial-name">Padre Conceicao College of Engineering, Goa</small></h5>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p>"The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)" </p>
                                <h5 class="testimonial-name">Sameetha Dessai <br>
                                    <small class="testimonial-name">Goa</small></h5>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p>"Within no time we were able to do our very own web applications. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!" </p>
                                <h5 class="testimonial-name">Shraddha Naik <br>
                                    <small class="testimonial-name">Software Engineer, Goa Tech Solutions</small></h5>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </a>
</header>


<section>
    <div class="container">
        <div class="row">
            <div id="main-content-region" class="main-content col-xs-12 col-md-9">
                <div class="region">

                    <div id="faq-block" class="block">

                        <h2> FAQs</h2>

                        <p>In this section of the site we answer the most popular questions that our customers have about our products. If you can't find the answer here don't hesitate to <a href="">contact us</a>.</p>

                        <h5 class="text-color-theme">Q1 - What is the cost of the overall service?</h5>
                        <p>The cost of the overall service is INR 83000.</p>

                        <h5 class="text-color-theme">Q2 - Is an EMI option available for the Fresher to Hacker Program.</h5>
                        <p>Sadly, we would not be able to provide an EMI option but we guarantee full refund of the fee amount if we fail to place you in a relevant company.</p>

                        <h5 class="text-color-theme">Q3 - What kind of support do you offer?</h5>
                        <p>We provide notes to all our students for reference. Also, doubt solving sessions will be be held once a week for those students in need.</p>

                        <h5 class="text-color-theme">Q4 - Is it worth the money?</h5>
                        <p>At our firm, we believe in quality. We empathise genuine doubts regarding the fees, but we assure you complete satisfaction after the three months of our program provided you have been an active part of it.</p>



                    </div>
                    <!-- /faq-block -->

                </div>
                <!-- /region -->
            </div>
            <!-- /main-content-region -->
        </div>
    </div>
</section>

<!--MODALS BEGIN-->
<modal-dialog class="socialShareModal" show='socialShareModalShown' dialog-title="Share on" height="auto" width="450px">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="share-background-div  facebookShare" socialshare
                 socialshare-provider="facebook" socialshare-text="Check out CODEGURUKUL!" socialshare-url="http://www.codegurukul.com">
                <i class="ion-social-facebook"></i>
                <br>
                <p>FACEBOOK</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="share-background-div twitterShare" socialshare
                 socialshare-provider="twitter" socialshare-text="Check out CODEGURUKUL!" socialshare-url="http://www.codegurukul.com">
                <i class="ion-social-twitter"></i>
                <br>
                <p>TWITTER</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="share-background-div googleShare" socialshare
                 socialshare-provider="googleplus" socialshare-text="Check out CODEGURUKUL!" socialshare-url="http://www.codegurukul.com">
                <i class="ion-social-googleplus"></i>
                <br>
                <p>GOOGLE PLUS</p>
            </div>
        </div>
    </div>
</modal-dialog>


<modal-dialog class="registerModal" show='registerModalShown' dialog-title="Register with us" height="auto" width="350px">
    <form method="post" name="queryForm">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : queryForm.fullName.$invalid &amp;&amp; queryForm.fullName.$dirty }" class="form-group has-feedback">
                <input type="text" name="displayName" ng-model="name" placeholder="Name" required="" class="form-control input-lg"/><span class="fa fa-user signupFormIcons form-control-feedback"></span>
                <div ng-if="queryForm.fullName.$dirty" ng-messages="queryForm.fullName.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter your name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.email.$invalid &amp;&amp; queryForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" autofocus="" class="form-control input-lg"/><span class="fa fa-at signupFormIcons form-control-feedback"></span>
                <div ng-if="queryForm.email.$dirty" ng-messages="queryForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
                <input type="number" name="contact" ng-model="contact" placeholder="Your Contact No" required="" class="form-control input-lg"/><span class="fa fa-phone signupFormIcons form-control-feedback"></span>
                <div ng-if="queryForm.contact.$dirty" ng-messages="queryForm.contact.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Your Contact No is required.</div>
                    <div ng-message="number">Your Contact No is Invalid</div>
                </div>
            </div>
        </div>
        <br>
        <div class="modalButtons">
            <button class="btn btn-md cancelButton" ng-click="registerModal()"> Cancel </button>
            <button class="btn btn-md successButton" ng-disabled="queryForm.$invalid" ng-click=""> Send </button>
        </div>
    </form>  
</modal-dialog>

