<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Internships
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">

            <!-- ==== COURSES START == -->

            <div class="col-sm-8">
                <h1>THE CODEGURUKUL INTERNSHIP ADVANTAGE</h1>
                <p>This Internship is organized by Codegurukul, to train and mentor the best students in Mumbai. The program is a one month internship conducted by experienced faculty. Students will be trained on the latest web technologies that power the most popular websites like LinkedIn, Facebook and eBay. Each student will be able to set up their own web application at the end of the course and will also be offered an option to opt in for more advanced topics over the course of this internship.</p>
                <hr>
                <h1>Internship Schedule</h1>
                <h3>Week One:</h3>
                <p>The first week will be a Foundation Course in which the basics of website development like front end development and version control will be covered. Students will also work on a project which will be based on what they learn in the week. The course is designed with the assumption that the student has no prior knowledge of the subject. The refresher course on HTML5, CSS3 and Javascript will get your creative juices flowing! Ignite the designer in you!</p>
                <h5 class="lesson-title"><a href="#">HTML5</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>2 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <p>HTML5 is a trending topic in the web community. We begin the course with basic HTML tags which will enable the student to create web pages using tables, forms, inputs and traditional HTML tags. We will then add more features using the new HTML5 tags which will highlight the features of HTML5 over HTML.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">CSS3</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>3 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <p>CSS will be used in conjunction with HTML/HTML5 for styling web pages. We will teach the techniques to add styling to web pages and the importance of separation in styling. The students can then apply these styling techniques to make their websites appealing.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">JAVASCRIPT</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>4 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <p>JavaScript is a dynamic programming language which will be used to create interactive web pages. In this course, we will cover the basics of JavaScript and create a simple application.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">BOOTSTRAP</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>2 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <p>Bootstrap is the most popular front end framework in the world and is inherently a combination of HTML, CSS and JavaScript. We will learn how to use Bootstrap to create our own templates. We will also build your own personal website by harnessing its powers!

                </p>
                <hr>
                <h5 class="lesson-title"><a href="#">SOCIAL CODING USING GIT AND GITHUB</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>2 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>Git is a free and open source distributed version control system designed to handle various projects with speed and efficiency. In this course, we will learn how to use Git to commit our projects and manage various versions of our software. We will also learn various Git commands which will aid our projects. GitHub is a Git based code host which is used to build and collaborate on projects as a team. Under this topic, we will learn how to use GitHub for the above features and how to make your resume/profile stand out in GitHub.
                </p>
                <hr>
                <h5 class="lesson-title"><a href="#">JADE</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>1 Hour</span>
                    <span><i class="fa fa-dashboard"></i>Easy</span>
                </div>
                <p>Jade is a template engine used to create HTML pages. It gets rid of the “annoying HTML tags” so that the code looks clean and readable. In this course, we explore the rules, techniques and skills for using jade.
                </p>
                <hr>
                <h5 class="lesson-title"><a href="#">LESS</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>1.5 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>LESS is a dynamic stylesheet language and is built over the concept of CSS. In this course, we will explore the intricacies of Less. Step by step guidelines will be provided to complete the projects using all of the above technologies. This will ensure that the students get a hands on training and gain expertise in the above technologies. 
                </p>
                <hr>


                <h3>Week Two:</h3>
                <p>The second week will feature topics like deployment and optimization. Students will be working on another set of projects which will be based on these new topics. Also optional add-on paid courses will be offered in the second week. These courses will be focused towards leveraging the basic technologies learnt during the first week and will cover some advanced topics. They will in no way affect the certification of the internship.</p>
                <h5 class="lesson-title"><a href="#">NODE.JS</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>5 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>The face of web development today is quite different thanks to JavaScript running on both the server and browser. Node.js, which is primarily written in JavaScript, is a runtime environment for server side and networking applications. In this course, we study more about Node.js, its asynchronous paradigm and implementation to equip the students to create fast, efficient and scalable web applications.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">MONGODB</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>2 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>MongoDB (from “humongous”) is an open source document database written in C++ and the leading NoSQL database. In this course, you learn about NoSQL databases, JSON formats and creating databases in NoSQL language so that you take a break from those annoying “relationships”!</p>
                <hr>
                <h5 class="lesson-title"><a href="#">EXPRESS</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>1 Hour</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications. In this course, we will develop applications using express and Node.js.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">APISOCIAL LOGIN</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>2 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>In this age of social integration, one cannot imagine developing a standalone product or application without including social media. To facilitate this need, we will be enlightening the students on how to integrate social media like facebook, twitter, google+ etc in your website. The course will equip them to create handles and logins for the respective medium.</p>
                <hr>


                <h3>Week Two Add On / Optional Courses:</h3>
                <h5 class="lesson-title"><a href="#">Angular.js</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>6 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. In this course, we will learn more about this Google maintained web development framework and its implementation.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">D3.js</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>4 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>D3.js is a JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG and CSS. In this course, we cover D3.js in depth.</p>
                <hr>


                <h3>Week Three:</h3>
                <p>Week three will conclude with finishing notes on development, design languages and a little bit about cloud architecture. It will also include optional cloud technology courses base on deployment.</p>
                <h5 class="lesson-title"><a href="#">Cloud Architecture</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>4 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>Cloud computing architecture refers to the components and subcomponents required for cloud computing. These components typically consist of a front end platform (fat client, thin client, mobile device), back end platforms (servers, storage), a cloud based delivery, and a network (Internet, Intranet, Intercloud). We will delve into the depths of this architecture using our designed curriculum.</p>
                <hr>


                <h3>Week Three Add On / Optional Courses:</h3>
                <h5 class="lesson-title"><a href="#">Amazon Web Services</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>6 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>Amazon Web Services (AWS) is a collection of remote computing services (also called web services) that together make up a cloud computing platform, offered over the Internet by Amazon.com. In this course, we will be studying one of the two services in depth viz. Amazon EC2 or Amazon S3.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">Blue Mix</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>4 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>IBM Bluemix is an open-standards, cloud-based platform for building, managing and running apps and services of all types (web, mobile, big data, new smart devices). Capabilities include Java, mobile backend development, application monitoring, as well as capabilities from ecosystem partners and open source — all through an as-a-service model in the cloud. We will learn how to build applications using these technologies in our course.</p>
                <hr>
                <h5 class="lesson-title"><a href="#">Cloud Storage with API</a></h5>
                <div class="meta">
                    <span><i class="fa fa-clock-o"></i>4 Hours</span>
                    <span><i class="fa fa-dashboard"></i>Intermediate</span>
                </div>
                <p>A Cloud storage is a model of data storage where the digital data is stored in logical pools, the physical storage spans multiple servers (and often locations), and the physical environment is typically owned and managed by a hosting company. Hosting companies include Amazon Web Services, Dropbox, Google Drive, Microsoft SkyDrive and so on. In this course, we will learn how to work with Dropbox API in particular.</p>
                <hr>
            </div>

            <!-- ==== COURSES END == -->

            <!-- ==== SIDEBAR START == -->

            <div class="col-sm-4">

                <!-- ==== COURSE DATA START == -->
                <div class="widget" data-scroll-reveal>
                    <ul>
                        <li class="price">
                            Price <span class="pull-right">₹8000</span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-068"></span>
                            <span class="pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-032"></span>
                            <span class="pull-right">Web Development</span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-038"></span>
                            <span class="pull-right">3 Weeks</span>
                        </li>
                        <li class="course-data">
                            <span class="icon fa fa-calendar"></span>
                            <span class="pull-right">mid-June</span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-006"></span>
                            <span class="pull-right">50 Students</span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-010"></span>
                            <span class="pull-right">Mumbai, Goa</span>
                        </li>
                    </ul>
                    <p><a class="btn btn-primary take-course" ng-click="payment()">Apply</a></p>
                    <p class="text-center share">		
                        <a href="http://www.facebook.com/codegurukul"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="http://www.twitter.com/codegurukul"><i class="fa fa-twitter fa-lg"></i></a>
                    </p>
                </div>
                <!-- ==== COURSE DATA END == -->

                <!-- ==== TEACHER START == -->
                <div class="widget" data-scroll-reveal>
                    <h3>Mentors</h3>
                    <div class="teacher row">
                        <div class="col-sm-12">
                            <img src="img/stanly_thumb.jpg" alt="" class="pull-left" />
                            <h5>Stanly Samuel</h5>
                            <p>Knowledge imparter with 6+ years of experience in teaching</p>
                        </div>
                    </div>
                    <hr>
                    <div class="teacher row">
                        <div class="col-sm-12">
                            <img src="img/sobin_thumb.png" alt="" class="pull-left" />
                            <h5>Sobin G. Thomas</h5>
                            <p>Tech Guru with 7+ years of industry experience</p>
                        </div>
                    </div>
                </div>
                <!-- ==== TEACHER END == -->

            </div>

            <!-- ==== SIDEBAR END == -->

        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->



<ng-include src="'../views/modal-partials/signup-modal.html'"></ng-include>
<ng-include src="'../views/modal-partials/email-signup-modal.html'"></ng-include>
<ng-include src="'../views/modal-partials/login-modal.html'"></ng-include>
<ng-include src="'../views/modal-partials/guest-registration-modal.html'"></ng-include>
