
<!-- ========== TITLE START ========== -->
<!--

<div class="title">
<div class="title-image"></div>
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
CodeGurukul Landing Page 
</div>
</div>
</div>
</div>

-->
<!-- ========== TITLE END ========== -->
<div style="position: relative; overflow: hidden; width: 100%; height: 82vh; background-image:url(/img/cover.png); background-color:#8fb488">
    <div id="myCarousel" class="carousel slide landing-carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item intro-header active">
                <h1> Dummy Text 1</h1>
            </div>
            <div class="item intro-header">
                <h1> Dummy Text 2</h1>
            </div>
            <div class="item intro-header">
                <h1> Dummy Text 3</h1>
            </div>
            <div class="item intro-header">
                <h1> Dummy Text 4</h1>
            </div>
        </div>
    </div>
    
</div>


<!-- ========== FEATURED COURSES START ========== -->

<section id="teachers" class="alt-background">
    <div class="container">

        <h2 class="text-center">FEATURED COURSES</h2>

        <ul class="teachers featured-courses">

            <li class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'ruby-workshop'})">
                    <img src="/img/rails-logo.jpg" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">Ruby Workshop</h4>
                    </div>
                </a>
            </li>

            <li class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'angularjs-workshop'})">
                    <img src="/img/angularjs-white-bg.jpg" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">AngularJS Workshop</h4>
                    </div>
                </a>
            </li>

            <li class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'web-internship-program'})">
                    <img src="/img/internship-codeshot.png" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">Web Internship Program</h4>
                    </div>
                </a>
            </li>

        </ul>

    </div>
</section>

<!-- ========== FEATURED COURSES END ========== -->

<!-- ========== MENTORS START ========== -->
<section>

    <div id="content-2-region" class="content-2 region">

        <div id="team-block" class="team block">
            <div class="container">

                <h2 class="block-title text-center">Our Team</h2>

                <div class="row">

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/sobin.png" alt="member 1" title="member 1" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="https://www.facebook.com/sobingt">facebook</a>
                                    <br/>
                                    <a href="https://www.linkedin.com/in/sobingt">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Sobin George Thomas</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->


                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/stanly.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="https://www.facebook.com/stanlysir">facebook</a>
                                    <br/>
                                    <a href="https://twitter.com/StanlyJSamuel">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Stanly Samuel</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/amit_erandole.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="https://www.facebook.com/amit.erandole">facebook</a>
                                    <br/>
                                    <a href="https://www.linkedin.com/in/amiterandole">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Amit Erandole</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->  

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50" >
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/chaitanya.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="http://facebook.com">facebook</a>
                                    <br/>
                                    <a href="in.linkedin.com/pub/chaitanya-reddy-tatiparti/11/686/822/en">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Chaitanya Reddy Tatiparti</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->
                    </div>
                    <!-- /team-item -->



                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/abhishek.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="http://facebook.com/abhshah?fref=ts">facebook</a>
                                    <br/>
                                    <a href="#">Linkedin</a>
                                    <br/>

                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Abhishek Shah</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/loyd.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="http://facebook.com">facebook</a>
                                    <br/>
                                    <a href="in.linkedin.com/in/saldanhalloyd/en">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Lloyd Saldanha</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->
                    </div>
                    <!-- /team-item -->
                </div>

            </div>
            <!-- /row -->>
        </div>
        <!-- /container -->
    </div>
    <!-- /team-block -->

    </div>
<!-- /content-2-region -->
</section>

<!-- ========== MENTORS END ========== -->

<!-- ========== TESTIMONIAL START ========== -->


<section>
    <h2 class="carousel-title text-center">
        Testimonials
    </h2>

    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>
            <li data-target="#myCarousel2" data-slide-to="2"></li>
            <li data-target="#myCarousel2" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <p>"I am lucky to be the part of this workshop. I learnt the whole Web devlopment ( front end + back end) properly in 2 weeks.We were taught HTML, CSS, Javascript, Bootstrap , Git, Node.js and Angular.js. Many would doubt if someone can learn detail web dev in two weeks. But trust me its possible with codegurukul."</p> 
                <p><em>- Amod Shinde <br> <small>Padre Conceicao College of Engineering, <br> Goa</small></em></p>
            </div>
            <div class="item">
                <p>"The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)"</p> 
                <p><em>- Sameetha Dessai <br> <small>Goa</small></em></p>
            </div>
            <div class="item">
                <p>"Joining CodeGurukul's internship was the best decision ever. I used to consider web development to be very difficult. But Stanly made everything very easy to understand. He is a fantastic trainer. Within no time we were able to do our very own web applications. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!"</p> 
                <p><em>- Shraddha Naik <br> <small>Software Engineer, <br> Goa Tech Solutions</small></em></p>
            </div>
            <div class="item">
                <p>"Within 2 weeks after the internship I appeared for an interview for the role of a web developer and have been working since over here at G4 InfoTech, Mapusa-Goa; also I'm very certain when I say this internship very directly helped me in getting this job. A big thumbs up from me to code gurukul, Stanly sir and Sobin sir."</p> 
                <p><em>- Anuj Kelkar <br> <small>G4 InfoTech, <br> Goa</small></em></p>
            </div>
        </div>
    </div>
</section>

<!-- ========== TESTIMONIAL END ========== -->


<!-- ========== FEATURED COURSES START ========== -->

<!--
<section id="teachers" class="alt-background">
    <div class="container">

        <h2 class="text-center">UPCOMING EVENTS</h2>

        <ul class="teachers featured-courses">

             <li class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'free-ruby-workshop'})">
                    <img src="/img/rails-logo.jpg" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">Ruby Workshop</h4>
                    </div>
                </a>
            </li>

            <li class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'angularjs-workshop'})">
                    <img src="/img/angularjs-white-bg.jpg" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">AngularJS Workshop</h4>
                    </div>
                </a>
            </li>

            <li class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'internship'})">
                    <img src="/img/internship-codeshot.png" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">Internship Program</h4>
                    </div>
                </a>
            </li>


        </ul>

    </div>
</section>
-->

<!-- ========== FEATURED COURSES END ========== -->





