
<!-- ========== TITLE START ========== -->
<!--

<div class="title">
<div class="title-image"></div>
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
CodeGurukul Landing Page 
</div>
</div>
</div>
</div>

-->
<!-- ========== TITLE END ========== -->
<!--
<div style="position: relative; overflow: hidden; width: 100%; height: 82vh; background-image:url(/img/cover.png); background-color:#8fb488">
<div id="myCarousel" class="carousel slide landing-carousel" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
<li data-target="#myCarousel" data-slide-to="3"></li>
</ol>

<div class="carousel-inner" role="listbox">
<div class="item intro-header active">
<h1> Dummy Text 1</h1>
</div>
<div class="item intro-header">
<h1> Dummy Text 2</h1>
</div>
<div class="item intro-header">
<h1> Dummy Text 3</h1>
</div>
<div class="item intro-header">
<h1> Dummy Text 4</h1>
</div>
</div>
</div>

</div>
-->
<!--
<section>
<h2 class="block-title custom-padding-bottom-20 text-center custom-font-weight-600">WHY WE CODE</h2>
<div class="text-center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>
</div>
</section>
-->

<div class="main-wrapper-div">
    <div class="fade-div">
        <p class="landing-intro-section"> BECOME A SOFTWARE DEVELOPER <br>
            <small>From fresher to hacker in 8 weeks</small></p>
        <form name="newsletterForm" method="post" class="form-inline">
            <div class="newsletter-form text-center">
                <h3 class="text-center newsletter-header">Subscribe to our newsletter</h3>
                <div ng-class="{ &quot;has-error&quot; : newsletterForm.email.$invalid &amp;&amp; newsletterForm.email.$dirty }" class="form-group has-feedback">
<!--                    <div class="row">-->
<!--                        <div class="col-md-9 col-sm-9 col-xs-12">-->
                            <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" autofocus= "" class="form-control input-md"/>
<!--                        </div>-->
<!--                        <div class="col-md-3 col-sm-3 col-xs-12 newsletter-button-div">-->
                            <button class="btn btn-primary btn-md" ng-click="newsletter()">Yes, sign me up!</button>
<!--                        </div>-->
                    </div>
                    <div ng-if="newsletterForm.email.$dirty" ng-messages="newsletterForm.email.$error" class="text-danger">
                        <div ng-message="email">Your email address is invalid.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- ========== FEATURES START ========== -->

<section id="welcome">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-3 feature">
						<p><img src="/img/landing/mentors.png" alt=""></p>
						<h3>Mentors</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
					<div class="col-sm-3 feature">
						<p><img src="/img/landing/community.png" alt=""></p>
						<h3>Community</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
					<div class="col-sm-3 feature">
						<p><img src="/img/landing/career-growth.png" alt=""></p>
						<h3>Career Growth</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
					<div class="col-sm-3 feature">
						<p><img src="/img/landing/cutting-edge.png" alt=""></p>
						<h3>Cutting Edge</h3>
						<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor. Suspendisse volutpat, quam eu rutrum laoreet, ex sapien pellentesque.</p>
					</div>
				</div>
			</div>
		</section>


<!-- ========== FEATURES END ========== -->

<section id="popular-courses" class="alt-background">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="carousel-title custom-font-weight-600">
                    Featured Courses
                    <a href="courses-list-right-sidebar.html">Our most popular offerings</a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p><a href="courses-details-right-sidebar.html"><img src="/img/landing/learn-angular.png" alt="" class="img-responsive"></a></p>
            </div>
            <div class="col-sm-4">
                <p><a href="courses-details-right-sidebar.html"><img src="/img/landing/learn-ruby.png" alt="" class="img-responsive"></a></p>
            </div>
            <div class="col-sm-4">
                <p><a href="courses-details-right-sidebar.html"><img src="/img/landing/web-internship.png" alt="" class="img-responsive"></a></p>
            </div>
        </div>
    </div>
</section>

<!-- ========== MENTORS START ========== -->

<section>
    <div class="container">
        <h2 class="custom-font-weight-600 block-title text-center custom-padding-bottom-20">Our Team</h2>

        <slick dots=true infinite=true speed=300 slides-to-show=4 touch-move=true autoplay=true slides-to-scroll=1 arrows=false>

            <div class="item col-md-4 col-sm-6 col-xs-6">
                <img src="/img/startup-team-training/sobin-wide.jpg" alt="" class="img-responsive" />
                <div class="description">
                    <h3>Sobin Thomas</h3>
                    <p>
                        <a href="https://www.facebook.com/sobingt"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                        <a href="https://www.linkedin.com/in/sobingt"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                    </p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-6">
                <img src="/img/startup-team-training/stanly.jpg" alt="" class="img-responsive" />
                <div class="description">
                    <h3>Stanly Samuel</h3>
                    <p>
                        <a href="https://www.facebook.com/stanlysir"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                        <a href="https://twitter.com/StanlyJSamuel"><i class="fa fa-twitter fa-lg mentor-social-links twitter"></i> </a>
                    </p>
                </div>
            </div>

            <div class="item col-md-4 col-sm-6 col-xs-6">
                <img src="/img/startup-team-training/amit-erandole.jpg" alt="" class="img-responsive" />
                <div class="description">
                    <h3>Amit Erandole</h3>
                    <p>
                        <a href="https://www.facebook.com/amit.erandole"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                        <a href="https://www.linkedin.com/in/amiterandole"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                    </p>
                </div>
            </div>

            <div class="item col-md-4 col-sm-6 col-xs-6">
                <img src="/img/startup-team-training/abhishek.jpg" alt="" class="img-responsive" />
                <div class="description">
                    <h3>ABHISHEK SHAH</h3>
                    <p>
                        <a href="http://facebook.com/abhshah?fref=ts"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                        <!--                                <a href="#"><i class="fa fa-linkedin-square fa-lg mentor-social-links"></i></a>-->
                    </p>
                </div>
            </div>
            <div class="item col-md-4 col-sm-6 col-xs-6">
                <img src="/img/startup-team-training/chaitanya.jpg" alt="" class="img-responsive" />
                <div class="description">
                    <h3>CHAITANYA REDDY TATIPARTI</h3>
                    <p>
                        <a href="http://facebook.com"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                        <a href="http://in.linkedin.com/pub/chaitanya-reddy-tatiparti/11/686/822/en"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                    </p>
                </div>
            </div>

            <div class="item col-md-4 col-sm-6 col-xs-6">
                <img src="/img/startup-team-training/lloyd-saldhana.jpg" alt="" class="img-responsive" />
                <div class="description">
                    <h3>LLOYD SALDANHA</h3>
                    <p>
                        <a href="http://facebook.com"><i class="fa fa-facebook-square fa-lg mentor-social-links facebook"></i></a>
                        <a href="http://in.linkedin.com/in/saldanhalloyd/en"><i class="fa fa-linkedin-square fa-lg mentor-social-links linkedin"></i></a>
                    </p>
                </div>
            </div>

        </slick>
    </div>
</section>

<!-- ========== MENTORS END ========== -->

<!-- ========== TESTIMONIAL START ========== -->


<div class="landing-testimonials">

    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
        <h2 class="custom-font-weight-600 testimonial-title text-center block-title">
            Testimonials
        </h2>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>
            <li data-target="#myCarousel2" data-slide-to="2"></li>
            <li data-target="#myCarousel2" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <p>"I am lucky to be the part of this workshop. I learnt the whole Web devlopment ( front end + back end) properly in 2 weeks.We were taught HTML, CSS, Javascript, Bootstrap , Git, Node.js and Angular.js. Many would doubt if someone can learn detail web dev in two weeks. But trust me its possible with codegurukul."</p> 
                <p><em>- Amod Shinde <br> <small>Padre Conceicao College of Engineering, <br> Goa</small></em></p>
            </div>
            <div class="item">
                <p>"The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)"</p> 
                <p><em>- Sameetha Dessai <br> <small>Goa</small></em></p>
            </div>
            <div class="item">
                <p>"Joining CodeGurukul's internship was the best decision ever. I used to consider web development to be very difficult. But Stanly made everything very easy to understand. He is a fantastic trainer. Within no time we were able to do our very own web applications. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!"</p> 
                <p><em>- Shraddha Naik <br> <small>Software Engineer, <br> Goa Tech Solutions</small></em></p>
            </div>
            <div class="item">
                <p>"Within 2 weeks after the internship I appeared for an interview for the role of a web developer and have been working since over here at G4 InfoTech, Mapusa-Goa; also I'm very certain when I say this internship very directly helped me in getting this job. A big thumbs up from me to code gurukul, Stanly sir and Sobin sir."</p> 
                <p><em>- Anuj Kelkar <br> <small>G4 InfoTech, <br> Goa</small></em></p>
            </div>
        </div>
    </div>
</div>

<!-- ========== TESTIMONIAL END ========== -->


<!-- ========== FEATURED COURSES START ========== -->

<!--
<section id="teachers" class="alt-background">
<div class="container">

<h2 class="text-center block-title custom-padding-bottom-20">UPCOMING EVENTS</h2>

<ul class="teachers featured-courses">

<li class="col-md-4 col-sm-4 col-xs-6">
<a ui-sref="programs({course:'free-ruby-workshop'})">
<img src="/img/rails-logo.jpg" alt="" class="img-responsive" />
<div class="description featured-course-name">
<h4 class="text-center">Ruby Workshop</h4>
</div>
</a>
</li>

<li class="col-md-4 col-sm-4 col-xs-6">
<a ui-sref="programs({course:'angularjs-workshop'})">
<img src="/img/angularjs-white-bg.jpg" alt="" class="img-responsive" />
<div class="description featured-course-name">
<h4 class="text-center">AngularJS Workshop</h4>
</div>
</a>
</li>

<li class="col-md-4 col-sm-4 col-xs-6">
<a ui-sref="programs({course:'internship'})">
<img src="/img/internship-codeshot.png" alt="" class="img-responsive" />
<div class="description featured-course-name">
<h4 class="text-center">Internship Program</h4>
</div>
</a>
</li>


</ul>

</div>
</section>
-->

<!-- ========== FEATURED COURSES END ========== -->



<!-- ========== NEWSLETTER MODAL ========== -->

<!--
<modal-dialog class="loginModal" show='newsletterModalShown' dialog-title="Newsletter" height="auto" width="350px">
<form method="post" name="newsletterForm" ng-controller="LandingCtrl">
<div class="register-modal">
<h2 class="text-center">Signup for our Newsletter</h2>
<div ng-class="{ &quot;has-error&quot; : newsletterForm.email.$invalid &amp;&amp; newsletterForm.email.$dirty }" class="form-group has-feedback">
<input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" autofocus= "" class="form-control input-md"/>
<div ng-if="newsletterForm.email.$dirty" ng-messages="newsletterForm.email.$error" class="help-block text-danger">
<div ng-message="required">Your email address is required.</div>
<div ng-message="email">Your email address is invalid.</div>
</div>
</div>
</div>
<button class="btn btn-primary btn-sm pull-left" ng-click="newsletter()">Yes, totally!</button>
<button class="btn btn-primary btn-sm pull-right" ng-click="newsletterModal()">No, thanks!</button>
</form>  
</modal-dialog>
-->

<!-- ========== NEWSLETTER MODAL ENDS ========== -->


