<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                CodeGurukul Landing Page 
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->


<!-- ========== FEATURED COURSES START ========== -->

<section id="teachers" class="alt-background">
    <div class="container">

        <h2 class="text-center">FEATURED COURSES</h2>

        <ul class="teachers featured-courses">

            <li ng-repeat = "course in courses | limitTo: 3" class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'{{course.slug}}'})">
                    <img ng-src="{{course.thumb}}" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">{{course.name}}</h4>
                    </div>
                </a>
            </li>

        </ul>

    </div>
</section>

<!-- ========== FEATURED COURSES END ========== -->

<!-- ========== MENTORS START ========== -->
<section>

    <div id="content-2-region" class="content-2 region">

        <div id="team-block" class="team block">
            <div class="container">

                <h2 class="block-title text-center">Our Team</h2>

                <div class="row">

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/sobin.png" alt="member 1" title="member 1" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="https://www.facebook.com/sobingt">facebook</a>
                                    <br/>
                                    <a href="https://www.linkedin.com/in/sobingt">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Sobin George Thomas</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->


                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/stanly.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="https://www.facebook.com/stanlysir">facebook</a>
                                    <br/>
                                    <a href="https://twitter.com/StanlyJSamuel">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Stanly Samuel</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/amit_erandole.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="https://www.facebook.com/amit.erandole">facebook</a>
                                    <br/>
                                    <a href="https://www.linkedin.com/in/amiterandole">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Amit Erandole</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->  

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50" >
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/chaitanya.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="http://facebook.com">facebook</a>
                                    <br/>
                                    <a href="in.linkedin.com/pub/chaitanya-reddy-tatiparti/11/686/822/en">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Chaitanya Reddy Tatiparti</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->
                    </div>
                    <!-- /team-item -->



                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/abhishek.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="http://facebook.com/abhshah?fref=ts">facebook</a>
                                    <br/>
                                    <a href="#">Linkedin</a>
                                    <br/>

                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Abhishek Shah</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->

                    </div>
                    <!-- /team-item -->

                    <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                        <div class="team-item-image">
                            <img src="/img/about-us/mentor/loyd.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                            <div class="team-item-overlay">
                                <p>
                                    <a href="http://facebook.com">facebook</a>
                                    <br/>
                                    <a href="in.linkedin.com/in/saldanhalloyd/en">Linkedin</a>
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <!-- /team-item-image -->
                        <div class="team-item-name">
                            <h6>Lloyd Saldanha</h6>
                            <p class="text-color-theme">MENTOR</p>
                        </div>
                        <!-- /team-item-name -->
                    </div>
                    <!-- /team-item -->
                </div>

            </div>
            <!-- /row -->>
        </div>
        <!-- /container -->
    </div>
    <!-- /team-block -->

    </div>
<!-- /content-2-region -->
</section>

<!-- ========== MENTORS END ========== -->

<!-- ========== TESTIMONIAL START ========== -->


<section>
    <h2 class="carousel-title text-center">
        Testimonials
    </h2>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{active:!$index}" ng-repeat = "testimonial in course.testimonials">
                <p>" {{testimonial.testimonial}} "</p> 
                <p ng-bind-html="testimonial.studentPlace"></p>
            </div>
        </div>
    </div>
</section>

<!-- ========== TESTIMONIAL END ========== -->


<!-- ========== FEATURED COURSES START ========== -->

<section id="teachers" class="alt-background">
    <div class="container">

        <h2 class="text-center">UPCOMING EVENTS</h2>

        <ul class="teachers featured-courses">

            <li ng-repeat = "course in courses | limitTo: 3" class="col-md-4 col-sm-4 col-xs-6">
                <a ui-sref="programs({course:'{{course.slug}}'})">
                    <img ng-src="{{course.thumb}}" alt="" class="img-responsive" />
                    <div class="description featured-course-name">
                        <h4 class="text-center">{{course.name}}</h4>
                    </div>
                </a>
            </li>

        </ul>

    </div>
</section>

<!-- ========== FEATURED COURSES END ========== -->





