<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Mentors
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video-wrapper">
                    <img src="/img/codeshot.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-sm-6">
                <h1>Meet our Mentors</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.</p>
                <ul>
                    <li>Fusce iaculis ornare nunc rutrum ornare.</li>
                    <li>Proin ut placerat enim, vel venenatis urna.</li>
                    <li>Phasellus sed diam tincidunt mauris malesuada mattis et in nisl.</li>
                    <li>Quisque massa eros, molestie at mi eget, aliquam tristique eros.</li>
                    <li>Nullam aliquet placerat magna ut eleifend.</li>
                    <li>Phasellus iaculis tristique laoreet.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== TEACHERS START ========== -->
<!--

<section id="teachers" class="alt-background">
<div class="container">

<h2>Teachers</h2>

<ul class="teachers">

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post1.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Anthony	Kelly</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post2.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Judy Williams</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post3.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Jerry Ramirez</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post4.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Daniel Roberts</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post5.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Charles Turner</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post6.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Laura Collins</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post7.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Carolyn Butler</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post8.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Christopher Wright</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post9.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Lois Davis</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post1.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Scott Edwards</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post2.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Irene Morris</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

<li class="col-lg-3 col-md-4 col-sm-6">
<img src="/img/temp-images/sidebar-post3.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Ronald Brown</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>

</div>
</li>

</ul>

</div>
</section>
-->

<!-- ========== TEACHERS END ========== -->



<div id="content-2-region" class="content-2 region">

    <div id="team-block" class="team block">
        <div class="container">

            <h5 class="block-title">Our Team</h5>

            <div class="row">

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/sobin.png" alt="member 1" title="member 1" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="https://www.facebook.com/sobingt">facebook</a>
                                <br/>
                                <a href="https://www.linkedin.com/in/sobingt">Linkedin</a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Sobin George Thomas</h6>
                        <p class="text-color-theme">MENTOR</p>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->


                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/stanly.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="https://www.facebook.com/stanlysir">facebook</a>
                                <br/>
                                <a href="https://twitter.com/StanlyJSamuel">Linkedin</a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Stanly Samuel</h6>
                        <p class="text-color-theme">MENTOR</p>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/amit_erandole.jpg" alt="member 2" title="member 2" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="https://www.facebook.com/amit.erandole">facebook</a>
                                <br/>
                                <a href="https://www.linkedin.com/in/amiterandole">Linkedin</a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Amit Erandole</h6>
                        <p class="text-color-theme">MENTOR</p>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->  

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50" >
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/chaitanya.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="http://facebook.com">facebook</a>
                                <br/>
                                <a href="in.linkedin.com/pub/chaitanya-reddy-tatiparti/11/686/822/en">Linkedin</a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Chaitanya Reddy Tatiparti</h6>
                        <p class="text-color-theme">MENTOR</p>
                    </div>
                    <!-- /team-item-name -->
                </div>
                <!-- /team-item -->



                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/abhishek.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="http://facebook.com/abhshah?fref=ts">facebook</a>
                                <br/>
                                <a href="#">Linkedin</a>
                                <br/>

                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Abhishek Shah</h6>
                        <p class="text-color-theme">MENTOR</p>
                    </div>
                    <!-- /team-item-name -->

                </div>
                <!-- /team-item -->

                <div class="col-xs-6 col-sm-4 col-md-3 margin-bottom-50">
                    <div class="team-item-image">
                        <img src="/img/about-us/mentor/loyd.png" alt="member 3" title="member 3" class="img-responsive mentor-image" />
                        <div class="team-item-overlay">
                            <p>
                                <a href="http://facebook.com">facebook</a>
                                <br/>
                                <a href="in.linkedin.com/in/saldanhalloyd/en">Linkedin</a>
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /team-item-image -->
                    <div class="team-item-name">
                        <h6>Lloyd Saldanha</h6>
                        <p class="text-color-theme">MENTOR</p>
                    </div>
                    <!-- /team-item-name -->
                </div>
                <!-- /team-item -->
            </div>

        </div>
        <!-- /row -->>
    </div>
    <!-- /container -->
</div>
<!-- /team-block -->

</div>
<!-- /content-2-region -->
