<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Registration Cancelled
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Registration Cancelled</h1>
            </div>
            <div class="col-md-12">
                <p class="text-center">
                    We are sorry that your registration was cancelled. For any assistance, feel free to contact us at <a href="">info@codegurukul.com</a> or via the chat box at the bottom of the page.
                </p>
            </div>
        </div>
    </div>
</section>