<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Payment Successful
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Payment Successful!</h1>
            </div>
            <div class="col-md-12">
                <p class="text-center">
                    Your payment was successful. Thank you for registering for the course. You will receive a confirmation of the same via e-mail shortly.
                </p>
            </div>
        </div>
    </div>
</section>