<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Payment Failed
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Payment Unsuccessful</h1>
            </div>
            <div class="col-md-12">
                <p class="text-center">
                    We are sorry but your payment was unsuccessful. Please try again later. Thank you.
                </p>
            </div>
        </div>
    </div>
</section>