<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {{course.name}}
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">

            <!-- ==== COURSES START == -->

            <div class="col-sm-8">
                <p ng-bind-html="course.description"></p>
                <hr>
                <h3>What you will be taught</h3>

                <div ng-repeat="content in course.content">
                    <h5 class="lesson-title"><a href="#">{{content.title}}</a></h5>
                    <div class="meta">
                        <span><i class="fa fa-clock-o"></i>{{content.duration}}</span>
                        <span><i class="fa fa-dashboard"></i>{{content.difficulty}}</span>
                    </div>
                    <p ng-bind-html="content.description"></p>
                    <hr>
                </div>
            </div>

            <!-- ==== COURSES END == -->

            <!-- ==== SIDEBAR START == -->

            <div class="col-sm-4">

                <!-- ==== COURSE DATA START == -->
                <div class="widget" data-scroll-reveal>
                    <ul>
                        <li class="price">
                            Price <span class="pull-right" ng-if="course.price">{{course.price | currency : "₹ " : 2}}</span>
                            <span class="pull-right" ng-if="!course.price"> FREE</span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-068"></span>
                            <span class="pull-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-032"></span>
                            <span class="pull-right"> {{course.tech}} </span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-038"></span>
                            <span class="pull-right"> {{course.duration}} </span>
                        </li>
                        <li class="course-data">
                            <span class="icon fa fa-calendar"></span>
                            <span class="pull-right"> {{course.date}} </span>
                        </li>
                        <li class="course-data">
                            <span class="icon icon-006"></span>
                            <span class="pull-right"> {{course.batchSize}} Students</span>
                        </li>
                        <li class="course-data" ng-show="course.place">
                            <span class="icon icon-010"></span>
                            <span class="pull-right">{{course.place}}</span>
                        </li>
                    </ul>
                    <p class="text-center" ng-show="showRemainingSpots"> <i class="fa fa-clock-o"></i> Hurry! Only {{remainingSpots}} spot(s) remaining!</p> 

                    <p ng-if="course.status=='new'"><a class="btn btn-primary take-course" ng-click="registerModal()">Notify Me!</a></p>
                    <p ng-if="course.status=='open' && course.price>0"><a class="btn btn-primary take-course" ng-click="canJoin();">Pay</a></p>
                    <p ng-if="course.status=='open' && course.price=='0'"><a class="btn btn-primary take-course" ng-click="joinCourse()">Register</a></p>
                    <p ng-if="course.status=='closed'"><a class="btn btn-primary take-course" ng-disabled="true">Closed</a></p>

                    <p class="text-center share">		
                        <a href="http://www.facebook.com/codegurukul"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="http://www.twitter.com/codegurukul"><i class="fa fa-twitter fa-lg"></i></a>
                    </p>
                </div>
                <!-- ==== COURSE DATA END == -->

                <!-- ==== TEACHER START == -->
                <div class="widget" data-scroll-reveal>
                    <h3>Mentors</h3>
                    <div class="teacher row" ng-repeat="mentor in course.mentors">
                        <div class="col-sm-12">
                            <img ng-src="{{mentor.image}}" alt="" class="pull-left" />
                            <h5> {{mentor.name}} </h5>
                            <p> {{mentor.description}} </p>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- ==== TEACHER END == -->

            </div>

            <!-- ==== SIDEBAR END == -->

        </div>
    </div>
</section>
<section ng-show="course.name == 'INTERNSHIPS'">

    <h2 class="carousel-title text-center">
        Testimonials
    </h2>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{active:!$index}" ng-repeat = "testimonial in course.testimonials">
                <p>" {{testimonial.testimonial}} "</p> 
                <p ng-bind-html="testimonial.studentPlace"></p>
            </div>
            <!--

<div class="item active">
<p>"I am lucky to be the part of this workshop. I learnt the whole Web devlopment ( front end + back end) properly in 2 weeks.We were taught HTML, CSS, Javascript, Bootstrap , Git, Node.js and Angular.js. Many would doubt if someone can learn detail web dev in two weeks. But trust me its possible with codegurukul."</p> 
<p> <em>- Amod Shinde <br> <small>Padre Conceicao College of Engineering, <br> Goa</small></em></p>
</div>

<div class="item">
<p>"The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)" </p>
<p> <em>- Sameetha Dessai <br> <small>Goa</small></em></p>
</div>

<div class="item">
<p>"Joining CodeGurukul's internship was the best decision ever. I used to consider web development to be very difficult. But Stanly made everything very easy to understand. He is a fantastic trainer. Within no time we were able to do our very own web applications. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!"</p>
<p> <em>- Shraddha Naik <br> <small>Software Engineer, <br> Goa Tech Solutions</small></em></p>
</div>

<div class="item">
<p>"Within 2 weeks after the internship I appeared for an interview for the role of a web developer and have been working since over here at G4 InfoTech, Mapusa-Goa; also I'm very certain when I say this internship very directly helped me in getting this job. A big thumbs up from me to code gurukul, Stanly sir and Sobin sir."</p>
<p> <em>- Anuj Kelkar <br> <small>G4 InfoTech, <br> Goa</small></em></p>
</div>
-->
        </div>

        <!-- Left and right controls -->
        <!--
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
-->
    </div>


</section>



<!-- ========== CONTENT END ========== -->

<!--

<ng-include src="'../views/modal-partials/signup-modal.html'"></ng-include>
<ng-include src="'../views/modal-partials/email-signup-modal.html'"></ng-include>
<ng-include src="'../views/modal-partials/login-modal.html'"></ng-include>
<ng-include src="'../views/modal-partials/guest-registration-modal.html'"></ng-include>
<ng-include src="'../views/modal-partials/notification-modal.html'"></ng-include>
-->


