<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Train Your Startup
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video-wrapper">
                    <img src="/img/codeshot.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-sm-6">
                <h1>Welcome to The Smartway</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.</p>
                <ul>
                    <li>Fusce iaculis ornare nunc rutrum ornare.</li>
                    <li>Proin ut placerat enim, vel venenatis urna.</li>
                    <li>Phasellus sed diam tincidunt mauris malesuada mattis et in nisl.</li>
                    <li>Quisque massa eros, molestie at mi eget, aliquam tristique eros.</li>
                    <li>Nullam aliquet placerat magna ut eleifend.</li>
                    <li>Phasellus iaculis tristique laoreet.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== RELATED COURSES START ========== -->

<section id="featured-posts" class="alt-background">
    <div class="container">
        <div class="row">
            <h2 class="text-center carousel-title">
                Our Courses
            </h2>
        </div>
        <!-- OWL CAROUSEL START -->
        <div class="row">
            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course01.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Creative Website Design	and Development</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course02.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introducing to Digital Photography</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course03.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Adobe Illustrator and Vector Design Basics</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course04.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introduction to Search Engine Optimisation</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course01.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Creative Website Design	and Development</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course02.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introducing to Digital Photography</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course03.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Adobe Illustrator and Vector Design Basics</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course04.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introduction to Search Engine Optimisation</a></h3>
            </div>
        </div>

        <!-- OWL CAROUSEL END -->

    </div>

    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-lg" ng-click="registerModal()">REGISTER NOW </button>
    </div>
</section>

<!-- ========== RELATED COURSES END ========== -->


<!-- ========== FEATURED TEACHERS START ========== -->

<section id="featured-teachers" class="alt-background">
    <div class="container">

        <h2 class="carousel-title text-center">
            Our Mentors
        </h2>


        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post1.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Anthony	Kelly</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>

        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post2.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Judy Williams</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>

        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post3.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Jerry Ramirez</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>

        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post4.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Daniel Roberts</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>

    </div>

    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-lg" ng-click="registerModal()">REGISTER NOW </button>
    </div>

</section>

<!-- ========== FEATURED TEACHERS END ========== -->


<!-- ========== MODAL BEGINS ========== -->


<modal-dialog class="registerModal" show='registerModalShown' dialog-title="Startup Team Training Workshop Registration" height="auto" width="350px" >
    <form method="post" name="queryForm">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : queryForm.fullName.$invalid &amp;&amp; queryForm.fullName.$dirty }" class="form-group has-feedback">
                <input type="text" name="displayName" ng-model="name" placeholder="Name" required="" autofocus="" class="form-control input-lg"/>
                <div ng-if="queryForm.fullName.$dirty" ng-messages="queryForm.fullName.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter your name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.email.$invalid &amp;&amp; queryForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.email.$dirty" ng-messages="queryForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
                <input type="number" name="contact" ng-model="contact" placeholder="Your Contact No" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.contact.$dirty" ng-messages="queryForm.contact.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Your Contact No is required.</div>
                    <div ng-message="number">Your Contact No is Invalid</div>
                </div>
            </div>
        </div>
        <br>
        <div class="modalButtons">
            <button class="btn btn-md angularCancelButton cancelButton" ng-click="registerModal()"> Cancel </button>
            <button ng-controller="PaymentCtrl" class="btn btn-md successButton angularSuccessButton" ng-disabled="queryForm.$invalid" ng-click="sendEmail(name,email,contact); registerModal(); pay();"> Proceed to Payment </button>
        </div>
    </form>  
</modal-dialog>

