<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Train Your Startup
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video-wrapper">
                    <img src="/img/codeshot.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-sm-6">
                <h1>Welcome to The Smartway</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices. Fusce iaculis ornare nunc rutrum ornare. Proin ut placerat enim, vel venenatis urna. Phasellus sed diam tincidunt mauris malesuada mattis et in nisl. Quisque massa eros, molestie at mi eget, aliquam tristique eros. Nullam aliquet placerat magna ut eleifend. Phasellus iaculis tristique laoreet.</p>
                <ul>
                    <li>Fusce iaculis ornare nunc rutrum ornare.</li>
                    <li>Proin ut placerat enim, vel venenatis urna.</li>
                    <li>Phasellus sed diam tincidunt mauris malesuada mattis et in nisl.</li>
                    <li>Quisque massa eros, molestie at mi eget, aliquam tristique eros.</li>
                    <li>Nullam aliquet placerat magna ut eleifend.</li>
                    <li>Phasellus iaculis tristique laoreet.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== RELATED COURSES START ========== -->

<section id="featured-posts" class="alt-background">
    <div class="container">
        <div class="row">
            <h2 class="text-center carousel-title">
                Our Courses
            </h2>
        </div>
        <!-- OWL CAROUSEL START -->
        <div class="row">
            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course01.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Creative Website Design	and Development</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course02.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introducing to Digital Photography</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course03.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Adobe Illustrator and Vector Design Basics</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course04.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introduction to Search Engine Optimisation</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course01.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Creative Website Design	and Development</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course02.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introducing to Digital Photography</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course03.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Adobe Illustrator and Vector Design Basics</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course04.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Introduction to Search Engine Optimisation</a></h3>
            </div>
        </div>

        <!-- OWL CAROUSEL END -->

    </div>

    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-lg">REGISTER NOW </button>
    </div>
</section>

<!-- ========== RELATED COURSES END ========== -->

<!-- ========== REVIEWS START ========== -->

<section id="about-reviews">
    <div class="tint"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" data-scroll-reveal>

                <h2>Startups Speak</h2>

                <!-- OWL CAROUSEL START -->
                <ul rn-carousel>

                    <li class="item startup-training-testimonials">
                        <blockquote class="col-md-10 col-sm-8 col-xs-12">Donec varius ante in turpis faucibus sagittis. Vestibulum lacinia ante eget fringilla lobortis. Nunc sollicitudin, arcu at fringilla varius, turpis dui venenatis augue, at adipiscing ante ipsum vel leo. In a sem sit amet mi condimentum semper. Nulla eleifend convallis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit erat eu suscipit porttitor. Sed vestibulum mauris sit amet eros feugiat egestas. Ut rhoncus imperdiet est eget ullamcorper. Fusce at orci sed augue aliquam malesuada. <small>Sally Peterson, Student</small></blockquote>
                        <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                            <img src="/img/sobin_thumb.png">
                        </div>
                    </li>

                    <li class="item startup-training-testimonials">
                        <blockquote class="col-md-10 col-sm-8 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper consectetur nunc ac pretium. Nullam vel lectus non augue imperdiet porta. Proin commodo malesuada faucibus. Integer at lacinia lacus. Vestibulum dignissim imperdiet est vel ornare. Sed vehicula luctus massa, sit amet porta purus feugiat a. Cras tincidunt neque vitae enim pellentesque, nec congue mauris suscipit. Praesent sit amet odio lacus. <small>Malcolm Carr, Student</small></blockquote>
                        <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                            <img src="/img/sobin_thumb.png">
                        </div>
                    </li>

                    <li class="item startup-training-testimonials">
                        <blockquote class="col-md-10 col-sm-8 col-xs-12">Integer faucibus orci eu lorem vulputate, non semper odio consectetur. Phasellus eu commodo lectus, interdum molestie nunc. Maecenas aliquet sagittis elementum. Nulla lobortis diam nisl, id consectetur nunc faucibus viverra. Donec vel porta augue, eget accumsan lorem. Sed dictum consequat ipsum eget porta. Donec imperdiet dolor at ante interdum, sed viverra orci iaculis. Donec vestibulum nulla at tortor molestie, vel convallis neque vestibulum. Phasellus luctus purus ut tincidunt imperdiet. <small>Antonia Owen, Student</small></blockquote>
                        <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                            <img src="/img/sobin_thumb.png">
                        </div>
                    </li>

                    <li class="item startup-training-testimonials">
                        <blockquote class="col-md-10 col-sm-8 col-xs-12">Vestibulum viverra dolor lorem, vitae ornare velit facilisis eget. Phasellus ornare, mauris id interdum cursus, velit libero dictum dolor, a vehicula lacus enim id tortor. Vestibulum faucibus nec elit id iaculis. Aenean lorem ante, pretium ac iaculis non, tincidunt in quam. Nunc lobortis dictum dui. Pellentesque sagittis luctus posuere. Sed suscipit mi vitae orci accumsan, ut imperdiet odio molestie. <small>Jared Murray, Student</small></blockquote>
                        <div class="col-md-2 col-sm-4 col-xs-12 text-center">
                            <img src="/img/sobin_thumb.png">
                        </div>
                    </li>

                </ul>
                <!-- OWL CAROUSEL END -->

            </div>
        </div>
    </div>
</section>

<!-- ========== REVIEWS END ========== -->

<!-- ========== FEATURED TEACHERS START ========== -->

<section id="featured-teachers" class="alt-background">
    <div class="container">

        <h2 class="carousel-title text-center">
            Our Mentors
        </h2>

        <!-- OWL CAROUSEL START -->

        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post1.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Anthony	Kelly</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>

        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post2.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Judy Williams</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>

        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post3.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Jerry Ramirez</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>

        <div class="item col-md-3 col-sm-6 col-xs-6">
            <img src="/img/temp-images/sidebar-post4.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Daniel Roberts</h3>
                <p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
            </div>
        </div>


        <!-- OWL CAROUSEL END -->

    </div>

    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-lg">REGISTER NOW </button>
    </div>

</section>

<!-- ========== FEATURED TEACHERS END ========== -->

