<!-- ========== TITLE START ========== -->

<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                Train Your Startup
            </div>
        </div>
    </div>
</div>

<!-- ========== TITLE END ========== -->

<!-- ========== CONTENT START ========== -->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="video-wrapper">
                    <img src="/img/codeshot.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-sm-6">
                <h1 class="text-center">Are you a start-up?</h1>
                <p>Because we love working with startups. As the number of technological startups keep growing year on year, we thought, why not help show them the right way. In a startup, employing experienced talent could be challenging. Therefore we usually try to get in the most talented freshers. Let this not hamper your project nor your product.</p> 
                <p>At Codegurukul we teach startup employees to cope up with the latest technologies and hone them with the required skill sets. Our tailor made crash course only for startups are designed to make your employees quicker and for sure more resourceful.</p>
                <div class="col-sm-12 text-center startup-register-button">
                    <button class="btn btn-primary btn-md" ng-click="registerModal()">REGISTER NOW </button>
                </div>
                <div class="col-sm-12 text-center startup-share-links">
                    <p class="text-center share">		
                        <a href="#/startup-team-training" socialshare socialshare-provider="facebook" socialshare-text="CodeGurukul has started awesome training programs for startups. Check it out at codegurukul.com/startup-team-training" socialshare-url="http://www.codegurukul.com/startup-team-training"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#/startup-team-training" socialshare socialshare-provider="twitter" socialshare-text="@codegurukul has started awesome training programs for startups. Check it out at" socialshare-url="http://www.codegurukul.com/startup-team-training"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#/startup-team-training" socialshare socialshare-provider="google+" socialshare-text="CodeGurukul has started awesome training programs for startups. Check it out at codegurukul.com/startup-team-training" socialshare-url="http://www.codegurukul.com/startup-team-training"><i class="fa fa-google-plus fa-lg"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== CONTENT END ========== -->

<!-- ========== RELATED COURSES START ========== -->

<section id="featured-posts" class="alt-background">
    <div class="container">
        <div class="row">
            <h2 class="text-center carousel-title">
                Our Courses
            </h2>
        </div>
        <!-- OWL CAROUSEL START -->
        <div class="row">
            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/startup-team-training/mean-stack.png" alt="" class="img-responsive" /></a>
                <h3><a href="#">MEAN Stack</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/startup-team-training/angularjs-logo.png" alt="" class="img-responsive" /></a>
                <h3><a href="#">Angularjs</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/startup-team-training/rails-logo.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Ruby on Rails</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/startup-team-training/aws-logo.png" alt="" class="img-responsive" /></a>
                <h3><a href="#">Amazon Web Services</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course01.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Data Science</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course02.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Growth Hacking</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course03.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Handoop and Big Data</a></h3>
            </div>

            <div class="item col-md-3 col-sm-6 col-xs-6">
                <a href="#"><img src="/img/temp-images/course04.jpg" alt="" class="img-responsive" /></a>
                <h3><a href="#">Git and Source Code Management</a></h3>
            </div>
        </div>

        <!-- OWL CAROUSEL END -->

    </div>

    <div class="col-md-12 text-center">
        <button class="btn btn-primary btn-lg" ng-click="registerModal()">REGISTER NOW </button>
    </div>
</section>

<!-- ========== RELATED COURSES END ========== -->


<!-- ========== FEATURED TEACHERS START ========== -->

<section id="featured-teachers" class="alt-background">
    <div class="container">

        <h2 class="carousel-title text-center">
            Our Mentors
        </h2>



        <div class="item col-md-4 col-sm-6 col-xs-6">
            <img src="/img/startup-team-training/sobin-wide.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Sobin Thomas</h3>
                <p>Tech Consultant with 7+ years of industry experience</p>
            </div>
        </div>
        <div class="item col-md-4 col-sm-6 col-xs-6">
            <img src="/img/startup-team-training/stanly.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Stanly Samuel</h3>
                <p>Knowledge imparter with 6+ years of experience in teaching</p>
            </div>
        </div>

        <div class="item col-md-4 col-sm-6 col-xs-6">
            <img src="/img/startup-team-training/amit-erandole.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>Amit Erandole</h3>
                <p>Senior Web Developer and UX UI Strategy Consultant at Netmagic Solutions (An NTT Communications Company)</p>
            </div>
        </div>

        <div class="item col-md-4 col-sm-6 col-xs-6">
            <img src="/img/startup-team-training/abhishek.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>ABHISHEK SHAH</h3>
                <p>Assistant Manager iOS Developer at Reliance Jio Infocomm Limited</p>
            </div>
        </div>
        <div class="item col-md-4 col-sm-6 col-xs-6">
            <img src="/img/startup-team-training/chaitanya.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>CHAITANYA REDDY TATIPARTI</h3>
                <p>Software Engineer at Google</p>
            </div>
        </div>

        <div class="item col-md-4 col-sm-6 col-xs-6">
            <img src="/img/startup-team-training/lloyd-saldhana.jpg" alt="" class="img-responsive" />
            <div class="description">
                <h3>LLOYD SALDANHA</h3>
                <p>CTO at Nestopia</p>
            </div>
        </div>

        <!--
<div class="item col-md-3 col-sm-6 col-xs-6">
<img src="/img/temp-images/sidebar-post4.jpg" alt="" class="img-responsive" />
<div class="description">
<h3>Daniel Roberts</h3>
<p>Non ipsum vulputate condimentum eu id tellus. Praesent commodo arcu quis rhoncus porttitor.</p>
</div>
</div>
-->

    </div>


</section>

<!-- ========== FEATURED TEACHERS END ========== -->


<!-- ========== MODAL BEGINS ========== -->


<modal-dialog class="registerModal" show='registerModalShown' dialog-title="Startup Team Training Workshop Registration" height="auto" width="350px" >
    <form method="post" name="queryForm">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : queryForm.fullName.$invalid &amp;&amp; queryForm.fullName.$dirty }" class="form-group has-feedback">
                <input type="text" name="displayName" ng-model="name" placeholder="Name" required="" autofocus="" class="form-control input-lg"/>
                <div ng-if="queryForm.fullName.$dirty" ng-messages="queryForm.fullName.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter your name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.email.$invalid &amp;&amp; queryForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.email.$dirty" ng-messages="queryForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : queryForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
                <input type="number" name="contact" ng-model="contact" placeholder="Your Contact No" required="" class="form-control input-lg"/>
                <div ng-if="queryForm.contact.$dirty" ng-messages="queryForm.contact.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Your Contact No is required.</div>
                    <div ng-message="number">Your Contact No is Invalid</div>
                </div>
            </div>
        </div>
        <br>
        <div class="modalButtons">
            <button class="btn btn-md angularCancelButton cancelButton" ng-click="registerModal()"> Cancel </button>
            <button ng-controller="PaymentCtrl" class="btn btn-md successButton angularSuccessButton" ng-disabled="queryForm.$invalid" ng-click="sendEmail(name,email,contact); registerModal(); pay();"> Proceed to Payment </button>
        </div>
    </form>  
</modal-dialog>

