<div class="main-wrapper">
      <div id="highlighted-region" class="highlighted text-color-light bg-image-bench">
        <div id="highlighted-slider-2-block" class="highlighted-slider-2">
          <div class="highlighted-image-1">
                <div class="highlighted-slider-2-content">
                  <h1 class="slider-title">Students Speak</h1>
                </div>
          </div> 
        </div> 
      </div> <!-- /highlighted-region -->

      <div id="content-2-region" class="content-2 region">

        <div id="services-2-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content testimonial-1">
                <h4>Amod Shinde <br>
                <small>Padre Conceicao College of Engineering, <br> Goa</small></h4>
                <p>"I am an Engineering student from Goa,India; currently studying in second year. I have been coding in C, C++ etc languages for last 2 years. Since, C,C++ were the only languages taught in the college it was impossible for us to participate in any competetions or do any projects as most of them need recent technologies. Whatever(programming languages) I had studied from internet were basic and I didnt have enough knowlege to implement my ideas. I also work on android app development, but at very basic level.<br>
                    
But, fortunately we got a chance to attend the internship (workshop) on web development held in my college last sem-end. Codegurukul conducted it and Stanly Samuel and Sobin G Thomas were the faculties. I am lucky to be the part of this workshop. I learnt the whole Web devlopment ( front end + back end) properly in 2 weeks.We were taught HTML, CSS, Javascript, Bootstrap , Git, Node.js and Angular.js. Many would doubt if someone can learn detail web dev in two weeks. But trust me its possible with codegurukul. As this doesn't end here, this was actually a turning point in my engineering life. Three of us (who attended the workshop) participated in a Bluemix Hackathon conducted by IBM at BITS,goa quark and won the third place. Now its possible for me to handle projects in web dev and I have already started developing web pages for college events. We are also looking forward to participate in all web-dev based Hackathons.<br>
Even after the end of the course, the teachers are still in contact with us and provide us help and support whenever we need. I am thankful to codegurukul for making me capable of designing a full fledged  dynamic webpage."
                </p>
              </div> <!-- /services-2-content -->
              <div class="col-xs-12 col-md-5 testimonial-1 services-2-image">
                <img src="../img/testimonials/amod_shinde.jpg" class="img-responsive">
              </div> <!-- /services-2-image -->
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-2-block -->

      </div> <!-- /content-2-region -->
      
      <div id="content-3-region" class="content-3 region bg-color-grayLight1">

        <div id="services-22-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
               <div class="col-xs-12 col-md-5 testimonial-1 services-2-image">
                <img src="../img/testimonials/sameetha_desai.jpg" class="img-responsive" alt="Parallax" title="Parallax">
              </div> <!-- /services-2-image -->
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4> Sameetha Dessai  <br>
                  <small> Goa</small></h4>
                <p> "The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)" </p>
              </div> <!-- /services-2-content -->
             
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-22-block -->

      </div> <!-- /content-3-region -->

            
      <div id="content-2-region" class="content-2 region">

        <div id="services-2-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content testimonial-1">
                <h4>Shraddha Naik <br>
                <small> Software Engineer, <br> Goa Tech Solutions</small></h4>
                <p>"Joining CodeGurukul's internship was the best decision ever. I used to consider web development to be very difficult. But Stanly made everything very easy to understand. He is a fantastic trainer. All the topics like HTML, CSS, JavaScript, Bootstrap, Git, Node.js, MongoDB,  Express were taught from scratch. <br/>
                 Within no time we were able to do our very own web applications. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!"
                </p>
              </div> <!-- /services-2-content -->
              <div class="col-xs-12 col-md-5 testimonial-1 services-2-image">
                <img src="../img/testimonials/shraddha_naik.jpg" class="img-responsive">
              </div> <!-- /services-2-image -->
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-2-block -->

      </div> <!-- /content-2-region -->
      
      <div id="content-3-region" class="content-3 region bg-color-grayLight1">

        <div id="services-22-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
               <div class="col-xs-12 col-md-5 testimonial-1 services-2-image">
                <img src="../img/testimonials/anuj_kelkar.jpg" class="img-responsive" alt="Parallax" title="Parallax">
              </div> <!-- /services-2-image -->
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4>Anuj Kelkar <br>
                  <small> G4 InfoTech, <br> Goa.</small></h4>
                <p> "I'm a BE IT passout as of August 2014 and I was still looking for a job when I heard about this internship with CodeGurukul. Knowing it was one for web development training I registered for it and what followed was a learning process, a journey that was fun, challenging and overall a very good experience for me. Stanly sir and Sobin sir from CodeGurukul covered HTML5, CSS3, Javascript, Bootstrap, Git, Node.js for us in 2 weeks! Not to mention all the other invaluable things they taught us over the course. They were more like friends to us and were very open and helpful. This internship helped me and at least 34 other students really grow in the professional perspective; and very surely has improved my confidence.<br>
                    Within 2 weeks after the internship I appeared for an interview for the role of a web developer and have been working since over here at G4 InfoTech, Mapusa-Goa; also I'm very certain when I say this internship very directly helped me in getting this job. A big thumbs up from me to code gurukul, Stanly sir and Sobin sir." </p>
              </div> <!-- /services-2-content -->
             
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-22-block -->

      </div> <!-- /content-3-region -->
      

    </div> <!-- /main-wrapper -->


    
    <!-- End of demo switcher -->

    <!-- Back to top button -->
    
    <div id="back-to-top" style="display: block;">
      <i class="ion-ios7-arrow-up"></i>
    </div>

    <!-- End of Back to top button -->
    
  