<div class="title">
    <div class="title-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                {{user.profile.fullname}}
            </div>
        </div>
    </div>
</div>  
<section class="badges">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <span class="pull-right"><button class="btn btn-primary btn-xs" ng-click="edit=!edit"><i class="fa fa-pencil"></i></button></span>
                <div class="widget" ng-hide="edit">
                    <!-- <form role="form"> -->
                    <h3>{{user.profile.fullname}}</h3>
                    <h2>Points <span class="pull-right">{{user.points}}</span><br><span><h6><a href="#">Earn some more points!</a></h6></span></h2>

                    <ul>
                        <li class="profile-details">
                            <label>Location <span class="pull-right">{{user.profile.location}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>Email <span class="pull-right">{{user.email}}</span></label>
                        </li>
                        <li class="profile-details capitalize-text">
                            <label>Gender <span class="pull-right">{{user.profile.gender}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>DoB <span class="pull-right">{{user.profile.dob | date:'dd-MM-yyyy'}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>Website <span class="pull-right">{{user.profile.website}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>Facebook <span class="pull-right">{{user.profile.facebook}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>Twitter <span class="pull-right">{{user.profile.twitter}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>Google <span class="pull-right">{{user.profile.google}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>Github <span class="pull-right">{{user.profile.github}}</span></label>
                        </li>
                        <li class="profile-details capitalize-text">
                            <label>Type <span class="pull-right">{{user.profile.type}}</span></label>
                        </li>
                        <li class="profile-details" ng-show="user.profile.type=='professional'">
                            <label>Organization <span class="pull-right">{{user.profile.organization}}</span></label>
                        </li>
                        <li class="profile-details" ng-show="user.profile.type=='student'">
                            <label>College <span class="pull-right">{{user.profile.college}}</span></label>
                        </li>
                        <li class="profile-details" ng-show="user.profile.type=='student'">
                            <label>Stream <span class="pull-right">{{user.profile.stream}}</span></label>
                        </li>
                        <li class="profile-details" ng-show="user.profile.type=='student'">
                            <label>Year <span class="pull-right">{{user.profile.year}}</span></label>
                        </li>
                        <li class="profile-details" ng-show="user.profile.type=='other'">
                            <label>Work Description <span class="pull-right">{{user.profile.workDesc}}</span></label>
                        </li>
                        <li class="profile-details">
                            <label>Experience <span class="pull-right">{{user.profile.experience}}</span></label>
                        </li>
                        <li class="profile-details user-skills">
                            <label>Skills 
                                <ul>
                                    <li class="skills-display" ng-repeat="skill in user.profile.skills"> <label>{{skill}} </label> </li>
                                </ul>
                            </label>
                            <!--                            <strong class="pull-right" ng-repeat="skill in user.profile.skills"> {{skill}} </strong>-->
                        </li>
                    </ul>
                    <!-- </form> -->
                </div>
                <div class="widget" ng-if="edit">
                    <div ng-include="'../views/partials/edit-profile-details.html'"></div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="col-sm-12">
                    <h2 class="carousel-title text-center">
                        Badges <br>
                        <button ng-hide="all" class="btn btn-link btn-xs" ng-click="allBadges()">View All Badges</button><button class="btn btn-link btn-xs" ng-show="all" ng-click="all = ! all">Back To My Badges</button>
                    </h2>
                </div>
                <div class="text-center">
                    <div ng-hide="all" ng-repeat="badge in user.badges | filter:filterLocked" class="col-md-2 col-sm-2 col-xs-4">
                        <a ui-sref="{{badge.link}}">
                            <p><img ng-src="{{badge.thumb}}" alt="profile-details" ng-class="{locked:badge.locked}"></p>
                            <h3 class="text-center">{{badge.name}}</h3>
                        </a>
                    </div>
                    <div ng-show="all" ng-repeat="badge in badges | filter:filterLocked" class="col-md-2 col-sm-2 col-xs-4">
                        <a ui-sref="{{badge.link}}">
                            <p><img ng-src="{{badge.thumb}}" alt="profile-details" ng-class="{locked:badge.locked}"></p>
                            <h3 class="text-center">{{badge.name}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<modal-dialog show="progressModal" dialog-title="Complete Profile">
  <h2>Your profile is {{progressData}}% complete</h2>
  <div class="progress">
    <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{progressData}}%" class="progress-bar progress-bar-success progress-bar-stripes"><span class="sr-only">40% Complete (success)</span></div>
  </div>
    <a ng-click="toggleProgressModal()" style="left:0px;" class="btn btn-md btn-primary pull-right">Okay</a>
</modal-dialog>