<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1" >
        <div class="container">
          <div class="row">

            <div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
              <div class="region">

                <div id="page-title-block" class="page-title block">
                  <h1>Early Hacker</h1>
                </div> <!-- /page-title-block -->

              </div> <!-- /region -->
            </div> <!-- /top-content-left-region -->

            <div id="top-content-right-region" class="top-content-right col-xs-12 col-md-6 text-right text-center-sm">
              <div class="region">

                <div id="page-breadcrumbs-block" class="page-breadcrumbs block">
                  <div class="breadcrumbs">
                    <a href="/programs.php">Programs</a>
                    <span class="delimiter">›</span>
                    <a href="/programs/early-hacker.php">Early Hacker</a>
                  </div> <!-- /breadcrumbs -->
                </div> <!-- /page-breadcrumbs-block -->

              </div> <!-- /region -->
            </div> <!-- /top-content-right-region -->

          </div> <!-- /row -->
        </div> <!-- /container -->
      </div> <!-- /top-content-region -->

      <div id="content-region" class="content region">
        
        <div id="portfolio-single-block" class="portfolio-single block">
          <div class="container">
            <div class="row">

              <div class="col-xs-12">
               <h2 style="text-align: center;">Early Hacker</h2>
                <div class="flex-arrow-slider">
                  <ul class="slides">
                    <li><img class="portfolio-single-image img-responsive" src="/img/programs/early-hacker.jpg" title="Early Hacker" alt="Early Hacker" /></li>
                  </ul>
                </div> <!-- /flex-arrow-slider -->
              </div> <!-- /col-xs-12 -->

              <div class="col-xs-12 margin-top-40 text-center">
                <p>Our Goal: You’ll begin CodeGurukul with a feeling of excitement and anticipation. Twelve weeks later, you’ll follow the footsteps of our trailblazing alumni, taking the methodologies and best practices you perfected at our coding bootcamp to your next job. We’ve built world class software engineering curriculum and programming courses. However, CodeGurukul is, above all else, a world-class learning environment.</p>
                
              </div> <!-- /col-xs-12 -->

              <div class="col-xs-12 col-sm-6 margin-top-50">
                <h6>Course Overview</h6>
                <p>The Fresher to Hacker will train students to build web applications. Users don’t want to download a native iOS or Android app to take care of day to day activities on the web; they want highly-interactive websites. This has caused a boom in interest amongst companies looking to build client-side (read: mobile-friendly) web-apps that consume a JSON API rather than rely on kilobyte-heavy server-side rendering.</p>
                <p>The JavaScript landscape is changing almost weekly, with new libraries and techniques released by both major companies and independent, open-source developers. The result? Developers who understand emerging best practices are able to put up fully-featured and scalable apps in less time.</p>
              </div> <!-- /col-xs-12 -->
              
              <div class="col-xs-12 col-sm-6 margin-top-50">
                <h6>Prerequisites</h6>
              
                <ul class="icon-list">
                  <li><i class="icon ion-checkmark-round text-color-theme"></i>Code School</li>
                  <ul class="icon-list">
                  <li><i class="icon ion-checkmark-round text-color-theme"></i>JavaScript Roadtrip Part 1 and Part 2</li>
                  <li><i class="icon ion-checkmark-round text-color-theme"></i>Try jQuery</li>
                  <li><i class="icon ion-checkmark-round text-color-theme"></i>CSS Cross Country</li>
                  </ul>
                  <li><i class="icon ion-checkmark-round text-color-theme"></i>Chrome DevTools</li>
                </ul>
              </div> <!-- /col-xs-12 -->

            </div> <!-- /row -->
            <a class="btn btn-primary margin-top-30 " href="/utilities/file_download.php?download_file=Fresher-to-Hacker.pdf"><i class="icon ion-android-download"></i> Programers Details</a>
          </div> <!-- /container -->
        </div> <!-- /portfolio-single-block -->

      </div> <!-- /content-region -->