<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">
  <div class="container">
    <div class="row">

      <div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
        <div class="region">

          <div id="page-title-block" class="page-title block">
            <h1>About Us</h1>
          </div>
          <!-- /page-title-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-left-region -->

      <div id="top-content-right-region" class="top-content-right col-xs-12 col-md-6 text-right text-center-sm">
        <div class="region">

          <div id="page-breadcrumbs-block" class="page-breadcrumbs block">
            <div class="breadcrumbs">
              <a href="index.php">Home</a>
              <span class="delimiter">›</span> About Us
            </div>
            <!-- /breadcrumbs -->
          </div>
          <!-- /page-breadcrumbs-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-right-region -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /top-content-region -->
<div id="content-region" class="content region">

  <div id="about-content-block" class="about-content block">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-6">
          <h5>Our company background</h5>
          <p>Codegurukul trains passionate, creative people in web and mobile development. We bring together people with diverse perspectives and backgrounds who are passionate about technology—from investment bankers and spinal surgeons to cartoonists and sky-diving instructors. Codegurukul graduates now work as software developers in top tech companies.</p>
          <p>Our Program are 12 weeks, full-time, and train people for careers in software development. We partnered with Codeniti to launch the Codeniti Fellowship Program and provide free training to underrepresented groups in the tech community. We also offer part-time courses, corporate training, and a Pre-College Program for high school students.
          </p>
        </div>
        <!-- /col-xs-12 -->

        <div class="col-xs-12 col-md-6 margin-top-sm-30">
          <div class="flex-arrow-slider">
            <ul class="slides">
              <li><img src="img/content/555x312.png" alt="cookies" title="cookies" class="img-responsive img-full-width" />
              </li>
              <!--<li><img src="img/content/tea.jpg" alt="tea" title="tea" class="img-responsive img-full-width" /></li>
                    <li><img src="img/content/table.jpg" alt="table" title="table" class="img-responsive img-full-width" /></li>-->
            </ul>
          </div>
          <!-- /flex-arrow-slider -->
        </div>
        <!-- /col-xs-12 -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /about-content-block -->



</div>
<!-- /content-region -->



<div id="content-2-region" class="content-2 region">

  <div id="team-block" class="team block">
    <div class="container">

      <h5 class="block-title">Our Team</h5>

      <div class="row">

        <div class="col-xs-12 col-md-4 team-item">
          <div class="team-item-image">
            <img src="/img/about-us/mentor/sobin.png" class="about_img" alt="member 1" title="member 1" class="img-responsive" />
            <div class="team-item-overlay">
              <p>
                <a href="https://www.facebook.com/sobingt">facebook</a>
                <br/>
                <a href="https://www.linkedin.com/in/sobingt">Linkedin</a>
                <br/>
              </p>
            </div>
          </div>
          <!-- /team-item-image -->
          <div class="team-item-name">
            <h6>Sobin George Thomas</h6>
            <p class="text-color-theme">MENTOR</p>
          </div>
          <!-- /team-item-name -->

        </div>
        <!-- /team-item -->


        <div class="col-xs-12 col-md-4 team-item">
          <div class="team-item-image">
            <img src="/img/about-us/mentor/stanly.png" alt="member 2" title="member 2" class="img-responsive" />
            <div class="team-item-overlay">
              <p>
                <a href="https://www.facebook.com/stanlysir">facebook</a>
                <br/>
                <a href="https://twitter.com/StanlyJSamuel">Linkedin</a>
                <br/>
              </p>
            </div>
          </div>
          <!-- /team-item-image -->
          <div class="team-item-name">
            <h6>Stanly Samuel</h6>
            <p class="text-color-theme">MENTOR</p>
          </div>
          <!-- /team-item-name -->

        </div>
        <!-- /team-item -->
        
        <div class="col-xs-12 col-md-4 team-item">
          <div class="team-item-image">
            <img src="/img/about-us/mentor/amit_erandole.jpg" alt="member 2" title="member 2" class="img-responsive" style="height: 241px;" />
            <div class="team-item-overlay">
              <p>
                <a href="https://www.facebook.com/amit.erandole">facebook</a>
                <br/>
                <a href="https://www.linkedin.com/in/amiterandole">Linkedin</a>
                <br/>
              </p>
            </div>
          </div>
          <!-- /team-item-image -->
          <div class="team-item-name">
            <h6>Amit Erandole</h6>
            <p class="text-color-theme">MENTOR</p>
          </div>
          <!-- /team-item-name -->

        </div>
        <!-- /team-item -->  

        <div class="col-xs-12 col-md-4 team-item" style= "margin-top: 40px;">
          <div class="team-item-image">
            <img src="/img/about-us/mentor/chaitanya.png" alt="member 3" title="member 3" class="img-responsive" />
            <div class="team-item-overlay">
              <p>
                <a href="http://facebook.com">facebook</a>
                <br/>
                <a href="in.linkedin.com/pub/chaitanya-reddy-tatiparti/11/686/822/en">Linkedin</a>
                <br/>
              </p>
            </div>
          </div>
          <!-- /team-item-image -->
          <div class="team-item-name">
            <h6>Chaitanya Reddy Tatiparti</h6>
            <p class="text-color-theme">MENTOR</p>
          </div>
          <!-- /team-item-name -->
        </div>
        <!-- /team-item -->

        <div class="col-xs-12 col-md-4 team-item margin-top-40">
          <div class="team-item-image">
            <img src="/img/about-us/mentor/warren.jpg" style="height: 241px" alt="member 3" title="member 3" class="img-responsive" />
            <div class="team-item-overlay">
              <p>
                <a href="https://www.facebook.com/warren.gonsalves.9">facebook</a>
                <br/>
                <a href="#">Linkedin</a>
                <br/>

              </p>
            </div>
          </div>
          <!-- /team-item-image -->
          <div class="team-item-name">
            <h6>Warren Gonsalves</h6>
            <p class="text-color-theme">MENTOR</p>
          </div>
          <!-- /team-item-name -->

        </div>
        <!-- /team-item -->

        <div class="col-xs-12 col-md-4 team-item margin-top-40">
          <div class="team-item-image">
            <img src="/img/about-us/mentor/abhishek.png" alt="member 3" title="member 3" class="img-responsive" />
            <div class="team-item-overlay">
              <p>
                <a href="http://facebook.com/abhshah?fref=ts">facebook</a>
                <br/>
                <a href="#">Linkedin</a>
                <br/>

              </p>
            </div>
          </div>
          <!-- /team-item-image -->
          <div class="team-item-name">
            <h6>Abhishek Shah</h6>
            <p class="text-color-theme">MENTOR</p>
          </div>
          <!-- /team-item-name -->

        </div>
        <!-- /team-item -->

        <div class="col-xs-12 col-md-4 team-item margin-top-40">
          <div class="team-item-image">
            <img src="/img/about-us/mentor/loyd.png" alt="member 3" title="member 3" class="img-responsive" />
            <div class="team-item-overlay">
              <p>
                <a href="http://facebook.com">facebook</a>
                <br/>
                <a href="in.linkedin.com/in/saldanhalloyd/en">Linkedin</a>
                <br/>
              </p>
            </div>
          </div>
          <!-- /team-item-image -->
          <div class="team-item-name">
            <h6>Lloyd Saldanha</h6>
            <p class="text-color-theme">MENTOR</p>
          </div>
          <!-- /team-item-name -->
        </div>
        <!-- /team-item -->
      </div>

    </div>
    <!-- /row -->>
  </div>
  <!-- /container -->
</div>
<!-- /team-block -->

</div>
<!-- /content-2-region -->