<header class="internship-header text-center-md">
    <h2> AngularJS Workshop </h2>
</header>

<div class="container">

    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>DESCRIPTION</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <br><br>
                <h3>OVERVIEW</h3>
                <hr>
                <h5> Header 1</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 2</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 3</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 4</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 5</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <hr>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 mentors">
                <h3> MENTORS </h3>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/people/user1.jpg" width="75px">
                    </div>
                    <div class="col-md-8">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/people/user2.jpg" width="75px">
                    </div>
                    <div class="col-md-8">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>
<!--
    
    <section>
        <div class="col-md-12">
            
        </div>
    </section>
    
-->
</div>