<header class="internship-header text-center-md">
     <h1> AngularJS Workshop <br> <small> 28th & 29th March 2015</small></h1>
</header>

<!--
<div class="container">

    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>DESCRIPTION</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <br><br>
                <h3>OVERVIEW</h3>
                <hr>
                <h5> Header 1</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 2</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 3</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 4</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 5</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <hr>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 mentors">
                <h3> MENTORS </h3>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/people/user1.jpg" width="75px">
                    </div>
                    <div class="col-md-8">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/people/user2.jpg" width="75px">
                    </div>
                    <div class="col-md-8">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 text-center comingsoon">
                <h1> COMING SOON!</h1>
            </div>
        </div>
    </section>

</div>-->



<div class="container">

    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>DESCRIPTION</h3>
                <p> This training aims at equipping the participants with the necessary knowledge and skills required to build rich internet applications using cutting edge RIA framework from google 'Angular.js'.</p>
                <br>
                <div class="row margin-top-50">
                <h3>OBJECTIVES</h3>
                <div class="col-md-11 col-md-offset-1">

                    <p>At the end of Angular.JS training course, participants will be able to:</p>
                    <ul>
                        <li>Build RIA using Angular.js</li>
                        <li>Exploit two-way binding offered by Angular.js</li>
                        <li>Use dependency injection for better maintainability</li>
                        <li>Understand and use various directives offered by Angular.js</li>
                        <li>Create custom directives</li>
                        <li>Use grunt.js for commonly performed tasks in JavaScript application development</li>
                            Use bower.js for client-side dependency management</li>
                    </ul>
                    
                </div>
            </div>
                <div class="row margin-top-50">
                    <h3>CURRICULUM</h3>
                    <div class="col-md-11 col-md-offset-1">
                        <h5>1. Introduction to Angular.JS</h5>
                        <ul>
                            <li>How Angular.js is opinionated</li>
                            <li>Difference between Backbone.js and Angular.js</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>2. Angular.js Building Blocks</h5>
                        <ul>
                            <li>Controller Component</li>
                            <li>Model Component</li>
                            <li>View Component</li>
                            <li>Directives
                            <li>Filters</li>
                            <li>Services</li>
                            <li>DI in Angular.js</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>3. Anatomy of an Angular.js Applications</h5>
                        <ul>
                            <li>Creating Boundaries using ng-app</li>
                            <li>Model View Controller</li>
                            <li>Templates and Data Binding</li>
                            <li>Repeating elements in templates</li>
                            <li>Using Expressions, CSS Classes and Styles</li>
                            <li>Using Controllers for UI responsibility</li> separation</li>
                            <li>Responding to model changes</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>4. Data Binding in Angular.js</h5>
                        <ul>
                            <li>Understanding Built-in Directives</li>
                            <li>Scope resolution</li>
                            <li>One way and Two way data binding</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>5. Using Filters</h5>
                        <ul>
                            <li>Filters Overview</li>
                            <li>Understanding Filter Expressions</li>
                            <li>Building custom Filters</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>6. Services</h5>
                        <ul>
                            <li>Services Overview</li>
                            <li>Modularity using Services</li>
                            <li>Injecting Services</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>7. Directives</h5>
                        <ul>
                            <li>Directives Overview</li>
                            <li>Creating Directives</li>
                            <li>The Directive Definition Object</li>
                            <li>Compilation and Linking</li>
                            <li>Creating Components</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>8. Communicating with Servers</h5>
                        <ul>
                            <li>Communicating over $http</li>
                            <li>Configuring the requests</li>
                            <li>Sending Http Headers</li>
                            <li>Caching Responses</li>
                            <li>Request and Response Transformation</li>
                            <li>Using RESTful Resources</li>
                            <li>Communication over WebSockets</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>9. Unit Testing</h5>
                        <ul>
                            <li>Testing Models using Jasmine</li>
                            <li>Test considerations for Directives and Filters</li>
                            <li>Using Angular Mocks</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20">
                        <h5>10. Modular JavaScript</h5>
                        <ul>
                            <li>Techniques for modularizing JavaScirpt code</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-11 col-md-offset-1 margin-top-20 margin-bottom-50">
                        <h5>11. Miscellaneous</h5>
                        <ul>
                            <li>Overview of OSS Angular Modules</li>
                            <li>Customizing Angular Modules</li>
                        </ul>
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 mentors">
              
              <div class="row share-and-register-buttons">
                <div class="col-md-6">
                    <button class="btn btn-default" ng-click="shareModal()"> SHARE</button>
                </div>
                  
                <div class="col-md-6">
                    <button class="btn btn-default" ng-click="registerModal()"> REGISTER WITH US </button>
                </div>
              </div>
              
              <div class="row">  
              <h3> MENTORS </h3>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/about-us/mentor/sobin.png" width="75px">
                    </div>
                    <div class="col-md-8">
                        <h6>Sobin G. Thomas</h6>
                        <p>- Tech Guru with 7+ years of industry experience </p>
                    </div>
                </div>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/about-us/mentor/stanly_square.png" width="75px">
                    </div>
                    <div class="col-md-8">
                        <h6>Stanly Samuel</h6>
                        <p>- Knowledge imparter with 6+ years of experience in teaching 500+ students in various fields</p>
                    </div>
                </div>
                <hr>
             </div>
              <div class="row">
            <h3 class="duration">DURATION</h3>
                <h5> 2 days </h5>
                
            <hr>
                
            <h3 class="pricing">PRICING</h3>
                <h5> ₹35,000 </h5>
                </div>
            </div>
        </div>
    </section>
    
    
</div>
<section style="display:none">

  <div id="content-4-region" class="content-4 region bg-color-grayDark2 text-color-light">

    <div id="testimonials-1-block" class="testimonials-1 block">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="flex-bullet-slider vertical-center text-center">
              <i class="icon ion-ios7-chatbubble-outline testimonials-1-icon text-color-theme"></i>
              <ul class="slides">
                <li>
                  <h4 class="testimonials-1-text lato-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus massa in mauris rhoncus aliquam. Suspendisse nec velit vestibulum, euismod quam id, pellentesque elit. Ut a interdum metus, vel dictum nibh.</h4>
                  <p class="testimonials-1-author text-color-theme">Chris Niccolls, <i>The Camera Store</i></p>
                </li>
                <li>
                  <h4 class="testimonials-1-text lato-font">Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at.</h4>
                  <p class="testimonials-1-author text-color-theme">Joe McNally, <i>Adorama</i></p>
                </li>
                <li>
                  <h4 class="testimonials-1-text lato-font">Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt.</h4>
                  <p class="testimonials-1-author text-color-theme">Mark Wallace, <i>Snapfactory</i></p>
                </li>
              </ul>
            </div> <!-- /flex-bullet-slider -->
          </div> <!-- /col-xs-12 -->

        </div> <!-- /row -->
      </div> <!-- container -->
    </div> <!-- /testimonials-1-block -->

  </div> <!-- /content-4-region -->
    
</section>
<header id="myCarousel" class="carousel slide bg-color-grayDark2 text-color-light testimonial-slider text-center">
    
    <a href="/testimonials">
        <!-- Indicators -->
    <h2 class="testimonial-name"> TESTIMONIALS</h2>
    <i class="icon ion-ios7-chatbubble-outline testimonials-1-icon text-color-theme slider-bubble"></i>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        
        <!-- Wrapper for Slides -->
        <div class="carousel-inner text-center">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill slide1">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"Stanly sir and Sobin sir from CodeGurukul covered HTML5, CSS3, Javascript, Bootstrap, Git, Node.js for us in 2 weeks! They were more like friends to us and were very open and helpful. This internship helped me and at least 34 other students really grow in the professional perspective and very surely has improved my confidence."</p>
                                    <h5 class="testimonial-name">Anuj Kelkar <br>
                                    <small class="testimonial-name">G4 InfoTech, Goa.</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"This was actually a turning point in my engineering life. Three of us (who attended the workshop) participated in a Bluemix Hackathon conducted by IBM at BITS,goa quark and won the third place. Now its possible for me to handle projects in web dev and I have already started developing web pages for college events." </p>
                                    <h5 class="testimonial-name">Amod Shinde <br>
                                    <small class="testimonial-name">Padre Conceicao College of Engineering, Goa</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)" </p>
                                    <h5 class="testimonial-name">Sameetha Dessai <br>
                                    <small class="testimonial-name">Goa</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"Within no time we were able to do our very own web applications. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!" </p>
                                    <h5 class="testimonial-name">Shraddha Naik <br>
                                    <small class="testimonial-name">Software Engineer, Goa Tech Solutions</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </a>
    </header>
    



<!--MODALS BEGIN-->
<modal-dialog class="socialShareModal" show='socialShareModalShown' dialog-title="Share on" height="auto" width="450px">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="share-background-div  facebookShare" socialshare
socialshare-provider="facebook" socialshare-text="AngularJS Workshop on 28th & 29th March" socialshare-url="http://www.codegurukul.com">
        <i class="ion-social-facebook"></i>
        <br>
        <p>FACEBOOK</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="share-background-div twitterShare" socialshare
socialshare-provider="twitter" socialshare-text="AngularJS Workshop on 28th & 29th March" socialshare-url="http://www.codegurukul.com">
        <i class="ion-social-twitter"></i>
        <br>
        <p>TWITTER</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="share-background-div googleShare" socialshare
socialshare-provider="googleplus" socialshare-text="AngularJS Workshop on 28th & 29th March" socialshare-url="http://www.codegurukul.com">
        <i class="ion-social-googleplus"></i>
        <br>
        <p>GOOGLE PLUS</p>
      </div>
    </div>
  </div>
</modal-dialog>


<modal-dialog class="registerModal" show='registerModalShown' dialog-title="Register with us" height="auto" width="350px">
    <form method="post" name="queryForm">    
  <div class="register-modal">
    <div ng-class="{ &quot;has-error&quot; : queryForm.fullName.$invalid &amp;&amp; queryForm.fullName.$dirty }" class="form-group has-feedback">
              <input type="text" name="displayName" ng-model="name" placeholder="Name" required="" class="form-control input-lg"/><span class="fa fa-user signupFormIcons form-control-feedback"></span>
              <div ng-if="queryForm.fullName.$dirty" ng-messages="queryForm.fullName.$error" class="help-block text-danger">
                <div ng-message="required">You must enter your name.</div>
              </div>
    </div>
    <div ng-class="{ &quot;has-error&quot; : queryForm.email.$invalid &amp;&amp; queryForm.email.$dirty }" class="form-group has-feedback">
              <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" autofocus="" class="form-control input-lg"/><span class="fa fa-at signupFormIcons form-control-feedback"></span>
              <div ng-if="queryForm.email.$dirty" ng-messages="queryForm.email.$error" class="help-block text-danger">
                <div ng-message="required">Your email address is required.</div>
                <div ng-message="email">Your email address is invalid.</div>
              </div>
    </div>
    <div ng-class="{ &quot;has-error&quot; : queryForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
            <input type="number" name="contact" ng-model="contact" placeholder="Your Contact No" required="" class="form-control input-lg"/><span class="fa fa-phone signupFormIcons form-control-feedback"></span>
            <div ng-if="queryForm.contact.$dirty" ng-messages="queryForm.contact.$error" class="help-block text-danger" style="color:#a94442">
              <div ng-message="required">Your Contact No is required.</div>
              <div ng-message="number">Your Contact No is Invalid</div>
            </div>
    </div>
  </div>
  <br>
  <div class="modalButtons">
    <button class="btn btn-md cancelButton" ng-click="registerModal()"> Cancel </button>
    <button class="btn btn-md successButton" ng-disabled="queryForm.$invalid" ng-click=""> Send </button>
  </div>
    </form>  
</modal-dialog>