<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">
  <div class="container">
    <div class="row">

      <div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
        <div class="region">

          <div id="page-title-block" class="page-title block">
            <h1>Camps</h1>
          </div>
          <!-- /page-title-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-left-region -->

      <div id="top-content-right-region" class="top-content-right col-xs-12 col-md-6 text-right text-center-sm">
        <div class="region">

          <div id="page-breadcrumbs-block" class="page-breadcrumbs block">
            <div class="breadcrumbs">
              <a href="index.php">Home</a>
              <span class="delimiter">›</span> Camps
            </div>
            <!-- /breadcrumbs -->
          </div>
          <!-- /page-breadcrumbs-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-right-region -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /top-content-region -->


<div id="content-3-region" class="content-3 region">

  <div id="services-22-block" class="services-2 block">
    <div class="container">

      <div class="row services-2-item">
        <div class="col-xs-12 col-md-5 services-2-image">
          <img src="/img/camps/camps1.png" class="img-responsive" alt="Parallax" title="Parallax">
        </div>
        <!-- /services-2-image -->
        <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
          <h4>Goa Hackathon</h4>
          <p>Praesent non tellus ultricies, lobortis sem in, pretium erat. Fusce convallis id eros hendrerit consectetur. Nulla facilisi. Ut tincidunt in lorem a consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <!-- /services-2-content -->

      </div>
      <!-- /services-2-item -->

    </div>
    <!-- /container -->
  </div>
  <!-- /services-22-block -->

</div>
<!-- /content-3-region -->





<div id="content-2-region" class="content-2 region bg-color-grayLight1">

  <div id="services-2-block" class="services-2 block">
    <div class="container">

      <div class="row services-2-item">
        <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
          <h4>Mumbai Hackathon</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet volutpat libero, in consectetur lacus. Aenean et tellus fringilla, molestie nunc sit amet, consequat lacus. Vivamus pellentesque faucibus dui, sed pretium turpis vehicula sed. Nunc ut eleifend risus.</p>
        </div>
        <!-- /services-2-content -->
        <div class="col-xs-12 col-md-5 services-2-image">
          <img src="/img/camps/camps2.png" class="img-responsive" alt="Devices" title="Devices">
        </div>
        <!-- /services-2-image -->
      </div>
      <!-- /services-2-item -->

    </div>
    <!-- /container -->
  </div>
  <!-- /services-2-block -->

</div>
<!-- /content-2-region -->