<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">
  <div class="container">
    <div class="row">

      <div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
        <div class="region">

          <div id="page-title-block" class="page-title block">
            <h1>Programs</h1>
          </div>
          <!-- /page-title-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-left-region -->

      <div id="top-content-right-region" class="top-content-right col-xs-12 col-md-6 text-right text-center-sm">
        <div class="region">

          <div id="page-breadcrumbs-block" class="page-breadcrumbs block">
            <div class="breadcrumbs">
              <a href="index.php">Home</a>
              <span class="delimiter">›</span> Programs
            </div>
            <!-- /breadcrumbs -->
          </div>
          <!-- /page-breadcrumbs-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-right-region -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /top-content-region -->
<div class="highlighted text-color-light" id="highlighted-region">
  <div class="text-widget-1 position-relative bg-image-rails" data-stellar-background-ratio="0.7" id="text-widget-1-block">
    <div class="overlay text-color-light">
      <div class="vertical-center text-center">
        <div class="container">
          <h3>CodeGurukul pioneered the short-term immersive
                            “developer bootcamp”.</h3>

          <h5>A model that transforms beginners into
                            full-stack web developers.</h5>
        </div>
        <!-- /container -->
      </div>
      <!-- /vertical-center -->
    </div>
    <!-- /overlay -->
  </div>
  <!-- /text-widget-1-block -->
</div>
<!-- /highlighted-region -->

<div class="content region" id="content-region">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h5>Through effort, community support and training, we
                        help beginners with little or no technical background
                        reach a level of proficiency that allows them to get
                        paid to continue learning on the job as junior web
                        developers.</h5>

        <p>We have campuses in Mumbai and Goa. Our 12-week curriculum focuses on Ruby, JavaScript, Nodejs, common JavaScript libraries, SQL, HTML and CSS, as well as pair programming, agile and test driven development. Throughout, we integrate work on team skills like communication, empathy and effective feedback.</p>

        <p>We focus on creating a holistic educational experience for our students. Our mission to design a rigorous yet accessible program, driven by our unique culture, has spawned a set of values that drives everything we do :</p>
      </div>
      <!-- /panel-heading -->

      <div class="col-xs-12">
        <div class="panels-4 block padding-bottom-0" id="panels-4-block">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-4 panels-item">
                <div class="panels-icon text-color-theme icon ion-umbrella" style="font-style: italic"></div>
                <!-- /panels-icon -->

                <div class="panels-text">
                  <h6>Empathy</h6>

                  <p>We care about people more than machines
                  </p>
                </div>
                <!-- /panels-text -->
              </div>
              <!-- /panels-item -->

              <div class="col-xs-12 col-sm-6 col-md-4 panels-item margin-top-xs-40">
                <div class="panels-icon text-color-theme icon ion-at" style="font-style: italic"></div>
                <!-- /panels-icon -->

                <div class="panels-text">
                  <h6>Learning</h6>

                  <p>We empower students to learn more than they thought was possible
                  </p>
                </div>
                <!-- /panels-text -->
              </div>
              <!-- /panels-item -->

              <div class="clearfix visible-sm"></div>

              <div class="col-xs-12 col-sm-6 col-md-4 panels-item margin-top-sm-40">
                <div class="panels-icon text-color-theme icon ion-speedometer" style="font-style: italic"></div>
                <!-- /panels-icon -->

                <div class="panels-text">
                  <h6>Building</h6>

                  <p>We aim at build beautiful and meaningful things
                    <br>
                  </p>
                </div>
                <!-- /panels-text -->
              </div>
              <!-- /panels-item -->

              <div class="col-xs-12 col-sm-6 col-md-4 panels-item margin-top-40">
                <div class="panels-icon text-color-theme icon ion-monitor" style="font-style: italic"></div>
                <!-- /panels-icon -->

                <div class="panels-text">
                  <h6>Feedback</h6>

                  <p>We listen, iterate and improve each week</p>
                </div>
                <!-- /panels-text -->
              </div>
              <!-- /panels-item -->

              <div class="clearfix visible-sm"></div>

              <div class="col-xs-12 col-sm-6 col-md-4 panels-item margin-top-40">
                <div class="panels-icon text-color-theme icon ion-videocamera" style="font-style: italic"></div>
                <!-- /panels-icon -->

                <div class="panels-text">
                  <h6>Impact</h6>

                  <p>We celebrate technology that improves our communities</p>
                </div>
                <!-- /panels-text -->
              </div>
              <!-- /panels-item -->

              <div class="col-xs-12 col-sm-6 col-md-4 panels-item margin-top-40">
                <div class="panels-icon text-color-theme icon ion-speakerphone" style="font-style: italic"></div>
                <!-- /panels-icon -->

                <div class="panels-text">
                  <h6>Empathy</h6>

                  <p>We care about people more than machines
                  </p>
                </div>
                <!-- /panels-text -->
              </div>
              <!-- /panels-item -->
            </div>
            <!-- /row -->
          </div>
          <!-- /container -->
        </div>
        <!-- /panels-4-block -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /content-region -->

<div class="content region bg-color-grayLight1" id="content-region">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h5 class="text-center">Who we teach</h5>

        <p>We believe anyone can learn to code as long as they fully immerse themselves and follow our three agreements of integrity, kindness and whole self. We do not base our admissions decisions on prior programming experience. We look for students who have :</p>

        <ul class="icon-list">
          <li><i class="icon ion-checkmark-round text-color-theme"></i>A desire to create beautiful and meaningful projects in the world through code</li>

          <li><i class="icon ion-checkmark-round text-color-theme"></i>Ability to think creatively, analytically and with depth about problems</li>

          <li><i class="icon ion-checkmark-round text-color-theme"></i>Ability to learn/teach and communicate under pressure</li>

          <li><i class="icon ion-checkmark-round text-color-theme"></i>Alignment with our values, which includes a care for deeper self-awareness and a passion for working with others
          </li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /content-region -->

<div class="content region" id="content-region">
  <div class="panels-2 block custom-margin-bottom-15" id="panels-2-block">
    <div class="container">
      <h5 class="text-center">How we learn</h5>

      <p class="text-center">At CodeGurukul we teach you more than just how to code. We show you how to learn faster than you have ever thought possible to and also have fun while doing it!</p>

      <div class="row">
        <div class="col-xs-12 col-md-6 panels-item block custom-padding-bottom-0">
          <ul class="icon-list">
            <li><i class="icon ion-arrow-right-b text-color-theme"></i>We teach interested individuals and not any average group of students. If you're advanced in one area but need help in another, we'll support your needs accordingly.</li>

            <li><i class="icon ion-arrow-right-b text-color-theme"></i>We emphasize practical skills and conceptual understanding over topic coverage and content knowledge. From that vantage point, we have developed a curriculum which is punctuated by expectations for what a student should be able to build. The specific tools and techniques flow from there.</li>

            <li><i class="icon ion-arrow-right-b text-color-theme"></i>To employ an analogy, try comparing our program to training in furniture construction. If you are learning to build furniture, then your primary goal is acquiring the necessary skills to build tables, chairs, sofas, etc.Your curriculum of study should reflect the flexibility needed to best serve your primary goal instead of being strictly coupled to a set of (possibly irrelevant) secondary goals.</li>
          </ul>
        </div>
        <!-- /panels-item -->

        <div class="col-xs-12 col-md-6 panels-item block custom-padding-bottom-0">
          <ul class="icon-list">
            <li>
              <i class="icon ion-arrow-right-b text-color-theme"></i>The mastery of specific tools and techniques are secondary goals, and they derive from the choices you make on the path towards the primary goal. For example, if your objective is to build a coffee table, there are all kinds of choices to make along the way: hand tools or power tools? nails or screws or glue? oak or maple or mahogany? sanded and varnished or rough and unfinished? milled boards or burl slab top? Each of these choices will require that you learn a different set of tools and techniques, and to explore a different domain of knowledge.
              <p>
            </li>

            <li><i class="icon ion-arrow-right-b text-color-theme"></i>We emphasize practical skills and conceptual understanding over topic coverage and content knowledge. From that vantage point, we have developed a curriculum which is punctuated by expectations for what a student should be able to build. The specific tools and techniques flow from there.</li>
          </ul>
        </div>
        <!-- /panels-item -->
      </div>
      <!-- /row -->

      <p class="text-center">This is how we approach our curriculum. The desired learning outcome should dictate the means, and not the other way around.</p>
    </div>
    <!-- /container -->
  </div>
  <!-- /panels-3-block -->
</div>

<div class="content region bg-color-grayLight1" id="content-region">
  <div class="portfolio-content block" id="portfolio-content-block">
    <div class="container">
      <h5 class="text-center">Our Programs</h5>

      <p class="text-center">We’ve built world class software engineering curriculum and programming courses.However, CodeGurukul is, above all else, a world-class learning environment.
      </p>

      <ul class="nav nav-pills portfolio-filters" style="display:none">
        <li class="text-bold text-color-grayDark1">Filter by:
        </li>

        <li class="filter" data-filter="all">
          <a href="#">all</a>
        </li>

        <li class="filter" data-filter="design">
          <a href="#">design</a>
        </li>

        <li class="filter" data-filter="typography">
          <a href="#">typography</a>
        </li>

        <li class="filter" data-filter="software">
          <a href="#">software</a>
        </li>

        <li class="filter" data-filter="branding">
          <a href="#">branding</a>
        </li>
      </ul>

      <div class="row" id="grid">
        <div class="portfolio-item mix design branding col-xs-12 col-sm-6">
          <a href="/programs/fresher-to-hacker.php">
            <div class="portfolio-image">
              <img alt="Fresher To Hacker" class="img-responsive" src="/img/programs/fresher-to-hacker.jpg" title="Fresher To Hacker">

              <div class="portfolio-overlay">
                <h6 class="portfolio-title">Fresher To
                                    Hacker</h6>
              </div>
            </div>
            <!-- /portfolio-image -->
          </a>
        </div>
        <!-- /portfolio-item -->

        <div class="portfolio-item mix typography col-xs-12 col-sm-6">
          <a href="/programs/freelancer-for-life.php">
            <div class="portfolio-image">
              <img alt="Freelancer For Life" class="img-responsive" src="/img/programs/freelancer-for-life.jpg" title="Freelancer For Life">

              <div class="portfolio-overlay">
                <h6 class="portfolio-title">Freelancer For
                                    Life</h6>
              </div>
            </div>
            <!-- /portfolio-image -->
          </a>
        </div>
        <!-- /portfolio-item -->

        <div class="portfolio-item mix software typography branding col-xs-12 col-sm-6">
          <a href="/programs/entrepreneurship.php">
            <div class="portfolio-image">
              <img alt="Entrepreneurship" class="img-responsive" src="/img/programs/entrepreneurship.jpg" title="Entrepreneurship">

              <div class="portfolio-overlay">
                <h6 class="portfolio-title">
                                    Entrepreneurship</h6>
              </div>
            </div>
            <!-- /portfolio-image -->
          </a>
        </div>
        <!-- /portfolio-item -->

        <div class="portfolio-item mix design col-xs-12 col-sm-6">
          <a href="/programs/early-hacker.php">
            <div class="portfolio-image">
              <img alt="Early Hacker" class="img-responsive" src="/img/programs/early-hacker.jpg" title="Early Hacker">

              <div class="portfolio-overlay">
                <h6 class="portfolio-title">Early
                                    Hacker</h6>
              </div>
            </div>
            <!-- /portfolio-image -->
          </a>
        </div>
        <!-- /portfolio-item -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /portfolio-content-block -->
</div>
<!-- /content-region -->