<div id="top-content-region" class="top-content region-0 padding-top-15 padding-bottom-15 block-15 bg-color-grayLight1">
  <div class="container">
    <div class="row">

      <div id="top-content-left-region" class="top-content-left col-xs-12 col-md-6 text-center-sm">
        <div class="region">

          <div id="page-title-block" class="page-title block">
            <h1>FAQ</h1>
          </div>
          <!-- /page-title-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-left-region -->

      <div id="top-content-right-region" class="top-content-right col-xs-12 col-md-6 text-right text-center-sm">
        <div class="region">

          <div id="page-breadcrumbs-block" class="page-breadcrumbs block">
            <div class="breadcrumbs">
              <a href="index.php">Home</a>
              <span class="delimiter">›</span> FAQ
            </div>
            <!-- /breadcrumbs -->
          </div>
          <!-- /page-breadcrumbs-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /top-content-right-region -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /top-content-region -->

<div id="content-region" class="content">
  <div class="container">
    <div class="row">

      <div id="main-content-region" class="main-content col-xs-12 col-md-9">
        <div class="region">

          <div id="faq-block" class="block">

            <p>In this section of the site we answer the most popular questions that our customers have about our products. If you can't find the answer here don't hesitate to <a href="">contact us</a>.</p>

            <h5 class="text-color-theme">Q1 - What is the cost of the overall service?</h5>
            <p>The cost of the overall service is INR 83000.</p>

            <h5 class="text-color-theme">Q2 - Is an EMI option available for the Fresher to Hacker Program.</h5>
            <p>Sadly, we would not be able to provide an EMI option but we guarantee full refund of the fee amount if we fail to place you in a relevant company.</p>

            <h5 class="text-color-theme">Q3 - What kind of support do you offer?</h5>
            <p>We provide notes to all our students for reference. Also, doubt solving sessions will be be held once a week for those students in need.</p>

            <h5 class="text-color-theme">Q4 - Is it worth the money?</h5>
            <p>At our firm, we believe in quality. We empathise genuine doubts regarding the fees, but we assure you complete satisfaction after the three months of our program provided you have been an active part of it.</p>

            <h4 class="text-center">Other common questions</h4>

            <!-- Accordion -->
            <div class="panel-group" id="accordion2">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                          Who will be teaching us?
                        </a>
                </div>
                <div id="collapseOne2" class="panel-collapse collapse in">
                  <div class="panel-body">
                    We have renowned professors from varied fields on board with various levels of expertise in teaching.
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
                          100 percent money back seems far fetched? I feel this is a fraud company.
                        </a>
                </div>
                <div id="collapseTwo2" class="panel-collapse collapse">
                  <div class="panel-body">
                    Never heard of a fraud teaching before! ;)
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                          Is attendance compulsary?
                        </a>
                </div>
                <div id="collapseThree2" class="panel-collapse collapse">
                  <div class="panel-body">
                    Yes 100% attendance is required and in genuine cases upto 90%. Beyond that we would have to cancel your admission.
                  </div>
                </div>
              </div>
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour2">
                          I got work in the mornings. Can I come in the evening as I would love to learn this subject?
                        </a>
                </div>
                <div id="collapseFour2" class="panel-collapse collapse">
                  <div class="panel-body">
                    We do not encourage part time students at this moment. Do drop in your contact; we will let you know if we plan to include any in the near future.
                  </div>
                </div>
              </div>

            </div>
            <!-- /Accordion -->

          </div>
          <!-- /faq-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /main-content-region -->

      <div id="sidebar-second-region" class="sidebar-second region-50 block-30 col-xs-12 col-md-3">
        <div class="region">

          <div id="text-widget-block" class="block">
            <h5 class="block-title">Did you know?</h5>
            <p>Codegurukul is the first of its kind in India?</p>
            <p>Our competitors are directly in New York!</p>
          </div>
          <!-- /text-widget-block -->

          <div id="newsletter-block" class="block">
            <h5 class="block-title">Newsletter</h5>
            <form method="post" role="form">
              <div class="form-group">
                <input type="email" class="form-control" id="newsletter-email" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
          </div>
          <!-- /newsletter-block -->

          <div id="tags-block" class="block">
            <h5 class="block-title">Popular tags</h5>
            <ul class="tags">
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=nodejs">Node.js</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=AngularJS">AngularJS</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=MEANStack">MEAN Stack</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=MongoDB">MongoDB</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=Technology">Technology</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=MVCFramework">MVC</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=Expressjs">ExpressJS</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=gitversioncontrol">Git</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=bootstrapAPI">Bootstrap</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=SocialLoginAPI">Social Login API</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=Javascript">Javasript</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=HTML5">HTML5</a>
              </li>
              <li><a href="https://www.google.co.in/?gfe_rd=cr&ei=ulraVP7dKebV8gff1YCwCw#q=CSS3">CSS3</a>
              </li>
            </ul>
          </div>
          <!-- /tags-block -->

        </div>
        <!-- /region -->
      </div>
      <!-- /sidebar-second-region -->


    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /content-region -->