<div id="highlighted-region" class="highlighted text-color-light">
  <div id="highlighted-slider-1-block" class="highlighted-slider-1 position-relative bg-image-cactus" data-stellar-background-ratio="0.7">
    <div class="overlay">
      <div class="flex-bullet-slider vertical-center text-center">
           <div class="container home-overlay-content">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <iframe width="80%" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2> Welcome to CodeGurukul! </h2>
                    <h4> Highlights : March 2015 </h4>
                    <a href="/angularjs"><button class="btn btn-default"> AngularJS Workshop</button></a>
                    <a href="/internship"><button class="btn btn-default"> Internship @ CodeGurukul</button></a>
                </div>
            </div>
        </div>
        <div class="container">
          <ul class="slides">
            <li>
              <h1 class="slider-title">Welcome to Codegurukul</h1>
              <p class="slider-description">Intensive programming courses for developers and entrepreneurs</p>

            </li>
            <!--<li>
                    <h1 class="slider-title">Teach to Perfection</h1>
                    <p class="slider-description">We teach you the latest technologies to create an amazing website.</p>
                    <a href="page-services.php" class="btn btn-default">Services</a>
                  </li>
                  <li>
                    <h1 class="slider-title">Anybody can Learn</h1>
                    <p class="slider-description">Not just for top coders but for anyone who has an aptitude for learning.</p>
                    <a href="contact.php" class="btn btn-default">Contact us</a>
                  </li>-->
          </ul>
        </div>
        <!-- /container -->
      </div>
      <!-- /flex-bullet-slider -->
        
       
    </div>
    <!-- /overlay -->
      
  </div>
  <!-- /highlighted-slider-1-block -->
    
</div>
<!-- /highlighted-region -->

<div id="content-region" class="content region">

  <div id="panels-1-block" class="panels-1 block">
    <div class="container">
      <div class="row">

        <div class="panels-item col-xs-12 col-md-4">
          <i class="icon ion-compass text-color-theme"></i>
          <h6>Learn how to learn</h6>
          <p>We’ll teach you how to think like a smart programmer so the learning doesnt end after the course does</p>
        </div>
        <!-- /panels-item -->

        <div class="panels-item col-xs-12 col-md-4">
          <i class="icon ion-android-developer text-color-theme"></i>
          <h6>Code, code and more code</h6>
          <p>Get your hands dirty by working on real projects and presenting them at Demo Day</p>
        </div>
        <!-- /panels-item -->

        <div class="panels-item col-xs-12 col-md-4">
          <i class="icon ion-social-github text-color-theme"></i>
          <h6>Good development practices</h6>
          <p>Focus on clean code principles, design patterns and test driven development (TDD)</p>
        </div>
        <!-- /panels-item -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /panels-1-block -->

</div>
<!-- /content-region -->

<div id="content-1-region" class="content-1 region bg-color-grayLight1">

  <div id="services-1-block" class="services-1 block">
    <div class="container">
      <div class="row">

        <div class="services-1-content col-xs-12 col-md-7">

          <h2>Our Philsophy</h2>
          <p class="margin-bottom-30">CodeGurukul pioneered the short-term immersive “developer bootcamp,” a model that transforms beginners into full-stack web developers. Through effort, community support and training, we help beginners with little or no technical background reach a level of proficiency that allows them to get paid to continue learning on the job as junior web developers.</p>
          <p class="margin-bottom-30">"Our mission to design a rigorous yet accessible program, driven by our unique culture, has spawned a set of values that drives everything we do:</p>

          <div class="panels-2">

            <div class="row">
              <div class="panels-item col-sm-6">
                <i class="icon ion-coffee text-color-theme"></i>
                <h6>Empathy</h6>
                <p>we care about people more than machines</p>
              </div>
              <div class="panels-item col-sm-6">
                <i class="icon ion-speedometer text-color-theme"></i>
                <h6>Learning</h6>
                <p>we empower students to learn more than they thought was possible</p>
              </div>
            </div>
            <!-- /row -->

            <div class="row">
              <div class="panels-item col-sm-6">
                <i class="icon ion-clock text-color-theme"></i>
                <h6>Building</h6>
                <p>we build beautiful and meaningful things</p>
              </div>
              <div class="panels-item col-sm-6">
                <i class="icon ion-clipboard text-color-theme"></i>
                <h6>Feedback</h6>
                <p>we listen, iterate and improve each week</p>
              </div>
            </div>
            <!-- /row -->

            <div class="row">
              <div class="panels-item col-sm-6">
                <i class="icon ion-paper-airplane text-color-theme"></i>
                <h6>Impact</h6>
                <p>we celebrate technology that improves our communities</p>
              </div>

            </div>
            <!-- /row -->

          </div>
          <!-- /panels-2 -->

        </div>
        <!-- /services-1-content -->

        <div class="services-1-image col-xs-12 col-md-5 text-center" style="margin-top: 70px;">
          <img src="img/content/home.png" alt="iPhone" class="img-responsive" />
        </div>
        <!-- /services-1-image -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /services-1-block -->

</div>
<!-- content-1-region -->

<div class="container">
<div class="row margin-top-50 margin-bottom-50">
    <h2>Signature Courses</h2>
              
              <div class="col-xs-12 col-md-3">
                <div class="course-card">
                  <div class="course-title">
                    <h4>Fresher to Hacker</h4>
                  </div> <!-- /pricing-table-title -->
                  <div class="course-price">
                    <h6>Coming Soon</h6>
                  </div> <!-- /pricing-table-price -->
<!--
                    
                  <div class="course-description">
                    <ul class="list-unstyled">
                      <li>3 domains</li>
                      <li>4 colors</li>
                      <li>500GB</li>
                      <li>Unlimited accounts</li>
                      <li>FTP</li>
                      <li>Full Support</li>
                    </ul>
                  </div>  /pricing-table-description 
                    
-->
                  <div class="course-button">
                    <a href="/contact" class="btn btn-default">Know More!</a>
                  </div> <!-- /pricing-table-button -->
                </div> <!-- /pricing-table -->
              </div> <!-- /col-xs-12 -->
              
              <div class="col-xs-12 col-md-3">
                <div class="course-card margin-top-sm-50">
                  <div class="course-title">
                    <h4>Freelancer for Life</h4>
                  </div> <!-- /pricing-table-title -->
                  <div class="course-price">
                    <h6>Coming Soon</h6>
                  </div> <!-- /pricing-table-price -->
<!--
                    
                  <div class="course-description">
                    <ul class="list-unstyled">
                      <li>6 domains</li>
                      <li>8 colors</li>
                      <li>1000GB</li>
                      <li>Unlimited accounts</li>
                      <li>FTP</li>
                      <li>Full Support</li>
                    </ul>
                  </div>  /pricing-table-description 
                    
-->
                  <div class="course-button">
                    <a href="/contact" class="btn btn-primary">Know More!</a>
                  </div> <!-- /pricing-table-button -->
                </div> <!-- /pricing-table -->
              </div> <!-- /col-xs-12 -->
              
              <div class="col-xs-12 col-md-3">
                <div class="course-card margin-top-sm-50">
                  <div class="course-title">
                    <h4>Career 2.0</h4>
                  </div> <!-- /pricing-table-title -->
                  <div class="course-price">
                    <h6>Coming Soon</h6>
                  </div> <!-- /pricing-table-price -->
<!--
                    
                  <div class="course-description">
                    <ul class="list-unstyled">
                      <li>10 domains</li>
                      <li>15 colors</li>
                      <li>2000GB</li>
                      <li>Unlimited accounts</li>
                      <li>FTP + SSH</li>
                      <li>Full Support</li>
                    </ul>
                  </div>  /pricing-table-description 
                    
-->
                  <div class="course-button">
                    <a href="/contact" class="btn btn-orange">Know More!</a>
                  </div> <!-- /pricing-table-button -->
                </div> <!-- /pricing-table -->
              </div> <!-- /col-xs-12 -->

              <div class="col-xs-12 col-md-3">
                <div class="course-card pricing-table-orange margin-top-sm-50">
                  <div class="course-title">
                    <h4>Early Hacker</h4>
                  </div> <!-- /pricing-table-title -->
                  <div class="course-price">
                    <h6>Coming Soon</h6>
                  </div> <!-- /pricing-table-price -->
<!--
                    
                  <div class="course-description">
                    <ul class="list-unstyled">
                      <li>Unlimited domains</li>
                      <li>Unlimited colors</li>
                      <li>1000TB</li>
                      <li>Unlimited accounts</li>
                      <li>FTP</li>
                      <li>Premium Support</li>
                    </ul>
                  </div>  /pricing-table-description 
                    
-->
                  <div class="course-button">
                    <a href="/contact" class="btn btn-violet">Know More!</a>
                  </div> <!-- /pricing-table-button -->
                </div> <!-- /pricing-table -->
              </div> <!-- /col-xs-12 -->
              
            </div>
    </div>
    
    