<header class="internship-header text-center-md">
    <h1> INTERNSHIP @ CODEGURUKUL <br> <small> June 2015</small></h1>
</header>

<div class="container">

    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>DESCRIPTION</h3>
                <p> The CodeGurukul Internship Program is a one month program where we train and equip you on various technologires for two weeks followed by two weeks of hands on industry simulated project experience.</p>
                <br><br>
                <h3>OVERVIEW</h3>
                <div class="col-md-12 week-one-card">
                
                    <h4> WEEK ONE:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1"><h5> Foundation Course</h5></div>
                    <div class="col-md-2 col-md-offset-1">
                        <img src="../img/internships/HTML5-CSS-JS.png" width="100px">
                    </div>
                    <div class="col-md-8">
                        <p>Refresher course on HTML5, CSS3 and Javascript which will get your creative juices flowing! Ignite the designer in you! </p>
                    </div>
                </div>                    
                <hr>
                <div class="row">    
                    <div class="col-md-10 col-md-offset-1"><h5> Portfolio time!!</h5></div>
                    <div class="col-md-2 col-md-offset-1">
                        <img src="../img/internships/bootstrap_logo.png" width="100px">
                    </div>
                    <div class="col-md-8">
                        <p>Build your very own website by harnessing the power of Bootstrap!</p>
                    </div>
                </div>
                <hr>
                <div class="row">    
                    <div class="col-md-10 col-md-offset-1"><h5> Social Coding</h5></div>
                    <div class="col-md-2 col-md-offset-1">
                        <img src="../img/internships/git_icon.png" width="100px">
                    </div>
                    <div class="col-md-8">
                        <p>Get into the world of version control using Git.</p>
                    </div>
                 </div>   
                </div>
                
                 <div class="col-md-12 week-two-card">
                
                    <h4> WEEK TWO:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1"><h5> Enter the MEAN Stack</h5></div>
                    <div class="col-md-2 col-md-offset-1">
                        <img src="../img/internships/meanstack.png" width="100px">
                    </div>
                    <div class="col-md-8">
                        <p>Dive into the complexities of creating a full blown web application using MongoDB, Express, AngularJS and Node.js which is taking over the web! </p>
                    </div>
                </div>                    
                <hr>
                <div class="row">    
                    <div class="col-md-10 col-md-offset-1"><h5>  Hosting</h5></div>
                    <div class="col-md-2 col-md-offset-1">
                        <img src="../img/internships/webhosting.png" width="100px">
                    </div>
                    <div class="col-md-8">
                        <p>So you can't host. And you call yourself a pro. Buckle up and understand the basics of deploying your app to the cloud.</p>
                    </div>
                </div>
            </div>
                
                 <div class="col-md-12 week-two-card">
                
                    <h4> WEEK THREE AND FOUR:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1"><h5> So you think you can code?</h5></div>
                    <div class="col-md-2 col-md-offset-1">
                        <img src="../img/internships/coding.png" width="100px">
                    </div>
                    <div class="col-md-8">
                        <p>This is when we let the reigns loose, set you free and let you work on some good projects that will leave you wanting for more. This project is compulsory in order to for you to receive the the internship letter.
<br>
At the end of this workshop, you will be ready to take on any web interview that comes your way! </p>
                    </div>
                </div>                    
            </div>
            
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 mentors">
              
              <div class="row share-and-register-buttons">
                <div class="col-md-6">
                    <button class="btn btn-default" ng-click="shareModal()"> SHARE</button>
                </div>
                  
                <div class="col-md-6">
                    <button class="btn btn-default" ng-click="registerModal()"> REGISTER WITH US </button>
                </div>
              </div>
              
              <div class="row">  
              <h3> MENTORS </h3>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/about-us/mentor/stanly_square.png" width="75px">
                    </div>
                    <div class="col-md-8">
                        <h6>Stanly Samuel</h6>
                        <p>- Knowledge imparter with 6+ years of experience in teaching 500+ students in various fields</p>
                    </div>
                </div>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/about-us/mentor/sobin.png" width="75px">
                    </div>
                    <div class="col-md-8">
                        <h6>Sobin G. Thomas</h6>
                        <p>- Tech Guru with 7+ years of industry experience </p>
                    </div>
                </div>
                <hr>
             </div>
              <div class="row">
            <h3 class="duration">DURATION</h3>
                <h5> 4 weeks </h5>
                
            <hr>
                
            <h3 class="pricing">PRICING</h3>
                <h5> ₹10,000 </h5>
                </div>
            </div>
        </div>
    </section>
    
    
</div>
<section style="display:none">

  <div id="content-4-region" class="content-4 region bg-color-grayDark2 text-color-light">

    <div id="testimonials-1-block" class="testimonials-1 block">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="flex-bullet-slider vertical-center text-center">
              <i class="icon ion-ios7-chatbubble-outline testimonials-1-icon text-color-theme"></i>
              <ul class="slides">
                <li>
                  <h4 class="testimonials-1-text lato-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus massa in mauris rhoncus aliquam. Suspendisse nec velit vestibulum, euismod quam id, pellentesque elit. Ut a interdum metus, vel dictum nibh.</h4>
                  <p class="testimonials-1-author text-color-theme">Chris Niccolls, <i>The Camera Store</i></p>
                </li>
                <li>
                  <h4 class="testimonials-1-text lato-font">Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at.</h4>
                  <p class="testimonials-1-author text-color-theme">Joe McNally, <i>Adorama</i></p>
                </li>
                <li>
                  <h4 class="testimonials-1-text lato-font">Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt.</h4>
                  <p class="testimonials-1-author text-color-theme">Mark Wallace, <i>Snapfactory</i></p>
                </li>
              </ul>
            </div> <!-- /flex-bullet-slider -->
          </div> <!-- /col-xs-12 -->

        </div> <!-- /row -->
      </div> <!-- container -->
    </div> <!-- /testimonials-1-block -->

  </div> <!-- /content-4-region -->
    
</section>
<header id="myCarousel" class="carousel slide bg-color-grayDark2 text-color-light testimonial-slider text-center">
    
    <a href="/testimonials">
        <!-- Indicators -->
    <h2 class="testimonial-name"> TESTIMONIALS</h2>
    <i class="icon ion-ios7-chatbubble-outline testimonials-1-icon text-color-theme slider-bubble"></i>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        
        <!-- Wrapper for Slides -->
        <div class="carousel-inner text-center">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill slide1">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"Stanly sir and Sobin sir from CodeGurukul covered HTML5, CSS3, Javascript, Bootstrap, Git, Node.js for us in 2 weeks! They were more like friends to us and were very open and helpful. This internship helped me and at least 34 other students really grow in the professional perspective and very surely has improved my confidence."</p>
                                    <h5 class="testimonial-name">Anuj Kelkar <br>
                                    <small class="testimonial-name">G4 InfoTech, Goa.</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"This was actually a turning point in my engineering life. Three of us (who attended the workshop) participated in a Bluemix Hackathon conducted by IBM at BITS,goa quark and won the third place. Now its possible for me to handle projects in web dev and I have already started developing web pages for college events." </p>
                                    <h5 class="testimonial-name">Amod Shinde <br>
                                    <small class="testimonial-name">Padre Conceicao College of Engineering, Goa</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"The 2 week-long internship on web development was very educative. The various topics covered during the course such as node.js,express and mongoose will certainly be helpful to me in the long run. Hope you people conduct more of such workshops in the future. It was indeed an enriching experience. Thanks and kudos to you people!! :)" </p>
                                    <h5 class="testimonial-name">Sameetha Dessai <br>
                                    <small class="testimonial-name">Goa</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill slide2">
                    <header class="testimonial-content">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <p>"Within no time we were able to do our very own web applications. The internship was definitely very beneficial and encouraging for me. Thanks to CodeGurukul I am currently working as a web developer. Thank you CodeGurukul for making me realize the possibilities!" </p>
                                    <h5 class="testimonial-name">Shraddha Naik <br>
                                    <small class="testimonial-name">Software Engineer, Goa Tech Solutions</small></h5>
                                </div>
                            </div>
                    </header>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </a>
    </header>
    

<section>
    <div class="container">
        <div class="row">
            <div id="main-content-region" class="main-content col-xs-12 col-md-9">
                <div class="region">

                  <div id="faq-block" class="block">

                      <h2> FAQs</h2>

                    <p>In this section of the site we answer the most popular questions that our customers have about our products. If you can't find the answer here don't hesitate to <a href="">contact us</a>.</p>

                    <h5 class="text-color-theme">Q1 - What is the cost of the overall service?</h5>
                    <p>The cost of the overall service is INR 83000.</p>

                    <h5 class="text-color-theme">Q2 - Is an EMI option available for the Fresher to Hacker Program.</h5>
                    <p>Sadly, we would not be able to provide an EMI option but we guarantee full refund of the fee amount if we fail to place you in a relevant company.</p>

                    <h5 class="text-color-theme">Q3 - What kind of support do you offer?</h5>
                    <p>We provide notes to all our students for reference. Also, doubt solving sessions will be be held once a week for those students in need.</p>

                    <h5 class="text-color-theme">Q4 - Is it worth the money?</h5>
                    <p>At our firm, we believe in quality. We empathise genuine doubts regarding the fees, but we assure you complete satisfaction after the three months of our program provided you have been an active part of it.</p>



                  </div>
                  <!-- /faq-block -->

                </div>
            <!-- /region -->
          </div>
  <!-- /main-content-region -->
        </div>
    </div>
</section>

<!--MODALS BEGIN-->
<modal-dialog class="socialShareModal" show='socialShareModalShown' dialog-title="Share on" height="auto" width="450px">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="share-background-div  facebookShare" socialshare
socialshare-provider="facebook" socialshare-text="Check out CODEGURUKUL!" socialshare-url="http://www.codegurukul.com">
        <i class="ion-social-facebook"></i>
        <br>
        <p>FACEBOOK</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="share-background-div twitterShare" socialshare
socialshare-provider="twitter" socialshare-text="Check out CODEGURUKUL!" socialshare-url="http://www.codegurukul.com">
        <i class="ion-social-twitter"></i>
        <br>
        <p>TWITTER</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="share-background-div googleShare" socialshare
socialshare-provider="googleplus" socialshare-text="Check out CODEGURUKUL!" socialshare-url="http://www.codegurukul.com">
        <i class="ion-social-googleplus"></i>
        <br>
        <p>GOOGLE PLUS</p>
      </div>
    </div>
  </div>
</modal-dialog>


<modal-dialog class="registerModal" show='registerModalShown' dialog-title="Register with us" height="auto" width="450px">
    <form method="post" name="queryForm">    
  <div class="problem-statement-modal">
    <div ng-class="{ &quot;has-error&quot; : queryForm.fullName.$invalid &amp;&amp; queryForm.fullName.$dirty }" class="form-group has-feedback">
              <input type="text" name="displayName" ng-model="name" placeholder="Name" required="" class="form-control input-lg"/><span class="fa fa-user signupFormIcons form-control-feedback"></span>
              <div ng-if="queryForm.fullName.$dirty" ng-messages="queryForm.fullName.$error" class="help-block text-danger">
                <div ng-message="required">You must enter your name.</div>
              </div>
    </div>
    <div ng-class="{ &quot;has-error&quot; : queryForm.email.$invalid &amp;&amp; queryForm.email.$dirty }" class="form-group has-feedback">
              <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" required="" autofocus="" class="form-control input-lg"/><span class="fa fa-at signupFormIcons form-control-feedback"></span>
              <div ng-if="queryForm.email.$dirty" ng-messages="queryForm.email.$error" class="help-block text-danger">
                <div ng-message="required">Your email address is required.</div>
                <div ng-message="email">Your email address is invalid.</div>
              </div>
    </div>
    <div ng-class="{ &quot;has-error&quot; : queryForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
            <input type="number" name="contact" ng-model="contact" placeholder="Your Contact No" required="" class="form-control input-lg"/><span class="fa fa-phone signupFormIcons form-control-feedback"></span>
            <div ng-if="queryForm.contact.$dirty" ng-messages="queryForm.contact.$error" class="help-block text-danger" style="color:#a94442">
              <div ng-message="required">Your Contact No is required.</div>
              <div ng-message="number">Your Contact No is Invalid</div>
            </div>
    </div>
  </div>
  <br>
  <div class="modalButtons">
    <button class="btn btn-md cancelButton" ng-click="registerModal()"> Cancel </button>
    <button class="btn btn-md successButton" ng-disabled="queryForm.$invalid" ng-click=""> Send </button>
  </div>
    </form>  
</modal-dialog>