<header class="internship-header text-center-md">
    <h1> Ruby On Rails Workshop <br> <small> 21st and 22nd March 2015</small> </h1>
    
</header>

<div class="container">

    <section>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h3>DESCRIPTION</h3>
                <p>PHP devs, this is why your should learn Ruby in 2015:<br>

1. It's one of the friendliest programming languages on earth to learn<br>
2. Its makes learning the big Ruby on Rails framework easier. Rails is written in 100% ruby.<br>
3. You can use ruby for everything! From building web applications and websites to controlling robots or even a swarm of servers.<br>
4. Its got a big ecosystem - that means open source software that solves almost any problem under the sun. We call these plugins gems - (gems 3> ruby -get it?)<br>

In this 3/4 hour workshop I will cover<br>
<br>
- What makes ruby different from traditional languages like PHP and Java?<br>
- Ruby fundamentals - we'll dive into variables, symbols, functions, classes, modules, blocks and more in less than an hour<br>
- Write your first ruby program<br>
- Build your first ruby app using Sinatra - we'll create a mini comic book store app - we'll even use mongodb<br>
- Sneak peek into new ruby frameworks in 2015 like Volt and Lotus</p>
                <br><br>
                <h3>COURSE OVERVIEW</h3>
                <hr>
                <h5> COMING SOON!</h5>
                <div class="col-md-2">
<!--                    <img src="../img/background-images/dealer.jpg" width="100px">-->
                </div>
                <div class="col-md-10">
<!--                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
                <hr>
                </div>
<!--
                <h5> Header 2</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 3</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 4</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr>
                </div>
                <h5> Header 5</h5>
                <div class="col-md-2">
                    <img src="../img/background-images/dealer.jpg" width="100px">
                </div>
                <div class="col-md-10">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <hr>
                </div>
-->
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 mentors">
                <h3> MENTORS </h3>
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/about-us/mentor/amit_erandole.jpg" width="75px">
                    </div>
                    <div class="col-md-8">
                        <h5> Amit Erandole</h5>
                        <p>Mad Web Scienist with 20 years of experience</p>
                    </div>
                </div>
<!--
                <hr>
                <div class="col-md-12 mentor">
                    <div class="col-md-4">
                        <img src="../img/people/user2.jpg" width="75px">
                    </div>
                    <div class="col-md-8">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <hr>
-->
            </div>
        </div>
    </section>
<!--
    
    <section>
        <div class="col-md-12">
            
        </div>
    </section>
    
-->
</div>