<div class="main-wrapper">
      <div id="highlighted-region" class="highlighted text-color-light bg-image-bench">
        <div id="highlighted-slider-2-block" class="highlighted-slider-2">
          <div class="highlighted-image-1">
                <div class="highlighted-slider-2-content">
                  <h1 class="slider-title">Students Speak</h1>
                </div>
          </div> 
        </div> 
      </div> <!-- /highlighted-region -->

      <div id="content-2-region" class="content-2 region">

        <div id="services-2-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4>Multiple Devices</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet volutpat libero, in consectetur lacus.                      Aenean et tellus fringilla, molestie nunc sit amet, consequat lacus. Vivamus pellentesque faucibus dui, sed pretium                        turpis vehicula sed. Nunc ut eleifend risus.
                </p>
              </div> <!-- /services-2-content -->
              <div class="col-xs-12 col-md-5 services-2-image">
                <img src="img/content/services1.png" class="img-responsive" alt="Devices" title="Devices">
              </div> <!-- /services-2-image -->
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-2-block -->

      </div> <!-- /content-2-region -->

      <div id="content-3-region" class="content-3 region bg-color-grayLight1">

        <div id="services-22-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
               <div class="col-xs-12 col-md-5 services-2-image">
                <img src="img/content/services2.png" class="img-responsive" alt="Parallax" title="Parallax">
              </div> <!-- /services-2-image -->
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4>Parallax Ready</h4>
                <p>Praesent non tellus ultricies, lobortis sem in, pretium erat. Fusce convallis id eros hendrerit consectetur. Nulla facilisi. Ut tincidunt in lorem a consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
              </div> <!-- /services-2-content -->
             
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-22-block -->

      </div> <!-- /content-3-region -->
    
       <div id="content-4-region" class="content-4 region">

        <div id="services-2-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4>Multiple Devices</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet volutpat libero, in consectetur lacus.                      Aenean et tellus fringilla, molestie nunc sit amet, consequat lacus. Vivamus pellentesque faucibus dui, sed pretium                        turpis vehicula sed. Nunc ut eleifend risus.
                </p>
              </div> <!-- /services-2-content -->
              <div class="col-xs-12 col-md-5 services-2-image">
                <img src="img/content/services1.png" class="img-responsive" alt="Devices" title="Devices">
              </div> <!-- /services-2-image -->
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-2-block -->

      </div> <!-- /content-4-region -->
    
      <div id="content-4.1-region" class="content-4 region">

        <div id="services-2-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
              <div class="col-xs-12 col-md-5 services-2-image">
                <img src="img/content/services1.png" class="img-responsive" alt="Devices" title="Devices">
              </div> <!-- /services-2-image -->    
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4>Multiple Devices</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet volutpat libero, in consectetur lacus.                      Aenean et tellus fringilla, molestie nunc sit amet, consequat lacus. Vivamus pellentesque faucibus dui, sed pretium                        turpis vehicula sed. Nunc ut eleifend risus.
                </p>
              </div> <!-- /services-2-content -->
              
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-2-block -->

      </div> <!-- /content-4.1-region -->     

      <div id="content-5-region" class="content-4 region">

        <div id="services-222-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4>Clean Code</h4>
                <p>In ut sollicitudin urna. Quisque libero nisl, laoreet at sollicitudin quis, tincidunt eu lorem. Proin enim ipsum, luctus at lectus vel, elementum posuere tellus. Etiam venenatis vitae odio nec cursus. Nullam nunc libero, placerat ut est eget, suscipit aliquet lectus.</p>
              </div> <!-- /services-2-content -->
              <div class="col-xs-12 col-md-5 services-2-image">
                <img src="img/content/services3.png" class="img-responsive" alt="Clean Code" title="Clean Code">
              </div> <!-- /services-2-image -->
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-222-block -->

      </div> <!-- content-5-region -->

       <div id="content-6-region" class="content-4 region">

        <div id="services-2-block" class="services-2 block">
          <div class="container">

            <div class="row services-2-item">
              <div class="col-xs-12 col-md-5 services-2-image">
                <img src="img/content/services1.png" class="img-responsive" alt="Devices" title="Devices">
              </div> <!-- /services-2-image -->    
              <div class="col-xs-12 col-md-5 col-md-offset-1 services-2-content">
                <h4>Multiple Devices</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet volutpat libero, in consectetur lacus.                      Aenean et tellus fringilla, molestie nunc sit amet, consequat lacus. Vivamus pellentesque faucibus dui, sed pretium                        turpis vehicula sed. Nunc ut eleifend risus.
                </p>
              </div> <!-- /services-2-content -->
              
            </div> <!-- /services-2-item -->

          </div> <!-- /container -->
        </div> <!-- /services-2-block -->

      </div> <!-- /content-6-region -->
    </div> <!-- /main-wrapper -->

    <!-- Demo switcher -->
    
    <div class="switcher">
      <a href="#" class="link"><i class="icon ion-levels size-32"></i></a>
      <p class="title">Settings</p>
      
      <div class="themeOptions">
        <p>Theme Colors</p>
        <ul class="themeColors optionList">
          <li><a href="#" class="aqua"></a></li>
          <li><a href="#" class="blue"></a></li>
          <li><a href="#" class="brown"></a></li>
          <li><a href="#" class="emerald"></a></li>
          <li><a href="#" class="green"></a></li>
          <li><a href="#" class="orange"></a></li>
          <li><a href="#" class="red"></a></li>
          <li><a href="#" class="violet"></a></li>
          <li><a href="#" class="yellow"></a></li>
        </ul>

        <p>Layout</p>
        <select class="themeLayout">
          <option value="wide">wide</option>
          <option value="boxed">boxed</option>
        </select>

        <p>BG Patterns</p>
        <ul class="themePatterns optionList">
          <li><a href="#" class="bg-pattern-cross_scratches"></a></li>
          <li><a href="#" class="bg-pattern-concrete_wall_3"></a></li>
          <li><a href="#" class="bg-pattern-cream_pixels"></a></li>
          <li><a href="#" class="bg-pattern-debut_dark"></a></li>
          <li><a href="#" class="bg-pattern-grey_wash_wall"></a></li>
          <li><a href="#" class="bg-pattern-retina_wood"></a></li>
        </ul>
      </div> <!-- /themeOptions -->

    </div> <!-- /switcher -->
    
    <!-- End of demo switcher -->

    <!-- Back to top button -->
    
    <div id="back-to-top" style="display: block;">
      <i class="ion-ios7-arrow-up"></i>
    </div>

    <!-- End of Back to top button -->
    
  