<div class="tab-section-one" ng-controller="AdminEditCourseSlotsCtrl">

  <form name="updateSlotForm">
    <table class="table table-striped">
      <thead>
        <th>City</th>
        <th>Location</th>
        <th>Batch Size</th>
        <th>Start Date</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="slot in course.slots">
          <td>
            <span ng-show="!edit">
              {{slot.city}}
            </span>
            <span ng-show="edit">
              <input type="text" class="form-control custom-margin-bottom-15" ng-model="slot.city" name="city"/>
            </span>
          </td>
          <td>
            <span ng-show="!edit">
              {{slot.location}}
            </span>
            <span ng-show="edit">
              <input type="email" class="form-control custom-margin-bottom-15" ng-model="slot.location" name="location"/>
              <span ng-show="updateSlotForm.location.$error.email">This is not a valid email.</span>
            </span>
          </td>
          <td ng-form="cellForm1">
            <span ng-show="!edit">
              {{slot.batchSize}}
            </span>
            <span ng-show="edit">
              <input type="number" class="form-control custom-margin-bottom-15" ng-model="slot.batchSize" min="0" name="batchSize"/>
              <div ng-if="cellForm1.batchSize.$dirty" ng-messages="cellForm1.batchSize.$error" class="text-danger text-center">
                <div ng-message="number">Please enter a valid batch size.</div>
                <div ng-message="min">Batch size cannot be negative. Please enter a positive value for the batch size.</div>
              </div>
            </span>
          </td>
          <td ng-form="cellForm2">
            <span ng-show="!edit">
              {{slot.startDate|date:format:'longDate'}}
            </span>
            <span ng-show="edit">
              <div ng-class="{ &quot;has-error&quot; : cellForm2.startDate.$invalid &amp;&amp; cellForm2.startDate.$dirty }" class="form-group has-feedback">
                <input type="date" class="form-control custom-margin-bottom-15" ng-model="slot.startDate" value="{{slot.startDate | date:format:'dd-MM-yyyy'}}" name="startDate" ng-change="change(slot.startDate)">
                <div ng-show="past" class="text-danger text-center">
                  Slot start date cannot be in the past. Please enter a valid start date for the slot.
                </div>
              </div>
            </span>
          </td>
          <td>
            <span ng-show="!edit" class="capitalize-text">
              {{slot.status}}
            </span>
            <span ng-show="edit">
              <select class="form-control custom-margin-bottom-15" ng-model="slot.status" ng-show="edit">
                <option value="unpublished" selected>Unpublished</option>
                <option value="new">New</option>
                <option value="closed">Closed</option>
                <option value="open">Open</option>
              </select>
            </span>
          </td>
          <td>
            <a class="btn btn-primary btn-xs" href="" ng-click="edit=!edit" ng-show="!edit"><i class="fa fa-pencil fa-lg"></i> </a><a class="btn btn-primary btn-xs" href="" ng-click="confirmDelete(slot._id)" ng-show="!edit"><i class="fa fa-trash-o fa-lg"></i> </a> <a class="btn btn-primary btn-xs" href="" ng-click="edit=!edit; getCourseDetails()" ng-show="edit"><i class="fa fa-times fa-lg"></i> </a> <a class="btn btn-primary btn-xs" href="" ng-click="updateSlot(slot._id, slot.city, slot.location, slot.batchSize, slot.startDate, slot.status)" ng-disabled="cellForm1.$invalid || past == true" ng-show="edit"><i class="fa fa-floppy-o fa-lg"></i> </a>
          </td>
        </tr>

      </tbody>
    </table>
  </form  >

  <div class="col-md-12">
    <hr>
  </div>

  <div class="col-md-2 col-md-offset-5" ng-show="!addNewSlot">
    <button class="btn btn-primary" type="submit" ng-click="addNewSlot=!addNewSlot">Add a New Slot</button>
  </div>

  <div class="col-md-12" ng-show="addNewSlot">
    <form class="form" name="updateSlotForm">
      <div class="col-md-12">
        <label>City</label>
      </div>
      <input type="text" class="form-control custom-margin-bottom-15" ng-model="slot.city">
      <div class="col-md-12">
        <label>Location</label>
      </div>
      <input type="text" class="form-control custom-margin-bottom-15" ng-model="slot.location">
      <div ng-class="{ &quot;has-error&quot; : updateSlotForm.batchSize.$invalid &amp;&amp; updateSlotForm.batchSize.$dirty }" class="form-group has-feedback">
        <div class="col-md-12">
          <label>Batch Size</label>
        </div>
        <input type="number" class="form-control custom-margin-bottom-15" ng-model="slot.batchSize" min="0" name="batchSize">
        <div ng-if="updateSlotForm.batchSize.$dirty" ng-messages="updateSlotForm.batchSize.$error" class="help-block text-danger text-center">
          <div ng-message="number">Please enter a valid batch size.</div>
          <div ng-message="min">Batch size cannot be negative. Please enter a positive value for the batch size.</div>
        </div>
      </div>
      <div class="col-md-12">
        <label>Start Date</label>
      </div>
      <div ng-class="{ &quot;has-error&quot; : updateSlotForm.startDate.$invalid &amp;&amp; updateSlotForm.startDate.$dirty }" class="form-group has-feedback">
        <input type="date" class="form-control custom-margin-bottom-15" ng-model="slot.startDate" value="{{slot.startDate | date:format:'dd-MM-yyyy'}}" name="startDate" min="{{currentDateForAddNew}}">
        <div ng-if="updateSlotForm.startDate.$dirty" ng-messages="updateSlotForm.startDate.$error" class="help-block text-danger text-center">
          <div ng-message="min">Slot start date cannot be in the past. Please enter a valid start date for the slot.</div>
        </div>
      </div>
      <div class="col-md-12">
        <label>Slot Status</label>
      </div>
      <select class="form-control custom-margin-bottom-15" ng-model="slot.status">
        <option value="unpublished" selected>Unpublished</option>
        <option value="new">New</option>
        <option value="closed">Closed</option>
        <option value="open">Open</option>
      </select>
      <div class="col-md-2 col-md-offset-4">
        <button class="btn btn-primary" ng-click="updateSlot(slot._id, slot.city, slot.location, slot.batchSize, slot.startDate, slot.status)" ng-disabled="updateSlotForm.$invalid">Add Slot</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="addNewSlot=!addNewSlot">Cancel</button>
      </div>
    </form>
  </div>
  <modal-dialog class="inviteMessageModal" show='deleteModalShown' dialog-title="Confirmation" height="auto" width="350px">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Are you sure you want to delete this slot?</p>
      </div>
      <div class="col-md-6 text-center">
        <button class="btn btn-primary btn-md" ng-click="deleteSlot()"> OK </button>
      </div>
      <div class="col-md-6 text-center">
        <button class="btn btn-primary btn-md" ng-click="closeConfirmDelete()"> Cancel </button>
      </div>
    </div>
  </modal-dialog>
</div>