<div class="tab-section-one" ng-controller="AdminEditCourseTestimonialsCtrl">

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="testimonial in course.testimonials">
        <td class="col-md-3">
          <p ng-show="!testimonial.image"> No image uploaded yet </p>
          <img ng-show="testimonial.image" src="{{testimonial.image}}" width="200px"/><br><br>
          <span class="pull-left"><a href="" ng-click="upload = !upload"> <i class="fa fa-pencil fa-lg" ng-show="!upload"></i><i class="fa fa-times fa-lg" ng-show="upload"></i> </a><a href="" ng-show="testimonial.image" ng-click="confirmDelete(testimonial._id,'testimonial image')"> <i class="fa fa-trash-o fa-lg" ng-show="!upload"></i></a></span><br>
          <div class="input-group  custom-margin-bottom-15" ng-show="upload">
            <div class="input-group-addon input-md">
              <i class="fa fa-upload"></i>
            </div>
            <!--              <input type="text" class="form-control" ng-model="testimonial.image">-->
            <div class="input-group-addon input-md">
              <input type="file" nv-file-select uploader="uploader" class="choose-image-file">
            </div>
          </div>

          <table class="table" ng-show="uploader.queue.length !='0' && upload">
            <thead >
              <tr>
                <th width="20%">Name</th>
                <th width="20%" ng-show="uploader.isHTML5">Size</th>
                <th width="30%" ng-show="uploader.isHTML5">Progress</th>
                <!--              <th width="20%">Status</th>-->
                <th width="30%">Actions</th>
              </tr>
            </thead>
            <tr ng-repeat="item in uploader.queue">
              <td><strong>{{ item.file.name }}</strong>
                <!-- Image preview-->
                <!-- auto height-->
                <!-- <div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                <!-- auto width-->
                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                <!-- fixed width and height-->
                <!-- <div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
              </td>
              <td ng-show="uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="uploader.isHTML5">
                <div style="margin-bottom: 0;" class="progress">
                  <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                </div>
              </td>
              <!--            <td class="text-center"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span><span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span></td>-->
              <td nowrap="">
                <button type="button" ng-click="sendData(testimonial._id);item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-success btn-xs"><span class="fa fa-upload"></span> Upload</button>
                <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs"><span class="fa fa-times"></span> Cancel</button>
                <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs"><span class="fa fa-trash-o"></span> Remove</button>
              </td>
            </tr>

          </table>

        </td>
        <td class="col-md-8">
          <form name="updateTestimonialForm">
            <div class="col-md-12">
              <label>Name</label>
              <span ng-show="!edit"><p>{{testimonial.name}}</p></span>
            </div>
            <div ng-class="{ &quot;has-error&quot; : updateTestimonialForm.name.$invalid &amp;&amp; updateTestimonialForm.name.$dirty }" class="form-group has-feedback">
              <input type="text" class="form-control custom-margin-bottom-15" ng-model="testimonial.name" ng-required="edit" name="name" ng-show="edit">
              <div ng-if="updateTestimonialForm.name.$dirty" ng-messages="updateTestimonialForm.name.$error" class="help-block text-danger text-center">
                <div ng-message="required">Testimonial name is required.</div>
              </div>
            </div>
            <div class="col-md-12">
              <label>Description</label>
              <span ng-show="!edit"><p>{{testimonial.description}}</p></span>
            </div>
            <textarea rows="3" type="text" class="form-control custom-margin-bottom-15" ng-model="testimonial.description" ng-show="edit"></textarea>

            <div class="col-md-12">
              <!--              <label>Image URL:  </label>-->
              <!--              -->
              <!--            </div>-->

              <!--
<div class="col-md-12 text-center help-block" ng-show="showImageHelpInfo">
Note: New image path will be displayed after clicking on "UPDATE" button
</div>
-->

              <div class="col-md-2 col-md-offset-5" ng-show="edit">
                <button class="btn btn-primary" ng-click="updateTestimonial(testimonial._id, testimonial.name, testimonial.description)">Update</button>
              </div>
<!--
              <div class="col-md-2" ng-show="edit">
                <button class="btn btn-primary" ng-click="confirmDelete(testimonial._id, 'testimonial')">Delete</button>
              </div>
-->
              </form>
            </td>
        <td class="col-md-1">
         <a href="" ng-show="!edit" ng-click="confirmDelete(testimonial._id, 'testimonial')"> <i class="fa fa-trash-o pull-right"></i> </a> <a href="" ng-show="!edit" ng-click="edit = !edit"> <i class="fa fa-pencil pull-right"></i> </a> <a href="" ng-show="edit" ng-click="edit = !edit"> <i class="fa fa-times pull-right"></i> </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="col-md-12">
    <hr>
  </div>

  <div class="col-md-2 col-md-offset-5" ng-show="!addNewTestimonial">
    <button class="btn btn-primary" type="submit" ng-click="addNewTestimonial=!addNewTestimonial">Add a new testimonial</button>
  </div>

  <div class="col-md-12" ng-show="addNewTestimonial">
    <form name="updateTestimonialForm">
      <div class="col-md-12">
        <label>Name</label>
      </div>
      <div ng-class="{ &quot;has-error&quot; : updateTestimonialForm.name.$invalid &amp;&amp; updateTestimonialForm.name.$dirty }" class="form-group has-feedback">
        <input type="text" class="form-control custom-margin-bottom-15" ng-model="testimonial.name" ng-required="addNewTestimonial" name="name">
        <div ng-if="updateTestimonialForm.name.$dirty" ng-messages="updateTestimonialForm.name.$error" class="help-block text-danger text-center">
          <div ng-message="required">Testimonial name is required.</div>
        </div>
      </div>
      <div class="col-md-12">
        <label>Description</label>
      </div>
      <textarea rows="3" type="text" class="form-control custom-margin-bottom-15" ng-model="testimonial.description"></textarea>
      <div class="col-md-2 col-md-offset-4">
        <button class="btn btn-primary" ng-click="updateTestimonial(testimonial._id, testimonial.name, testimonial.description)">Update</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="addNewTestimonial=!addNewTestimonial">Cancel</button>
      </div>
    </form>

  </div>

  
  <modal-dialog class="inviteMessageModal" show='deleteModalShown' dialog-title="Confirmation" height="auto" width="350px">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Are you sure you want to delete this {{modalInfo}}?</p>
      </div>
      <div class="col-md-6 text-center">
        <button class="btn btn-primary btn-md" ng-click="delete()"> OK </button>
      </div>
      <div class="col-md-6 text-center">
        <button class="btn btn-primary btn-md" ng-click="closeConfirmDelete()"> Cancel </button>
      </div>
    </div>
  </modal-dialog>
</div>