
<!-- ========== SIGNUP WITH EMAIL MODAL ========== -->

<modal-dialog class="signupWithEmailModal" show='signupWithEmailModalShown' dialog-title="Signup" height="auto" width="350px">
    <form method="post" name="signupWithEmailForm" ng-controller="SignupCtrl">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.fullname.$invalid &amp;&amp; signupWithEmailForm.fullname.$dirty }" class="form-group has-feedback">
                <input type="text" name="fullname" ng-model="fullname" placeholder="Full Name" required="" autofocus="" class="form-control input-md"/>
                <div ng-if="signupWithEmailForm.fullname.$dirty" ng-messages="signupWithEmailForm.fullname.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter your full name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.username.$invalid &amp;&amp; signupWithEmailForm.username.$dirty }" class="form-group has-feedback">
                <input type="text" name="username" ng-model="username" placeholder="Username" required="" autofocus="" class="form-control input-md"/>
                <div ng-if="signupWithEmailForm.username.$dirty" ng-messages="signupWithEmailForm.username.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter a username.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.email.$invalid &amp;&amp; signupWithEmailForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" unique-email="" required="" class="form-control input-md"/>
                <div ng-if="signupWithEmailForm.email.$dirty" ng-messages="signupWithEmailForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.password.$invalid &amp;&amp; signupForm.password.$dirty }" class="form-group has-feedback">
                <input type="password" name="password" ng-model="password" placeholder="Password" required="" class="form-control input-md"/>
                <div ng-if="signupWithEmailForm.password.$dirty" ng-messages="signupWithEmailForm.password.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">A Password is required.</div>
                </div>
            </div>

            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.type.$invalid &amp;&amp; signupForm.type.$dirty }" class="form-group has-feedback">
                <select class="form-control input-md" ng-model="type">
                    <option>Student</option>
                    <option>Professional</option>
                    <option>Other</option>
                </select>
                <div ng-if="signupWithEmailForm.type.$dirty" ng-messages="signupWithEmailForm.type.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Select an option.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.college.$invalid &amp;&amp; signupForm.college.$dirty }" class="form-group has-feedback">
                <input type="text" name="college" ng-model="college" placeholder="College Name"  class="form-control input-md" ng-show="type == 'Student'" ng-required="type == 'Student'"/>
                <div ng-if="signupWithEmailForm.college.$dirty" ng-messages="signupWithEmailForm.college.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter your College name.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.stream.$invalid &amp;&amp; signupForm.stream.$dirty }" class="form-group has-feedback">
                <input type="text" name="stream" ng-model="stream" placeholder="Stream" class="form-control input-md" ng-show="type == 'Student'" ng-required="type == 'Student'"/>
                <div ng-if="signupWithEmailForm.stream.$dirty" ng-messages="signupWithEmailForm.stream.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter your stream.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.year.$invalid &amp;&amp; signupForm.year.$dirty }" class="form-group has-feedback">
                <input type="text" name="year" ng-model="year" placeholder="Year" class="form-control input-md" ng-show="type == 'Student'" ng-required="type == 'Student'"/>
                <div ng-if="signupWithEmailForm.year.$dirty" ng-messages="signupWithEmailForm.year.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter your Year.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.organization.$invalid &amp;&amp; signupForm.organization.$dirty }" class="form-group has-feedback">
                <input type="text" name="organization" ng-model="organization" placeholder="Organization" class="form-control input-md" ng-show="type == 'Professional'" ng-required="type == 'Professional'"/>
                <div ng-if="signupWithEmailForm.organization.$dirty" ng-messages="signupWithEmailForm.organization.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter the name of your Organization.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.workDesc.$invalid &amp;&amp; signupForm.workDesc.$dirty }" class="form-group has-feedback">
                <textarea type="text" name="organization" ng-model="workDesc" placeholder="Describe what you do" class="form-control input-md" ng-show="type == 'Other'" ng-required="type == 'Other'"></textarea>
                <div ng-if="signupWithEmailForm.workDesc.$dirty" ng-messages="signupWithEmailForm.workDesc.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">Please enter a short description of what you do.</div>
                </div>
            </div>
            <div>
                <input type="number" name="mobile" ng-model="mobile" placeholder="We will send you updates to your number" class="form-control input-md mobile-number"/>
            </div>

        </div>
        <!--
<div class="social-login-buttons">
<button type="button" class="btn btn-md signup-button social-signup btn-linkedin"> <span><i class="fa fa-linkedin-square"></i></span> <span>Linkedin</span> </button>
<br>
<br>
<button type="button" class="btn btn-md signup-button social-signup btn-github"> <span><i class="fa fa-github-square"></i></span> <span>Github</span> </button>
<br>
<br>
<button type="button" class="btn btn-md signup-button social-signup btn-facebook"> <span><i class="fa fa-facebook-square"></i></span> <span>Facebook</span> </button>
</div>
-->
        <div class="modalButtons text-center">
            <button class="btn btn-md angularCancelButton cancelButton" type="button" ng-click="signupWithEmailModal()"> Cancel </button>
            <button class="btn btn-md successButton " ng-disabled="signupWithEmailForm.$invalid" ng-click="signup();signupWithEmailModal();"> Signup </button>
        </div>
    </form>  
</modal-dialog>
<!-- ========== SIGNUP WITH EMAIL MODAL ENDS ========== -->
