
<!-- ========== SIGNUP WITH EMAIL MODAL ========== -->

<modal-dialog class="signupWithEmailModal" show='signupWithEmailModalShown' dialog-title="Signup" height="auto" width="350px">
    <form method="post" name="signupWithEmailForm" ng-controller="SignupCtrl">    
        <div class="register-modal">
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.username.$invalid &amp;&amp; signupWithEmailForm.username.$dirty }" class="form-group has-feedback">
                <input type="text" name="username" ng-model="username" placeholder="Username" required="" autofocus="" class="form-control input-md"/>
                <div ng-if="signupWithEmailForm.username.$dirty" ng-messages="signupWithEmailForm.username.$error" class="help-block text-danger">
                    <div ng-message="required">You must enter a username.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.email.$invalid &amp;&amp; signupWithEmailForm.email.$dirty }" class="form-group has-feedback">
                <input id="email"  type="email" name="email" ng-model="email" placeholder="Email" unique-email="" required="" class="form-control input-md"/>
                <div ng-if="signupWithEmailForm.email.$dirty" ng-messages="signupWithEmailForm.email.$error" class="help-block text-danger">
                    <div ng-message="required">Your email address is required.</div>
                    <div ng-message="email">Your email address is invalid.</div>
                </div>
            </div>
            <div ng-class="{ &quot;has-error&quot; : signupWithEmailForm.tel.$invalid &amp;&amp; signupForm.tel.$dirty }" class="form-group has-feedback">
                <input type="password" name="password" ng-model="password" placeholder="Password" required="" class="form-control input-md"/>
                <div ng-if="signupWithEmailForm.password.$dirty" ng-messages="signupWithEmailForm.password.$error" class="help-block text-danger" style="color:#a94442">
                    <div ng-message="required">A Password is required.</div>
                </div>
            </div>
        </div>
        <div class="social-login-buttons">
            <button type="button" class="btn btn-md signup-button social-signup btn-linkedin"> <span><i class="fa fa-linkedin-square"></i></span> <span>Linkedin</span> </button>
            <br>
            <br>
            <button type="button" class="btn btn-md signup-button social-signup btn-github"> <span><i class="fa fa-github-square"></i></span> <span>Github</span> </button>
            <br>
            <br>
            <button type="button" class="btn btn-md signup-button social-signup btn-facebook"> <span><i class="fa fa-facebook-square"></i></span> <span>Facebook</span> </button>
        </div>
        <div class="modalButtons text-center">
            <button class="btn btn-md angularCancelButton cancelButton" type="button" ng-click="signupWithEmailModal()"> Cancel </button>
            <button class="btn btn-md successButton " ng-disabled="signupWithEmailForm.$invalid" ng-click="signup();signupWithEmailModal();loginModal()"> Signup </button>
        </div>
    </form>  
</modal-dialog>
<!-- ========== SIGNUP WITH EMAIL MODAL ENDS ========== -->
