<modal-dialog class="sendResumeModal" show='sendResumeModalShown' dialog-title="Initial screening in progress" height="auto" width="350px">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Initial <strong>screening in progress</strong>. If you're interested, drop in your resume at info@codegurukul.com. Registration window for online payment will open from 28th May for selected students.</p>
            <p class="text-center">Regards,<br>The CodeGurukul Team</p>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-md" ng-click="info()"> OK </button>
        </div>
    </div>
</modal-dialog>