<form role="form">
    <h3>{{user.profile.fullname}}</h3>
    <h2>Points <span class="pull-right">{{user.points}}</span></h2>
    <ul data-toggle="validator">
        <li class="profile-details">
            <input class="form-control" type="text" placeholder="Where you at?" ng-model="user.profile.location">
        </li>
        <li class="profile-details">
            <input class="form-control" type="email" placeholder="Email goes here" ng-model="user.email" required>
        </li>
        <li class="profile-details">
            <select class="form-control" ng-model="user.profile.gender">
                <option>Female</option>
                <option>Male</option>
                <option>Other</option>
                <option>Its a secret</option>
                <option>Not sure</option>
            </select>
        </li>
        <li class="profile-details">
            <input class="form-control" type="date" placeholder="How old u are?" value="{{user.profile.dob}}">
        </li>
        <li class="profile-details">
            <input class="form-control" type="url" placeholder="You have a website?" ng-model="user.profile.website">
        </li>
        <li class="profile-details">
            <input class="form-control" type="url" placeholder="The book of faces" ng-model="user.profile.facebook">
        </li>
        <li class="profile-details">
            <input class="form-control" type="url" placeholder="Twitter" ng-model="user.profile.twitter">
        </li>
        <li class="profile-details">
            <input class="form-control" type="url" placeholder="Google" ng-model="user.profile.google">
        </li>
        <li class="profile-details">
            <input class="form-control" type="text" placeholder="Github" ng-model="user.profile.github">
        </li>
        <li class="profile-details">
            <input class="form-control" type="text" placeholder="Where you work?" ng-model="user.profile.organization">
        </li>
        <li class="profile-details">
            <input class="form-control" type="text" placeholder="Where you study?" ng-model="user.profile.college">
        </li>
        <li class="profile-details">
            <input class="form-control" type="text" placeholder="What you at?" ng-model="user.profile.branch">
        </li>
        <!--		<li class="profile-details">-->
        <!--		</li>-->
        <li class="profile-details">
            <input class="form-control" type="text" placeholder="How long you work?" ng-model="user.profile.experience">
        </li>
        <tags-input  type="text" placeholder="What you can do?" ng-model="user.profile.skills"></tags-input>
    </ul>
    <button type="submit" class="btn btn-primary btn-sm" ng-click="newDate()"> <i class="fa fa-pencil"></i> Save</button>
</form>